<div class="div-btn-opt no-imprimir">
  <backIcon (click)="regresar()" />
  <printIcon (click)="imprimir()" />

</div>

<div class="container-impresion imprimir-esto blanco">
  <img class="" src="assets/cabecera.png" height="218">

  <div>
    <p class="text-end">Tecpán Guatemala, {{documetos?.fecha | anyToText | FormatoFechaCompleta}}</p>
    <div class="d-flex justify-content-end m-0 p-0">
      <p class="text-end p-0 m-0">No.</p> <p class="h4 m-0 p-0">{{documetos?.doc}}</p>
    </div>

    <p my-5></p>
   <ng-container >




   </ng-container>
    <p class="text-start text-wrap "> Señores del RENAP</p>
    <p></p>
    <p class="text-start text-wrap "> Para los efectos legales de la inscripción correspondiente, informó que en la fecha {{documetos?.fecha_parto | anyToText | FormatoFechaCompleta}} en  este Hospital General Tipo I de Tecpán Guatemala, Barrio San Antonio Sector Pachulalí de Tecpán Guatemala, dio a luz la paciente:</p>
  </div>
  <div>
    <h3 class="text-center"> {{documetos?.madre | anyToText | capitalizeName}} </h3>
  </div>

  <div>
    <p></p>
    <p class="text-start text-wrap" *ngIf="documetos?.dpi && documetos?.edad >= 18"> Se identifica con Documento Personal de Identificación con Código Único de Identificación {{documetos?.dpi | anyToText | formatoDPI}} extendido por el Registro Nacional de las Personas de la Republica de Guatemala. De {{documetos?.edad}} años de edad. Originaria de {{documetos?.muni | anyToNumber | enumMunicipio}} y vecina de {{documetos?.vecindad |anyToNumber | enumVecindad}}.</p>


    <p class="text-start text-wrap" *ngIf="documetos?.folio && documetos?.dpi">
      Se identifica con Certificado de Nacimiento Con Partida {{documetos?.partida }}, Folio {{documetos?.folio}}
      del libro {{documetos?.libro}}, del Registro Civil del Municipio de {{documetos?.muni | anyToNumber | enumMunicipio}}, del Departamento de
      {{documetos?.depto | anyToNumber | enumDepto}} con Código Único de Identificación {{documetos?.dpi}}. De {{documetos?.edad}} años de edad. Originaria de
      {{documetos?.muni | anyToNumber | enumMunicipio}}, {{documetos?.depto | anyToNumber | enumDepto}} y vecina de {{documetos?.vecindad | anyToNumber | enumMunicipio}}.

    </p>
    <p class="text-start text-wrap" *ngIf="documetos?.folio && !documetos?.dpi">
      Se identifica con Certificado de Nacimiento Con Partida {{documetos?.partida }}, Folio {{documetos?.folio}}
      del libro {{documetos?.libro}}, del Registro Civil del Municipio de {{documetos?.muni | anyToNumber | enumMunicipio}}, del Departamento de
      {{documetos?.depto | anyToNumber | enumDepto}}. De {{documetos?.edad}} años de edad. Originaria de
      {{documetos?.muni | anyToNumber | enumMunicipio}}, {{documetos?.depto | anyToNumber | enumDepto}} y vecina de {{documetos?.vecindad | anyToNumber | enumMunicipio}}.

    </p>
    <p class="text-start text-wrap" *ngIf="documetos?.dpi && documetos?.edad < 18 && !documetos?.folio">
      Se identifica con Certificado de Nacimiento del Registro Civil del Municipio de {{documetos?.muni | anyToNumber | enumMunicipio}}, del Departamento de
       {{documetos?.depto | anyToNumber | enumDepto}} con Código Único de Identificación {{documetos?.dpi |anyToText | formatoDPI}}.
       De {{documetos?.edad}} años de edad. Originaria de
      {{documetos?.muni | anyToNumber | enumMunicipio}}, {{documetos?.depto | anyToNumber | enumDepto}} y vecina de {{documetos?.vecindad | anyToNumber | enumMunicipio}}.

      </p>
      <p class="text-start text-wrap" *ngIf="documetos?.passport && !documetos?.dpi">
        Se identifica con No. de pasaporte {{documetos?.passport}} Tipo P  codigo de pasaporte NIC de nacionalidad {{documetos?.nacionalidad}}.
         De {{documetos?.edad}} años de edad. Originaria de {{documetos?.pais}}.

        </p>






  </div>
  <div>
    <p></p>
    <p class="text-start text-wrap"> Un producto de sexo: {{documetos?.sexo_rn | anyToText | sexo}} que pesó {{documetos?.lb}} libras {{documetos?.onz}} onzas, a las {{documetos?.hora | anyToText | formatoHora}}. Parto que fue atendido por {{pronombre}} {{documetos?.medico | anyToText | capitalizeName}}  Colegiado Activo {{documetos?.colegiado}} Con Código único De Identificación
      {{documetos?.dpi_medico | anyToText | formatoDPI}}.</p>
  </div>
  <div>
    <p></p>
    <p class="text-start text-wrap"> Número de hijos que ha tenido la madre entre nacidos vivos y muertos incluyendo al que ahora se registra: {{documetos?.hijos}} entre ellos cuantos nacieron muertos {{documetos?.muertos}} y cuantos viven {{documetos?.vivos}}.</p>
    <p></p>
  </div>
  <div>
    <p></p>
    <p class="text-start">Tipo de Parto: <strong>{{documetos?.tipo_parto | anyToNumber | enumTipoParto}}</strong> </p>
    <p class="text-start">Clase de Parto: <strong>{{documetos?.clase_parto | anyToNumber | enumClaseParto}}</strong> </p>
  </div>

  <div class="container espacioBlanco"></div>
  <div class="container espacioBlanco"></div>
  <div class="container espacioBlanco"></div>
  <div>
    <p></p>
    <p class="text-center text-capitalize">{{documetos?.certifica}}
      <br/>
      Auxiliar de Registros Médicos
      <br/>
      Hospital General Tipo I de Tecpán Guatemala
    </p>
    <p class="text-center"></p>
    <p class="text-center"></p>
  </div>


</div>

<div>
  <img class="" src="assets/pie.jpg" height="125.8">
</div>
