<div class="d-flex-desktop">
  <div *ngIf="showAlertSuccess" class="alert alert-dismissible alert-success">
    <closeIcon (click)="closeAlert()"/>
    <strong>{{ message }}</strong>
  </div>

  <div *ngIf="showAlertWarning" class="alert alert-dismissible alert-warning">
    <closeIcon data-bs-dismiss="alert"/>

    <h4 class="alert-heading">Warning!</h4>
    <p class="mb-0">{{message}}</p>
  </div>
  <div class="search-container col-md-5">
    <div class="border rounded p-3">
      <div class="row">
        <div class="col-md-3 text-center">
          <strong class="text-center f-negrita">Id de Consulta</strong>
          <p class="p-0 my-0">{{ info.id_consulta }}</p>
        </div>

        <div class="col-md-3 text-center">
          <strong class="text-center f-negrita">Expediente</strong>
          <p class="p-0 my-0">{{ info.expediente }}</p>
        </div>

        <div class="col-md-6 text-center">
          <strong class="text-center f-negrita">Paciente</strong>
          <p class="p-0 my-0">{{ info.nombres | anyToText | capitalizeName }} {{ info.apellidos | anyToText | capitalizeName }}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mt-2">
        <p class="p-auto">Estado del Paciente: <span class="f-negrita">{{info.estado | anyToNumber | enumEstado}}</span></p>
        <p>Situación: <span class="f-negrita">{{info.situacion | anyToNumber | enumSituacion}}</span></p>
        <p>Estadia: <span class="f-negrita">{{info.estadia | anyToNumber | enumEstadia}}</span></p>
        <p>Lugar de Referencia: <span class="f-negrita">{{info.lugar_referencia | anyToNumber | enumReferencia}}</span></p>
        <p>Fecha de Referencia: <span class="f-negrita">{{info.fecha_referencia | anyToText | formatoFecha}}</span></p>
        <p>Especialidad: <span class="f-negrita">{{info.especialidad | anyToNumber | enumEspecialidad}}</span></p>
        <p>Servicio: <span class="f-negrita">{{info.servicio | anyToNumber | enumServicios}}</span></p>
        <p>Evolución: <span class="f-negrita">{{info.evolucion }}</span></p>
        <p>Estudios: <span class="f-negrita">{{info.estudios}}</span></p>
        <p>Diagnóstico: <span class="f-negrita">{{diagnotico}}</span></p>
      </div>
    </div>

  </div>
  <div class="search-container col-md-7">
    <div class="div-btn-icons">
      <backIcon (click)="regresar()" />
      <saveIcon (click)="registrar()" data-bs-dismiss="modal" aria-label="Close" />
      <editIcon [routerLink]="['/formUisau/edit', info.id]" *ngIf="username == 'cuxil' || username == 'chak'" />
    </div>
    <form class="custom-form">
      <div class="custom-form-group">
        <label for="contacto" class="">Contacto</label>
        <input class="custom-input" type="text" name="contacto" id="contacto" [(ngModel)]="info.contacto" autocomplete="off">
      </div>
      <div class="custom-form-group">
        <label class="">Parentesco</label>
        <select id="parentesco" class="custom-input" [(ngModel)]="info.parentesco" name="parentesco" autofocus>
          <option></option>
          <option *ngFor="let option of op.parentesco" [value]="option.value">{{option.label}}</option>
        </select>
      </div>
      <div class="custom-form-group">
        <label class="">Teléfono</label>
        <input type="number" name="telefono" id="telefono" class="custom-input" [(ngModel)]="info.telefono" autocomplete="off">
      </div>
      <div class="custom-form-group">
        <label class="">¿Se informó?</label>
        <select id="informacion" class="custom-input" [(ngModel)]="info.informacion" name="informacion" autofocus>
          <option value="SI">SI</option>
          <option value="NO">NO</option>
          <option value="NR">No Responde</option>
          <option value="NE">No Está</option>
          <option value="TI">Teléfono Incorrecto</option>
        </select>
      </div>
      <div class="custom-form-group">
        <label class="">Nota</label>
        <textarea class="custom-input" name="nota" id="nota" [(ngModel)]="info.nota"></textarea>
      </div>


    </form>


  </div>

</div>




