<div class="search-container">
  <div class="div-btn-icons">
    <eliminarIcon (click)="borrar()" [routerLink]="['/listProce']" />
    <saveIcon (click)="edit ? editar() : crear()" autofocus />
    <backIcon data-bs-dismiss="modal" (click)="regresar()" />
  </div>
  <h3 class="text-center">Formulario Codigó de Procedimiento</h3>
  <form class="custom-form" autocomplete="off">
        <div class="custom-form-group">
          <label class="" for="id">Id:</label>
          <input type="text" class="custom-input" [(ngModel)]="proce.id" name="id" disabled>
        </div>
        <div class="custom-form-group">
          <label class="" for="expediente">Abreviatura:</label>
          <input type="text" class="custom-input text-uppercase" id="abreviatura" name="abreviatura" [(ngModel)]='proce.abreviatura' >
        </div>

        <div class="custom-form-group">
          <label class="" for="expediente">Procedimiento:</label>
          <input type="text" class="custom-input text-uppercase" id="procedimiento" name="procedimiento"  [(ngModel)]='proce.procedimiento'  >
        </div>
  </form>
</div>
