<app-registros></app-registros>
<div class="mt-3 ">
  <h2 class="text-center text-light">Registro de Consulta Externa</h2>
 <div class="  ">


    <div class="container-fluid justify-content-center text-center p-0 my-0 ">
      <form class="form-inline d-flex w-25 mx-auto">
        <div class="form-group flex-grow-1 ">
          <h6 class="text-warning" for="day">Día</h6>
          <input type="text text-size-sm-6" class="form-control text-center" id="day" name="day" [(ngModel)]="day" placeholder="Día" (ngModelChange)="updateDate()" disabled="">
        </div>

        <div class="form-group mx-2 flex-grow-1">
          <h6 class="text-warning" for="month">Mes</h6>
          <input type="text" class="form-control text-center" id="month" name="month" [(ngModel)]="month" placeholder="Mes" (ngModelChange)="updateDate()" disabled="">
        </div>

        <div class="form-group flex-grow-1">
          <h6 class="text-warning" for="year">Año</h6>
          <input type="text" class="form-control text-center" id="year" name="year" [(ngModel)]="year" placeholder="Año" (ngModelChange)="updateDate()" disabled="">
        </div>
      </form>

      <button class="btnS d-flex rounded text-waning mx-5 p-1" [routerLink]="['/citas']">C i t a s .
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-calendar-day" viewBox="0 0 16 16">
          <path d="M4.684 11.523v-2.3h2.261v-.61H4.684V6.801h2.464v-.61H4v5.332h.684zm3.296 0h.676V8.98c0-.554.227-1.007.953-1.007.125 0 .258.004.329.015v-.613a1.806 1.806 0 0 0-.254-.02c-.582 0-.891.32-1.012.567h-.02v-.504H7.98v4.105zm2.805-5.093c0 .238.192.425.43.425a.428.428 0 1 0 0-.855.426.426 0 0 0-.43.43zm.094 5.093h.672V7.418h-.672v4.105z"/>
          <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
        </svg>
      </button>
    </div>
<hr class="p-0 my-1">


    <div class="mt-1">
      <div class="row d-flex justify-content-between">
        <div class="col-md-6">
          <!-- Contenido de la columna izquierda  tabla de pacientes-->
          <!-- <nuevaConsulta></nuevaConsulta> -->
          <nuevaConsulta></nuevaConsulta>
        </div>

        <div class=" col-md-6  btn">
          <!-- Contenido de la columna derecha -->
          <div class="d-flex justify-content-end">
            <button class="btnS rounded p-1" [routerLink]="['/coexreport']" >Reporte <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer" viewBox="0 0 16 16">
              <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
              <path d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2H5zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4V3zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2H5zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1z"/>
            </svg></button>
          </div>
          <hr class="my-0 mt-1 p-1">
          <!-- Primer contenedor Medicina -->
          <div class="container-fluid  mt-1">
            <h4 class="text-center">{{ 1 | enumEspecialidad }}</h4>
            <div class="table-responsive">
              <!-- Tabla de Medicina -->
              <div class="table-responsive">
                <table class="table table-hover table-auto table-black" *ngIf="consultasMedi.length > 0">
                  <!-- Encabezados de columna -->
                  <thead>
                    <tr>
                      <th class="text-center" scope="col"></th>
                      <th class="text-center" scope="col">No.</th>
                      <th class="text-center" scope="col">Expediente</th>
                      <th class="text-center" scope="col">Nombre</th>
                      <th class="text-center" scope="col" >Hora</th>
                      <th class="text-center" scope="col" >Status</th>

                    </tr>
                  </thead>
                  <!-- Datos de la tabla -->
                  <tbody>
                    <tr *ngFor="let coex of consultasMedi; let i = index">
                      <td class="text-center"  (click)="copiarId(coex.id)" data-bs-toggle="modal" data-bs-target="#opciones">
                        <svg xmlns="http://www.w3.org/2000/svg"
                        width="16" height="16" fill="currentColor"
                          class="bi bi-grip-vertical" viewBox="0 0 16 16">
                        <path d="M7 2a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM7 5a1 1 0 1 1-2 0 1 1 0 0 1 2
                        0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM7 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-3
                        3a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-3 3a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1
                        1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                      </svg></td>
                      <td class="text-center">{{ contador + i + 1 }}</td>
                      <td class="text-center text-warning" [routerLink]="['/hClinica/view/',coex.expediente]">{{coex.expediente}}<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer" viewBox="0 0 16 16">
                        <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
                        <path d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2H5zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4V3zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2H5zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1z"/>
                      </svg> </td>
                      <td class="text-center">{{ coex.nombres | anyToText | capitalizeName }} {{coex.apellidos | anyToText | capitalizeName}}</td>
                      <td class="text-center"> {{ coex.hora}} </td>
                      <td class="text-center">{{coex.status | anyToNumber | enumStatus}}</td>

                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <hr class="my-0 p-1">
          <!-- Segundo contenedor Pediatría -->
          <div class="container-fluid">
            <h4 class="text-center">{{ 2 | enumEspecialidad }}</h4>
            <div class="table-responsive">
              <!-- Tabla de Pediatría -->
              <table class="table table-hover table-auto table-black" *ngIf="consultasPedia.length > 0">
                <!-- Encabezados de columna -->
                <thead>
                  <tr>
                    <th class="text-center" scope="col"></th>
                    <th class="text-center" scope="col">No.</th>
                    <th class="text-center" scope="col">Expediente</th>
                    <th class="text-center" scope="col">Nombre</th>
                    <th class="text-center" scope="col" >Hora</th>
                    <th class="text-center" scope="col" >Status</th>

                  </tr>
                </thead>
                <!-- Datos de la tabla -->
                <tbody>
                  <tr *ngFor="let coex of consultasPedia; let i = index">
                    <td class="text-center" (click)="copiarId(coex.id)" data-bs-toggle="modal" data-bs-target="#opciones">
                      <svg xmlns="http://www.w3.org/2000/svg"
                      width="16" height="16" fill="currentColor"
                        class="bi bi-grip-vertical" viewBox="0 0 16 16">
                      <path d="M7 2a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM7 5a1 1 0 1 1-2 0 1 1 0 0 1 2
                      0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM7 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-3
                      3a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-3 3a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1
                      1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                    </svg></td>
                    <td class="text-center">{{ contador + i + 1 }}</td>
                    <td class="text-center text-warning" [routerLink]="['/hClinica/view/',coex.expediente]">{{coex.expediente}} <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer" viewBox="0 0 16 16">
                      <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
                      <path d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2H5zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4V3zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2H5zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1z"/>
                    </svg> </td>
                    <td class="text-center">{{ coex.nombres | anyToText | capitalizeName }} {{coex.apellidos | anyToText | capitalizeName}}</td>
                    <td class="text-center"> {{ coex.hora}} </td>
                    <td class="text-center">{{coex.status | anyToNumber | enumStatus}}</td>


                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <hr class="my-0 p-1">
          <!-- Tercer contenedor Ginecología -->
          <div class="container-fluid table-black">
            <h4 class="text-center">{{ 3 | enumEspecialidad }}</h4>
            <div class="table-responsive">
              <!-- Tabla de Ginecología -->
              <table class="table table-hover table-auto table-black" *ngIf="consultasGine.length > 0">
                <!-- Encabezados de columna -->
                <thead>
                  <tr>
                    <th class="text-center" scope="col"></th>
                    <th class="text-center" scope="col">No.</th>
                    <th class="text-center" scope="col">Expediente</th>
                    <th class="text-center" scope="col">Nombre</th>
                    <th class="text-center" scope="col" >Hora</th>
                    <th class="text-center" scope="col" >Status</th>

                  </tr>
                </thead>
                <!-- Datos de la tabla -->
                <tbody>
                  <tr *ngFor="let coex of consultasGine; let i = index">
                    <td class="text-center" (click)="copiarId(coex.id)" data-bs-toggle="modal" data-bs-target="#opciones">
                      <svg xmlns="http://www.w3.org/2000/svg"
                      width="16" height="16" fill="currentColor"
                        class="bi bi-grip-vertical" viewBox="0 0 16 16">
                      <path d="M7 2a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM7 5a1 1 0 1 1-2 0 1 1 0 0 1 2
                      0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM7 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-3
                      3a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-3 3a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1
                      1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                    </svg></td>
                    <td class="text-center">{{ contador + i + 1 }}</td>
                    <td class="text-center text-warning" [routerLink]="['/hClinica/view/',coex.expediente]">{{coex.expediente}} <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer" viewBox="0 0 16 16">
                      <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
                      <path d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2H5zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4V3zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2H5zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1z"/>
                    </svg></td>
                    <td class="text-center">{{ coex.nombres | anyToText | capitalizeName }} {{coex.apellidos | anyToText | capitalizeName}}</td>
                    <td class="text-center"> {{ coex.hora}} </td>
                    <td class="text-center">{{coex.status | anyToNumber | enumStatus}}</td>


                  </tr>
                </tbody>
              </table>

            </div>
          </div>
          <hr class="my-0 p-1">
          <!-- Cuarto contenedor Cirugía -->
          <div class="container-fluid table-black">
            <h4 class="text-center">{{ 4 | enumEspecialidad }}</h4>
            <div class="table-responsive">
              <!-- Tabla de Cirugía -->
              <table class="table table-hover table-auto table-black" *ngIf="consultasCiru.length > 0">
                <!-- Encabezados de columna -->
                <thead>
                  <tr>
                    <th class="text-center" scope="col"></th>
                    <th class="text-center" scope="col">No.</th>
                    <th class="text-center" scope="col">Expediente</th>
                    <th class="text-center" scope="col">Nombre</th>
                    <th class="text-center" scope="col" >Hora</th>
                    <th class="text-center" scope="col" >Status</th>

                  </tr>
                </thead>
                <!-- Datos de la tabla -->
                <tbody>
                  <tr *ngFor="let coex of consultasCiru; let i = index">
                    <td class="text-center" (click)="copiarId(coex.id)" data-bs-toggle="modal" data-bs-target="#opciones">
                      <svg xmlns="http://www.w3.org/2000/svg"
                      width="16" height="16" fill="currentColor"
                        class="bi bi-grip-vertical" viewBox="0 0 16 16">
                      <path d="M7 2a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM7 5a1 1 0 1 1-2 0 1 1 0 0 1 2
                      0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM7 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-3
                      3a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-3 3a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1
                      1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                    </svg></td>
                    <td class="text-center">{{ contador + i + 1 }}</td>
                    <td class="text-center text-warning" [routerLink]="['/hClinica/view/',coex.expediente]">{{coex.expediente}} <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer" viewBox="0 0 16 16">
                      <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
                      <path d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2H5zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4V3zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2H5zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1z"/>
                    </svg></td>
                    <td class="text-center">{{ coex.nombres | anyToText | capitalizeName }} {{coex.apellidos | anyToText | capitalizeName}}</td>
                    <td class="text-center"> {{ coex.hora}} </td>
                    <td class="text-center">{{coex.status | anyToNumber | enumStatus}}</td>

                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <hr class="my-0 p-1">
          <!-- Quinto contenedor Trauma -->
          <div class="container-fluid ">
            <h4 class="text-center">{{ 5 | enumEspecialidad }}</h4>
            <div class="table-responsive">
              <!-- Tabla de Trauma -->
              <table class="table table-hover table-auto table-black" *ngIf="consultasTrauma.length > 0">
                <!-- Encabezados de columna -->
                <thead>
                  <tr>
                    <th class="text-center" scope="col"></th>
                    <th class="text-center" scope="col">No.</th>
                    <th class="text-center" scope="col">Expediente</th>
                    <th class="text-center" scope="col">Nombre</th>
                    <th class="text-center" scope="col" >Hora</th>
                    <th class="text-center" scope="col" >Status</th>

                  </tr>
                </thead>
                <!-- Datos de la tabla -->
                <tbody>
                  <tr *ngFor="let coex of consultasTrauma; let i = index">
                    <td class="text-center" (click)="copiarId(coex.id)" data-bs-toggle="modal" data-bs-target="#opciones">
                      <svg xmlns="http://www.w3.org/2000/svg"
                      width="16" height="16" fill="currentColor"
                        class="bi bi-grip-vertical" viewBox="0 0 16 16">
                      <path d="M7 2a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM7 5a1 1 0 1 1-2 0 1 1 0 0 1 2
                      0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM7 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-3
                      3a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-3 3a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1
                      1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                    </svg></td>
                    <td class="text-center">{{ contador + i + 1 }}</td>
                    <td class="text-center text-warning" [routerLink]="['/hClinica/view/',coex.expediente]">{{coex.expediente}} <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer" viewBox="0 0 16 16">
                      <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
                      <path d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2H5zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4V3zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2H5zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1z"/>
                    </svg></td>
                    <td class="text-center">{{ coex.nombres | anyToText | capitalizeName }} {{coex.apellidos | anyToText | capitalizeName}}</td>
                    <td class="text-center"> {{ coex.hora}} </td>
                    <td class="text-center">{{coex.status | anyToNumber | enumStatus}}</td>


                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <hr class="my-0 p-1">
          <!-- Sexto contenedor Psicologia -->
          <div class="container-fluid ">
            <h4 class="text-center">{{ 6 | enumEspecialidad }}</h4>
            <div class="table-responsive">
              <!-- Tabla de Psicología -->
              <table class="table table-hover table-auto table-black" *ngIf="consultasPsico.length > 0">
                <!-- Encabezados de columna -->
                <thead>
                  <tr>
                    <th class="text-center" scope="col"></th>
                    <th class="text-center" scope="col">No.</th>
                    <th class="text-center" scope="col">Expediente</th>
                    <th class="text-center" scope="col">Nombre</th>
                    <th class="text-center" scope="col" >Hora</th>
                    <th class="text-center" scope="col" >Status</th>

                  </tr>
                </thead>
                <!-- Datos de la tabla -->
                <tbody>
                  <tr *ngFor="let coex of consultasPsico; let i = index">
                    <td class="text-center" (click)="copiarId(coex.id)" data-bs-toggle="modal" data-bs-target="#opciones">
                      <svg xmlns="http://www.w3.org/2000/svg"
                      width="16" height="16" fill="currentColor"
                        class="bi bi-grip-vertical" viewBox="0 0 16 16">
                      <path d="M7 2a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM7 5a1 1 0 1 1-2 0 1 1 0 0 1 2
                      0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM7 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-3
                      3a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-3 3a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1
                      1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                    </svg></td>
                    <td class="text-center">{{ contador + i + 1 }}</td>
                    <td class="text-center text-warning" [routerLink]="['/hClinica/view/',coex.expediente]">{{coex.expediente}} <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer" viewBox="0 0 16 16">
                      <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
                      <path d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2H5zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4V3zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2H5zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1z"/>
                    </svg></td>
                    <td class="text-center">{{ coex.nombres | anyToText | capitalizeName }} {{coex.apellidos | anyToText | capitalizeName}}</td>
                    <td class="text-center"> {{ coex.hora}} </td>
                    <td class="text-center">{{coex.status | anyToNumber | enumStatus}}</td>

                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <hr class="my-0 p-1">
          <!-- Septimo contenedor Nutricion -->
          <div class="container-fluid">
            <h4 class="text-center">{{ 7 | enumEspecialidad }}</h4>
            <div class="table-responsive">
              <!-- Tabla de Nutrición -->
              <table class="table table-hover table-auto table-black" *ngIf="consultasNutri.length > 0">
                <!-- Encabezados de columna -->
                <thead>
                  <tr>
                    <th class="text-center" scope="col"></th>
                    <th class="text-center" scope="col">No.</th>
                    <th class="text-center" scope="col">Expediente</th>
                    <th class="text-center" scope="col">Nombre</th>
                    <th class="text-center" scope="col" >Hora</th>
                    <th class="text-center" scope="col" ></th>

                  </tr>
                </thead>
                <!-- Datos de la tabla -->
                <tbody>
                  <tr *ngFor="let coex of consultasNutri; let i = index">
                    <td class="text-center" (click)="copiarId(coex.id)" data-bs-toggle="modal" data-bs-target="#opciones">
                      <svg xmlns="http://www.w3.org/2000/svg"
                      width="16" height="16" fill="currentColor"
                        class="bi bi-grip-vertical" viewBox="0 0 16 16">
                      <path d="M7 2a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM7 5a1 1 0 1 1-2 0 1 1 0 0 1 2
                      0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM7 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-3
                      3a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-3 3a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1
                      1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                    </svg></td>
                    <td class="text-center">{{ contador + i + 1 }}</td>
                    <td class="text-center text-warning" [routerLink]="['/hClinica/view/',coex.expediente]">{{coex.expediente}} <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer" viewBox="0 0 16 16">
                      <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
                      <path d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2H5zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4V3zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2H5zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1z"/>
                    </svg></td>
                    <td class="text-center">{{ coex.nombres | anyToText | capitalizeName }} {{coex.apellidos | anyToText | capitalizeName}}</td>
                    <td class="text-center"> {{ coex.hora}} </td>
                    <td class="text-center">{{coex.status | anyToNumber | enumStatus}}</td>


                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal" id="opciones">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content p-3">

      <button class="btnS bg-quatz mt-2" data-bs-dismiss="modal" (click)="eliminar(idCopiado)">Eliminar consulta</button>
      <button class="btnS bg-info mt-2 text-primary" data-bs-dismiss="modal" [routerLink]="['/edit/coex', idCopiado]" >Editar Consulta</button>

      <button class="btn bg-black border mt-2" data-bs-dismiss="modal">Cerrar</button>


    </div>
  </div>
</div>
