<div class="grid-container mt-2">

  <button class="btnS  rounded border-danger w-auto p-2" routerLink="['/pacientes']" (click)="delete()" >
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58
    0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59
    0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0
    0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1
    .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
    </svg>Borrar
  </button>

  <button type="submit" class="btnS rounded border-sucess w-auto p-2"  (click)="edit ? editar() : crearPaciente()" data-bs-dismiss="modal" aria-label="Close">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus-circle-dotted" viewBox="0 0 16 16">
  <path d="M8 0c-.176 0-.35.006-.523.017l.064.998a7.117 7.117 0 0 1 .918 0l.064-.998A8.113 8.113 0 0 0 8
  0zM6.44.152c-.346.069-.684.16-1.012.27l.321.948c.287-.098.582-.177.884-.237L6.44.153zm4.132.271a7.946
  7.946 0 0 0-1.011-.27l-.194.98c.302.06.597.14.884.237l.321-.947zm1.873.925a8 8 0 0 0-.906-.524l-.443.896c.275.136.54.29.793.459l.556-.831zM4.46.824c-.314.155-.616.33-.905.524l.556.83a7.07
  7.07 0 0 1 .793-.458L4.46.824zM2.725 1.985c-.262.23-.51.478-.74.74l.752.66c.202-.23.418-.446.648-.648l-.66-.752zm11.29.74a8.058 8.058 0 0 0-.74-.74l-.66.752c.23.202.447.418.648.648l.752-.66zm1.161
  1.735a7.98 7.98 0 0 0-.524-.905l-.83.556c.169.253.322.518.458.793l.896-.443zM1.348 3.555c-.194.289-.37.591-.524.906l.896.443c.136-.275.29-.54.459-.793l-.831-.556zM.423 5.428a7.945
  7.945 0 0 0-.27 1.011l.98.194c.06-.302.14-.597.237-.884l-.947-.321zM15.848 6.44a7.943 7.943 0 0 0-.27-1.012l-.948.321c.098.287.177.582.237.884l.98-.194zM.017 7.477a8.113 8.113
  0 0 0 0 1.046l.998-.064a7.117 7.117 0 0 1 0-.918l-.998-.064zM16 8a8.1 8.1 0 0 0-.017-.523l-.998.064a7.11 7.11 0 0 1 0 .918l.998.064A8.1 8.1 0 0 0 16 8zM.152 9.56c.069.346.16.684.27
  1.012l.948-.321a6.944 6.944 0 0 1-.237-.884l-.98.194zm15.425 1.012c.112-.328.202-.666.27-1.011l-.98-.194c-.06.302-.14.597-.237.884l.947.321zM.824 11.54a8 8 0 0 0 .524.905l.83-.556a6.999
  6.999 0 0 1-.458-.793l-.896.443zm13.828.905c.194-.289.37-.591.524-.906l-.896-.443c-.136.275-.29.54-.459.793l.831.556zm-12.667.83c.23.262.478.51.74.74l.66-.752a7.047 7.047 0 0
  1-.648-.648l-.752.66zm11.29.74c.262-.23.51-.478.74-.74l-.752-.66c-.201.23-.418.447-.648.648l.66.752zm-1.735 1.161c.314-.155.616-.33.905-.524l-.556-.83a7.07 7.07 0 0
  1-.793.458l.443.896zm-7.985-.524c.289.194.591.37.906.524l.443-.896a6.998 6.998 0 0 1-.793-.459l-.556.831zm1.873.925c.328.112.666.202 1.011.27l.194-.98a6.953 6.953
  0 0 1-.884-.237l-.321.947zm4.132.271a7.944 7.944 0 0 0 1.012-.27l-.321-.948a6.954 6.954 0 0 1-.884.237l.194.98zm-2.083.135a8.1 8.1 0 0 0 1.046 0l-.064-.998a7.11 7.11
  0 0 1-.918 0l-.064.998zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
    </svg>Guardar
  </button>


  <button class="btnS  rounded border-quatz w-auto p-2" data-bs-dismiss="modal" aria-label="Close" (click)="regresar()">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5ZM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5Z"/>
      </svg>
      Regresar
  </button>




</div>


<form class="mt-3 mt-2">
  <div class="row g-3">

    <div class="container-fluid mt-2 p-0 col-md-6 d-flex justify-content-center align-items-center">
      <div class="form-check form-switch mx-auto">
        <input class="form-check-input display-6 mx-3 text-light" type="checkbox" id="flexSwitchCheckDefault" [checked]="p.estado === 'v'" (change)="cambiarEstado()">
        <label class="form-check-label fs-3 " for="flexSwitchCheckDefault">{{ p.estado === 'm' ? 'Fallecido' : 'Vivo' }}</label>
      </div>

      <div class="col-md-8 w-50 mx-auto">
        <label class="form-label text-center">Expediente</label>
        <input type="number" id="expediente" class="form-control text-center fs-2 bg-primary p-0" [(ngModel)]="p.expediente" name="expediente" readonly>
      </div>
    </div>


    <hr class="p-0 my-1">

    <div class="col-md-6 mt-1">
      <label class="form-label">Nombre *</label>
      <input type="text" class="form-control bg-primary bg-opacity-75 text-uppercase" [(ngModel)]="p.nombre" name="nombre" placeholder="Nombre" autofocus >
    </div>

    <div class="col-md-6 mt-1">
      <label class="form-label">Apellido *</label>
      <input type="text" class="form-control bg-primary bg-opacity-75 text-uppercase" [(ngModel)]="p.apellido" name="apellido" placeholder="Apellido" autofocus>
    </div>

    <div class="col-md-6">
      <label>DPI</label>
      <input type="number" id="dpi" name="dpi" class="form-control bg-primary bg-opacity-75 text-uppercase" [(ngModel)]="p.dpi" placeholder="dpi" autofocus >
    </div>

    <div class="col-md-6">
      <label>Pasaporte</label>
      <input type="text" id="pasaporte" name="pasaporte" class="form-control bg-primary bg-opacity-75 text-uppercase" [(ngModel)]="p.pasaporte"  placeholder="pasaporte" autofocus>
    </div>

    <div class="col-md-6">
      <label>Sexo *</label>
      <select id="sexo" class="form-control bg-primary bg-opacity-75 text-uppercase " [(ngModel)]="p.sexo" name="sexo" autofocus>
        <option value=""></option>
        <option value="M">Masculino</option>
        <option value="F">Femenino</option>
      </select>
    </div>

    <div class="col-md-6">
      <label>Fecha de Nacimiento *</label>
      <input type="date" id="nacimiento" name="nacieminto" class="form-control bg-dark bg-opacity-75 text-uppercase" [(ngModel)]="p.nacimiento" name="nacimiento" placeholder="nacimiento" autofocus [max]="maxdate">
    </div>

    <hr class="my-2 p-0">
    <div class="mt-0 col-md-6">
      <label>Nacionalidad</label>
      <select id="nacionaldad" class="form-control bg-primary bg-opacity-75 text-uppercase" [(ngModel)]="p.nacionalidad" name="nacionalidad" autofocus>
        <option *ngFor="let option of e.nation" [value]="option.value">{{option.label}}</option>
      </select>
    </div>

    <div class="mt-0 col-md-6">
      <label>Departamento de Nacimiento</label>
      <select id="deptoNac" class="form-control bg-primary bg-opacity-75 text-uppercase" [(ngModel)]="deptoNac" name="deptoNac" (change)="filtrarMunis()" placeholder="Departamento de Nacimiento" autofocus>
        <option *ngFor="let option of d.departamentos" [value]="option.value">{{option.label}}</option>
      </select>
    </div>


    <div class="col-md-6">
      <label>Lugar de Nacimiento</label>
      <select id="lugarNacimiento" class="form-control bg-primary bg-opacity-75 text-uppercase" [(ngModel)]="p.lugar_nacimiento" name="lugarNacimiento" autofocus>
        <option *ngFor="let option of munisFiltrados" [value]="option.value">{{option.label}}</option>
      </select>
    </div>

    <div class="col-md-6">
      <label>Pueblo</label>
      <select id="pueblo" class="form-control bg-primary bg-opacity-75 text-uppercase" [(ngModel)]="p.pueblo" name="pueblo" autofocus>
        <option *ngFor="let option of e.people" [value]="option.value">{{option.label}}</option>
      </select>
    </div>

    <div class="col-md-6">
      <label>Estado Civil</label>
      <select id="estadoCivil" class="form-control bg-primary bg-opacity-75 text-uppercase" [(ngModel)]="p.estado_civil" name="estadoCivil" autofocus>
        <option *ngFor="let option of e.ecivil" [value]="option.value">{{option.label}}</option>
      </select>
    </div>

    <div class="col-md-6">
      <label>Educación</label>

      <select id="educacion" class="form-control bg-primary bg-opacity-75 text-uppercase" [(ngModel)]="p.educacion" name="educacion" autofocus>
        <option *ngFor="let option of e.academic" [value]="option.value || p.educacion">{{option.label}}</option>
      </select>
    </div>



    <div class="col-md-6">
      <label>Idioma</label>
      <select id="idioma" class="form-control bg-primary bg-opacity-75 text-uppercase" [(ngModel)]="p.idioma" name="idioma" autofocus>
      <option *ngFor="let option of e.lenguage" [value]="option.value">{{option.label}}</option>
      </select>
    </div>

    <div class="col-md-6">
      <label>Ocupación</label>
      <input type="text" id="ocupacion" name="ocupacion" class="form-control bg-primary bg-opacity-75 text-uppercase" [(ngModel)]="p.ocupacion" name="ocupacion" placeholder="ocupacion" autofocus>
    </div>

    <hr class="my-1 p-0">

    <div class="mt-0 col-md-6">
      <label>Departamento</label>
      <select id="depto" class="form-control bg-primary bg-opacity-75 text-uppercase" [(ngModel)]="p.depto" name="depto" (change)="filtrarMunicipios()" placeholder="Departamento" autofocus>
        <option *ngFor="let option of d.departamentos" [value]="option.value">{{option.label}}</option>
      </select>
    </div>

    <div class="mt-0 col-md-6">
      <label>Municipio</label>
      <select id="municipio" class="form-control bg-primary bg-opacity-75 text-uppercase" [(ngModel)]="p.municipio" name="municipio" placeholder="Municipio" autofocus>
        <option *ngFor="let option of municipiosFiltrados" [value]="option.value">{{option.label}}</option>
      </select>
    </div>


    <div class="col-md-6">
      <label>Dirección de Domicilio</label>
      <input type="text" id="direccion" name="direccion" class="form-control bg-primary bg-opacity-75 text-uppercase" [(ngModel)]="p.direccion" name="direccion" placeholder="direccion" autofocus>
    </div>

    <div class="col-md-6">
      <label>Telefono</label>
      <input type="text" id="telefono" name="telefono" class="form-control bg-primary bg-opacity-75 text-uppercase" [ngModel]="p.telefono" (ngModelChange)="formatPhoneNumber($event)" placeholder="telefono" autofocus>
    </div>

    <div class="col-md-6">
      <label>Email</label>
      <input type="email" id="email" name="email" class="form-control bg-primary bg-opacity-75 text-uppercase" [(ngModel)]="p.email" name="email" placeholder="email" autofocus>
    </div>

    <div class="col-md-6">
      <label>Padre</label>
      <input type="text" id="padre" name="padre" class="form-control bg-primary bg-opacity-75 text-uppercase" [(ngModel)]="p.padre" name="padre" placeholder="padre" autofocus>
    </div>

    <div class="col-md-6">
      <label>Madre</label>
      <input type="text" id="madre" name="madre" class="form-control bg-primary bg-opacity-75 text-uppercase" [(ngModel)]="p.madre" name="madre" placeholder="madre" autofocus>
    </div>

    <div class="col-md-6">
      <label>Responsable</label>
      <input type="text" id="responsable" name="responsable" class="form-control bg-primary bg-opacity-75 text-uppercase" [(ngModel)]="p.responsable" name="responsable" placeholder="responsable" autofocus>
    </div>

    <div class="col-md-6">
      <label>Parentesco</label>
      <select id="parentesco" class="form-control bg-primary bg-opacity-75 text-uppercase" [(ngModel)]="p.parentesco" name="parentesco" autofocus>
        <option  *ngFor="let option of e.parents" [value]="option.value">{{option.label}}</option>
      </select>
    </div>

    <div class="col-md-6">
      <label>DPI Responsable</label>
      <input type="number" id="dpiResponsable" name="dpiResponsable" class="form-control bg-primary bg-opacity-75 text-uppercase" [(ngModel)]="p.dpi_responsable" name="dpiResponsable" placeholder="dpiResponsable" autofocus>
    </div>

    <div class="col-md-6">
      <label>Telefono Responsable</label>
      <input type="number" id="telResponsable" name="telResponsable" class="form-control bg-primary bg-opacity-75 text-uppercase" [(ngModel)]="p.telefono_responsable" name="telResponsable" placeholder="telefono Responsable" autofocus>
    </div>


  </div>
</form>
