<div class="">
  <div class="search-container">
    <div class="rounded p-2 bg-dark">
      <form class="search-form" autocomplete="off">
        <!-- Campos de búsqueda -->
        <input
          type="text"
          class="form-control search-input"
          name="expediente"
          placeholder="Expediente"
          [(ngModel)]="expedienteBuscar"
        />
        <input
          type="text"
          class="form-control search-input"
          placeholder="Nombre"
          name="nombreBuscar"
          [(ngModel)]="nombreBuscar"
        />
        <input
          type="text"
          class="form-control search-input"
          placeholder="Apellido"
          name="apellidoBuscar"
          [(ngModel)]="apellidoBuscar"
        />
        <input
          type="text"
          class="form-control search-input"
          placeholder="DPI"
          name="dpiBuscar"
          [(ngModel)]="dpiBuscar"
        />

        <!-- Botones de acción -->
        <button type="submit" class="btn btn-primary search-button" (click)="filtro()">
          <searchIcon />
        </button>
        <button type="button" class="btn btn-secondary search-button" (click)="limpiarInput()">
          <deleteInput />
        </button>
        <button
          class="btn btn-info search-button"
          data-bs-toggle="modal"
          data-bs-target="#formularioModalP"
        >
          <createIcon />
        </button>
      </form>
    </div>
  </div>

  <div class="mt-3">
    <div class="custom-table-wrapper t-w-d mt-3">
      <!-- <table class="table table-hover table-black table-borderless fs-5 " aria-labelledby="tableLabel" *ngIf="pacientes.length > 0"> -->
      <table class="custom-table table-hover text-center">
        <thead class="">
          <tr>

            <th class="text-center ">in</th>
            <th class="text-center ">in</th>
            <th class="text-center " >Exp </th>
            <th class="text-center " >Nombre</th>
            <th class="text-center " >DPI</th>
            <th class="text-center " >Sexo</th>
            <th class="text-center " >Edad</th>
            <th class="text-center " >Estado</th>

        </tr>
        </thead>

        <tbody class="justify-content-center text-normal  ">
          <tr *ngFor="let paciente of filteredPacientes">

            <td>
              <button *ngIf="paciente.sexo === 'F' && calcularEdad(paciente.nacimiento) > 10" class="btn btn-dark btn-sm" [routerLink]="['/rn/', paciente.expediente]">
                <babyIcon />
              </button>
          </td>

          <td>
            <button *ngIf="validar===true" class="btn btn-dark btn-sm" (click)="copiarId(paciente.expediente, paciente.nombre, paciente.apellido, paciente.nacimiento, paciente.sexo, paciente.direccion, paciente.telefono)" data-bs-toggle="modal" data-bs-target="#formularioCrear" >
              <addIcon />
            </button>

          </td>

          <td class="h6 text-center text-success" (click)="abrirModal(paciente)" data-bs-toggle="modal" data-bs-target="#ver" ><questIcon /> <br /> {{ paciente.expediente }}</td>

          <td class="text-center text-justify " appHighlightWords >
            <span [ngClass]="{'mujer': paciente.sexo == 'F', 'hombre': paciente.sexo != 'F'}">{{ paciente.nombre | capitalizeName }}</span> <br>
            {{ paciente.apellido | capitalizeName }}
            <span *ngIf="paciente.gemelo == 'si'" class="f-negrita bg-black p-1 rounded">
              <gemeloIcon />
            </span>
          </td>

          <td class="text-center">{{ paciente.dpi | anyToText | formatoDPI }}</td>


          <td class="text-center">
            <ng-container *ngIf="paciente.sexo == 'F'; else man">

            <femIcon/>
            </ng-container>

            <ng-template #man>
              <ng-container *ngIf="paciente.sexo == 'M'; else NoneBl">
               <maleIcon/>
              </ng-container>
            </ng-template>

            <ng-template #NoneBl>
              <span class="text-warning">SIn Registrar !!!</span>
              <atentionIcon />
            </ng-template>


          </td>

          <td class="text-center" #edadCell>{{ paciente.nacimiento | edad }}</td>

          <td class="text-center">
            <ng-container *ngIf="paciente.estado === 'v'; else dead">

              <beatIcon/>
              </ng-container>
              <ng-template #dead>
                <deadIcon/>
            </ng-template>
          </td>


          </tr>
        </tbody>
      </table>
    </div>



  <!-- Paginación -->
    <div class="d-flex justify-content-center pagination mt-3">
      <div class="btn-group" [class.disabled]="paginaActual === 1" *ngIf="totalPaginas()">
        <button type="button" class="btn btn-secondary" (click)="onPageChange(1)" aria-label="Primera">Primera</button>
        <button type="button" class="btn btn-secondary" (click)="onPageChange(paginaActual - 1)" aria-label="Anterior">Anterior</button>
        <button type="button" class="btn btn-secondary" (click)="onPageChange(paginaActual + 1)" aria-label="Siguiente">Siguiente</button>
        <button type="button" class="btn btn-secondary" (click)="onPageChange(totalPaginas())" aria-label="Última">Última</button>
      </div>
    </div>
  </div>
  </div>

  <div class="modal" id="formularioModalP">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body">
      <formulario-paciente></formulario-paciente>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-primary">Save changes</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
        </div>
      </div>
    </div>
  </div>

  <div class="modal" id="formularioCrear">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header d-flex justify-content-center">
          <h5 class="modal-title textx-center">Registrar consulta externa</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <form class="form-group">

              <div class="form-group">
                <label for="especialidad">Especialidad:</label>
                <select id="especialidad" class="form-control" [(ngModel)]="coex.especialidad" name="especialidad" >
                  <option class="bg-dark" *ngFor="let option of e.servicio" [value]="option.value">{{ option.label }}</option>
                </select>
              </div>

              <div class="form-group" *ngIf="coex.especialidad==3">
                <label for="consulta_por">Consulta por:</label>
                <select id="especialidad" class="form-control" [(ngModel)]="coex.consulta_por" name="consulta_por" >
                  <option class="bg-dark" *ngFor="let option of cnsult.consult" [value]="option.value">{{ option.label }}</option>
                </select>
              </div>

              <div class="form-group">
                <label for="expediente">Expediente:</label>
                <input type="text" class="form-control" id="expediente" name="expediente"  [(ngModel)]='coex.expediente'  >
              </div>

              <div class="form-group">
                <p>{{coex.nombres}} {{coex.apellidos}}</p>
              </div>







            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="registrarCoex()"  >Guardar</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>


  <div class="modal" id="formulario2">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
       <!--  -->
       <div class="form-group">
        <input type="text" class="form-control" id="nombre" name="nombre"  [(ngModel)]='coex.nombres' placeholder="nombres" disabled="">
        <input type="text" class="form-control" id="apellido" name="apellido" [(ngModel)]="coex.apellidos" placeholder="apellidos" disabled="">
        <input type="date" class="form-control" id="fecha_consulta" name="fecha_consulta" [(ngModel)]="coex.fecha_consulta" placeholder="fecha de consulta" disabled="">
        <input type="time" class="form-control" id="hora" name="hora" [(ngModel)]="coex.hora" placeholder="hora" disabled="">
        <input type="text" class="form.control" id="edad" name="edad" [(ngModel)]="coex.edad" placeholder="edad" value="paciente.nacimiento" disabled="">
        <input type="text" class="form-control" id="nacimiento" name="nacimiento" [(ngModel)]="coex.nacimiento" placeholder="fecha de nacimiento" disabled="">
      </div>


      </div>
    </div>
  </div>






  <div class="modal" id="ver">
    <div class="modal-dialog modal-lg modal-lg" role="document">
      <div class="modal-content w-auto card bg-night">

        <div class="modal-body code-container" id="code">
          <div class="card-header  text-center" >
            Detalles del Expediente: <span class="font-fam">{{patient?.expediente}}</span>
          </div>
          <div class=" modal-body mx-5 font-monospace">
            <div class="text-start">
              <p>&#123;</p>
              <div class="d-flex justify-content-wrap p-0">
                <span class="me-1 font-title m-0 m-0">Nombre: </span>
                <p class="font-value m-0 m-0">{{ patient?.nombre | anyToText | capitalizeName }},</p>
              </div>
              <div class="d-flex justify-content-wrap p-0">
                <span class="me-1 font-title m-0 m-0">Apellido: </span>
                <p class="font-value m-0 m-0">{{ patient?.apellido | anyToText | capitalizeName }},</p>
              </div>
              <div class="d-flex justify-content-wrap p-0">
                <span class="me-1 font-title m-0 m-0">Fecha de nacimiento: </span>
                <p class="font-value m-0 m-0">{{ patient?.nacimiento | anyToText | formatoFecha }},</p>
              </div>
              <div class="d-flex justify-content-wrap p-0">
                <span class="me-1 font-title m-0 m-0">Edad: </span>
                <p class="font-value m-0 m-0">{{ patient?.nacimiento | edad }},</p>
              </div>
              <div class="d-flex justify-content-wrap p-0">
                <span class="me-1 font-title m-0 m-0">Sexo: </span>
                <p class="font-value m-0 m-0">{{ patient?.sexo | anyToText | sexo }},</p>
              </div>
              <div class="d-flex justify-content-wrap p-0">
                <span class="me-1 font-title m-0 m-0">DPI: </span>
                <p class="font-value m-0 m-0">{{ patient?.dpi | anyToText | formatoDPI }},</p>
              </div>
              <div class="d-flex justify-content-wrap p-0">
                <span class="me-1 font-title m-0 m-0">Dirección: </span>
                <p class="font-value m-0 m-0">{{ patient?.direccion | anyToText | capitalizeName }}, {{patient?.municipio | anyToNumber | enumMunicipio | capitalizeName}}, <br> {{patient?.depto | anyToNumber | enumDepto | capitalizeName}},</p>
              </div>
              <div class="d-flex justify-content-wrap p-0">
                <span class="me-1 font-title m-0 m-0">Telefonos: </span>
                <p class="font-value m-0 m-0">{{ patient?.telefono }} - {{ patient?.telefono_responsable }} ,</p>
              </div>
              <div class="d-flex justify-content-wrap p-0">
                <span class="me-1 font-title m-0 m-0">Conyugue: </span>
                <p class="font-value m-0 m-0">{{ patient?.conyugue | anyToText | capitalizeName }} ,</p>
              </div>
              <div class="d-flex justify-content-wrap p-0">
                <span class="me-1 font-title m-0 m-0">Responsable: </span>
                <p class="font-value m-0 m-0">{{ patient?.responsable | anyToText | capitalizeName }} ,</p>
              </div>
              <div class="d-flex justify-content-wrap p-0">
                <span class="me-1 font-title m-0 m-0">Parentesco: </span>
                <p class="font-value m-0 m-0">{{ patient?.parentesco | anyToNumber | enumParentesco }} ,</p>
              </div>
              <div class="d-flex justify-content-wrap p-0">
                <button class="btn btn-dark btn-sm" (click)="validador()">Validar</button>>
              </div>
              <p>&#125;</p>

              <button class="btn btn-dark btn-sm" [routerLink]="['/paciente/edit', patient?.id]" data-bs-dismiss="modal" aria-label="Close">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg>Actualizar
              </button>



            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
