  <div class="search-container">
    <div class="search-div">
      <form class="search-form" autocomplete="off">

        <input
          type="text"
          class="search-input"
          name="expediente"
          placeholder="Expediente"
          [(ngModel)]="expedienteBuscar"
        />
        <input
          type="text"
          class="search-input"
          placeholder="Nombre"
          name="nombreBuscar"
          [(ngModel)]="nombreBuscar"
        />
        <input
          type="text"
          class="search-input"
          placeholder="Apellido"
          name="apellidoBuscar"
          [(ngModel)]="apellidoBuscar"
        />
        <input
          type="text"
          class="search-input"
          placeholder="DPI"
          name="dpiBuscar"
          [(ngModel)]="dpiBuscar"
        />

        <div class="div-btn-icons">
          <searchIcon (click)="filtro()"/>
          <deleteInput (click)="limpiarInput()" />
          <createIcon data-bs-toggle="modal" data-bs-target="#formularioModalP" />
        </div>
      </form>
    </div>
  </div>
  <div class="">
    <div class="custom-table-wrapper t-w-d mt-2">
      <!-- <table class="table table-hover table-black table-borderless fs-5 " aria-labelledby="tableLabel" *ngIf="pacientes.length > 0"> -->
      <table class="custom-table table-hover text-center">
        <thead class="">
          <tr>
            <th class="text-center " >Expediente </th>
            <th class="text-center " >Nombre</th>
            <th class="text-center " >DPI</th>
            <th class="text-center " >Sexo</th>
            <th class="text-center " >Edad</th>
            <th class="text-center ">Opciones</th>
        </tr>
        </thead>

        <tbody class="svg-container  ">
          <tr *ngFor="let paciente of filteredPacientes">
            <td>
              {{ paciente.expediente }}
            </td>
          <td class="text-center" appHighlightWords >
            <span [ngClass]="{'mujer': paciente.sexo == 'F', 'hombre': paciente.sexo != 'F'}">{{ paciente.nombre | capitalizeName }}</span> <br>
            {{ paciente.apellido | capitalizeName }}
              <gemeloIcon *ngIf="paciente.gemelo == 'si'" />
          </td>
          <td class="text-center">{{ paciente.dpi | anyToText | formatoDPI }}</td>
          <td class="text-center">
            <ng-container *ngIf="paciente.sexo == 'F'; else man">
            <femIcon/>
            </ng-container>
            <ng-template #man>
              <ng-container *ngIf="paciente.sexo == 'M'; else NoneBl">
               <maleIcon/>
              </ng-container>
            </ng-template>
            <ng-template #NoneBl>
              <span class="text-warning">SIn Registrar !!!</span>
              <atentionIcon />
            </ng-template>
          </td>
          <td class="text-center" #edadCell>{{ paciente.nacimiento | edad }}</td>
          <td class="text-center">
            <div class="div-btn-opt">
              <questIcon (click)="abrirModal(paciente)" data-bs-toggle="modal" data-bs-target="#ver" />
              <addIcon *ngIf="validar===true" (click)="copiarId(paciente.expediente, paciente.nombre, paciente.apellido, paciente.nacimiento, paciente.sexo, paciente.direccion, paciente.telefono)" data-bs-toggle="modal" data-bs-target="#formularioCrear" />
            </div>

          </td>
          </tr>
        </tbody>
      </table>
    </div>

  <!-- Paginación -->
    <div class="d-flex justify-content-center pagination mt-3">
      <div class="btn-group" [class.disabled]="paginaActual === 1" *ngIf="totalPaginas()">
        <button type="button" class="btn btn-secondary" (click)="onPageChange(1)" aria-label="Primera">Primera</button>
        <button type="button" class="btn btn-secondary" (click)="onPageChange(paginaActual - 1)" aria-label="Anterior">Anterior</button>
        <button type="button" class="btn btn-secondary" (click)="onPageChange(paginaActual + 1)" aria-label="Siguiente">Siguiente</button>
        <button type="button" class="btn btn-secondary" (click)="onPageChange(totalPaginas())" aria-label="Última">Última</button>
      </div>
    </div>
  </div>

  <div class="modal" id="formularioModalP">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body">
      <formulario-paciente></formulario-paciente>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-primary">Save changes</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
        </div>
      </div>
    </div>
  </div>

  <div class="modal" id="formularioCrear">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header d-flex justify-content-center">
          <h5 class="modal-title textx-center">Registrar consulta externa</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <form class="custom-form" #form="ngForm" (ngSubmit)="registrarCoex()" novalidate>
              <div class="custom-form-group">
                <label for="especialidad">Especialidad:</label>
                <select id="especialidad" class="custom-input" [(ngModel)]="coex.especialidad" name="especialidad" #especialidad="ngModel" required>
                  <option class="bg-dark" *ngFor="let option of e.servicio" [value]="option.value">
                    {{ option.label }}
                  </option>
                </select>
                <!-- Mensaje de error -->
                <div *ngIf="especialidad.invalid && especialidad.touched" class="text-danger">
                  ⚠ La especialidad es requerida.
                </div>
              </div>

              <div class="custom-form-group" *ngIf="coex.especialidad == 3">
                <label for="consulta_por">Consulta por:</label>
                <select id="consulta_por" class="custom-input" [(ngModel)]="coex.consulta_por" name="consulta_por">
                  <option class="bg-dark" *ngFor="let option of cnsult.consult" [value]="option.value">
                    {{ option.label }}
                  </option>
                </select>
              </div>

              <div class="custom-form-group">
                <label for="expediente">Expediente:</label>
                <input type="text" class="custom-input" id="expediente" name="expediente" [(ngModel)]="coex.expediente">
              </div>

              <!-- Checkbox -->
              <div class="d-flex justify-content-between my-2">
                <div class="custom-form-group text-center">
                  <label class="form-check-label" for="estudiante_publica">Estudiante Escuela Publica</label>
                  <input class="form-check" type="checkbox" name="estudiante_publica" id="estudiante_publica" [(ngModel)]="coex.estudiante_publica">
                </div>
                <div class="custom-form-group text-center">
                  <label class="form-check-label" for="accidente_laboral">Accidente Laboral</label>
                  <input class="form-check" type="checkbox" name="accidente_laboral" id="accidente_laboral" [(ngModel)]="coex.accidente_laboral">
                </div>
                <div class="custom-form-group text-center">
                  <label class="form-check-label" for="personal_hospital">Personal del Hospital Tratado</label>
                  <input class="form-check" type="checkbox" name="personal_hospital" id="personal_hospital" [(ngModel)]="coex.personal_hospital">
                </div>
              </div>

              <div class="custom-form-group d-flex justify-content-center">
                <label class="text-center">{{ coex.nombres }} {{ coex.apellidos }}</label>
              </div>

              <!-- Botón de envío -->
              <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Enviar</button>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <saveIcon (click)="registrarCoex()" />
          <closeIcon data-bs-dismiss="modal" />

        </div>
      </div>
    </div>
  </div>


  <div class="modal" id="formulario2">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
       <!--  -->
       <div class="form-group">
        <input type="text" class="custom-input" id="nombre" name="nombre"  [(ngModel)]='coex.nombres' placeholder="nombres" disabled="">
        <input type="text" class="custom-input" id="apellido" name="apellido" [(ngModel)]="coex.apellidos" placeholder="apellidos" disabled="">
        <input type="date" class="custom-input" id="fecha_consulta" name="fecha_consulta" [(ngModel)]="coex.fecha_consulta" placeholder="fecha de consulta" disabled="">
        <input type="time" class="custom-input" id="hora" name="hora" [(ngModel)]="coex.hora" placeholder="hora" disabled="">
        <input type="text" class="form.control" id="edad" name="edad" [(ngModel)]="coex.edad" placeholder="edad" value="paciente.nacimiento" disabled="">
        <input type="text" class="custom-input" id="nacimiento" name="nacimiento" [(ngModel)]="coex.nacimiento" placeholder="fecha de nacimiento" disabled="">
      </div>


      </div>
    </div>
  </div>






  <div class="modal" id="ver">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title">Resumen del Paciente</h5>
          <closeIcon />
        </div>
        <div class="modal-body">
          <strong>Expediente:</strong>
          {{patient?.expediente}}
          <br>
          <strong>Nombre:</strong>
          {{patient?.nombre | anyToText | capitalizeName}} {{patient?.apellido | anyToText | capitalizeName}}
          <br>
          <strong>Fecha de Nacimiento:</strong>
          {{patient?.nacimiento | anyToText | formatoFecha}}
          <br>
          <strong>Edad:</strong>
          {{patient?.nacimiento | edad}}
          <br>
          <strong>Sexo:</strong>
          {{patient?.sexo | anyToText | sexo}}
          <br>
          <strong>DPI:</strong>
          {{patient?.dpi | anyToText | formatoDPI}}
          <br>
          <strong>Dirección:</strong>
          {{patient?.direccion | anyToText | capitalizeName}}, {{patient?.municipio | anyToNumber | enumMunicipio | capitalizeName}} ,{{patient?.depto | anyToNumber | enumDepto | capitalizeName}}
          <br>
          <strong>Teléfonos:</strong>
          {{patient?.telefono}} / {{patient?.telefono_responsable}}
          <br>
          <strong>Conyugue:</strong>
          {{patient?.conyugue | anyToText | capitalizeName}}
        </div>
        <div class="modal-footer">
          <checkIcon (click)="validador()" />
          <updateIcon [routerLink]="['/paciente/edit', patient?.id]" data-bs-dismiss="modal" aria-label="Close" />

        </div>
      </div>
    </div>
  </div>
