<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <!-- Marca (Logo o título) -->
    <a class="navbar-brand" routerLink="/home">Home</a>

    <!-- Botón de toggle para móviles -->
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Contenedor del menú -->
    <div class="collapse navbar-collapse" [class.show]="isExpanded" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li *ngFor="let item of items" class="nav-item" [class.dropdown]="item.children">
          <!-- Elemento sin submenú -->
          <a *ngIf="!item.children" class="nav-link" [routerLink]="item.href" (click)="handleLinkClick()">
            {{ item.label }}
          </a>

          <!-- Elemento con submenú -->
          <div *ngIf="item.children" class="nav-item dropdown">
            <button class="nav-link dropdown-toggle" role="button" (click)="toggleDropdown(item.label)"
              [attr.aria-expanded]="openDropdown === item.label" tabindex="0">
              {{ item.label }}
            </button>
            <ul class="dropdown-menu" [class.show]="openDropdown === item.label">
              <li *ngFor="let sub of item.children">
                <a class="dropdown-item" [routerLink]="sub.subhref" (click)="handleSubItemClick(sub.subhref, $event)">
                  {{ sub.label }}
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
      <button class="btn btn-danger ms-3" (click)="logout()">Cerrar Sesión</button>
    </div>
  </div>
</nav>
