<form class="form">
  <p class="title">Actualización de Usuario</p>
  <p class="message">Completa tus datos, o cambia tu contraseña si crees que esta comprometida. </p>
      <div class="flex">
      <label>
          <input class="input w-100" type="text" placeholder="" required="" [(ngModel)]="us.name">
          <span>Nombre Completo</span>
      </label>


  </div>

  <label>
      <input class="input" type="email" placeholder="" required="">
      <span>Email</span>
  </label>

  <label>
      <input class="input" type="password" placeholder="" required="">
      <span>Password</span>
  </label>
  <label>
      <input class="input" type="password" placeholder="" required="">
      <span>Confirm password</span>
  </label>
  <button class="submit">Submit</button>
  <p class="signin">Already have an acount ? <a href="#">Signin</a> </p>
</form>
