<!-- En tu archivo de componente HTML -->
<div *ngIf="showAlertSuccess" class="alert alert-dismissible alert-success">
  <button type="button" class="btn-close" (click)="closeAlert()"></button>
  <strong>{{ message }}</strong>
</div>

<div *ngIf="showAlertWarning" class="alert alert-dismissible alert-warning">
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  <h4 class="alert-heading">Warning!</h4>
  <p class="mb-0">{{message}}</p>
</div>

<div class="container-fluid d-flex justify-content-center mt-2">
  <button class="btnS rounded border-quatz w-auto p-2" (click)="regresar()">
    Regresar
  </button>

  <button type="submit" class="btnS rounded border-success w-auto mx-1 p-2" (click)="registrar()" data-bs-dismiss="modal" aria-label="Close">
    Guardar
  </button>
</div>

<div class="container-fluid">
  <form class="form-group mt-3">
    <div class="border rounded p-3">
      <div class="row">
        <div class="col-md-3 text-center">
          <strong class="text-center f-negrita">Id de Consulta</strong>
          <p class="p-0 my-0">{{ info.id_consulta }}</p>
        </div>

        <div class="col-md-3 text-center">
          <strong class="text-center f-negrita">Expediente</strong>
          <p class="p-0 my-0">{{ info.expediente }}</p>
        </div>

        <div class="col-md-6 text-center">
          <strong class="text-center f-negrita">Paciente</strong>
          <p class="p-0 my-0">{{ info.nombres | anyToText | capitalizeName }} {{ info.apellidos | anyToText | capitalizeName }}</p>
        </div>
      </div>
    </div>

    <div class="border rounded p-3 mt-3">
      <div class="row">
        <div class="col-12 col-md-6 border-end">
          <div class="row">
            <div class="col-12 col-md-6 text-center mt-2">
              <label for="estado" class="f-negrita">Estado del Paciente</label>
              <select id="estado" class="form-control form-control-sm bg-info bg-opacity-60 text-uppercase text-center" [(ngModel)]="info.estado" name="estado" autofocus>
                <option></option>
                <option *ngFor="let option of op.estado" [value]="option.value">{{option.label}}</option>
              </select>
            </div>

            <div class="col-12 col-md-6 text-center mt-2">
              <label for="situacion" class="f-negrita">Situación</label>
              <select id="situacion" class="form-control form-control-sm bg-info bg-opacity-60 text-uppercase text-center" [(ngModel)]="info.situacion" (change)="mostrarRef()" name="situacion" autofocus>
                <option></option>
                <option *ngFor="let option of op.situacion" [value]="option.value">{{option.label}}</option>
              </select>
            </div>
          </div>

          <div class="row justify-content-center">
            <div class="col-12 col-md-6 text-center mt-2" *ngIf="info.situacion == 1">
              <label for="cama" class="f-negrita">Cama</label>
              <input id="cama" class="form-control form-control-sm bg-info bg-opacity-60 text-uppercase text-center" type="number" name="cama" [(ngModel)]="info.cama">
            </div>

            <div class="col-12 col-md-6 text-center mt-2">
              <label for="estadia" class="f-negrita">Estadia</label>
              <select id="estadia" class="form-control form-control-sm bg-info bg-opacity-60 text-uppercase text-center" [(ngModel)]="info.estadia" name="estadia" autofocus>
                <option></option>
                <option *ngFor="let option of op.estadia" [value]="option.value">{{option.label}}</option>
              </select>
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-md-8 text-center mt-2" *ngIf="info.situacion == 4">
              <label for="referencia" class="f-negrita">Lugar de Referencia</label>
              <select id="referencia" class="form-control form-control-sm bg-info bg-opacity-60 text-uppercase text-center" [(ngModel)]="info.lugar_referencia" name="referencia" autofocus>
                <option></option>
                <option *ngFor="let option of refFiltrados" [value]="option.value">{{option.label}}</option>
              </select>
            </div>

            <div class="col-12 col-md-4 text-center mt-2" *ngIf="info.situacion == 4">
              <label class="f-negrita">Fecha de Referencia</label>
              <input class="form-control form-control-sm bg-info bg-opacity-60 text-center" type="date" [max]="fechaActual" [min]="mindate" name="fecha_ref" [(ngModel)]="info.fecha_referencia">
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-md-6 text-center mt-2" *ngIf="info.situacion == 5">
              <label for="especialidad" class="f-negrita">Especialidad</label>
              <select id="especialidad" class="form-control form-control-sm bg-info bg-opacity-60 text-uppercase text-center" [(ngModel)]="info.especialidad" name="especialidad" autofocus>
                <option></option>
                <option *ngFor="let option of op.especialidad" [value]="option.value">{{option.label}}</option>
              </select>
            </div>

            <div class="col-12 col-md-6 text-center mt-2" *ngIf="info.situacion == 5">
              <label for="servicios" class="f-negrita">Servicio</label>
              <select id="servicios" class="form-control form-control-sm bg-info bg-opacity-60 text-uppercase text-center" [(ngModel)]="info.servicio" name="servicio" autofocus>
                <option></option>
                <option *ngFor="let option of op.servicios" [value]="option.value">{{option.label}}</option>
              </select>
            </div>

            <div class="row">
              <div class="col-12 col-md-6 text-center mt-2">
                <label class="f-negrita">Diagnóstico A</label>
                <input class="form-control form-control-sm bg-info bg-opacity-60 text-center" type="text" name="dxA" [(ngModel)]="info.dxA">
              </div>

              <div *ngIf="info.dxA" class="col-12 col-md-6 text-center mt-2">
                <label class="f-negrita">Diagnóstico B</label>
                <input class="form-control form-control-sm bg-info bg-opacity-60 text-center" type="text" name="dxB" [(ngModel)]="info.dxB">
              </div>

              <div *ngIf="info.dxB" class="col-12 col-md-6 text-center mt-2">
                <label class="f-negrita">Diagnóstico C</label>
                <input class="form-control form-control-sm bg-info bg-opacity-60 text-center" type="text" name="dxC" [(ngModel)]="info.dxC">
              </div>

              <div *ngIf="info.dxC" class="col-12 col-md-6 text-center mt-2">
                <label class="f-negrita">Diagnóstico D</label>
                <input class="form-control form-control-sm bg-info bg-opacity-60 text-center" type="text" name="dxD" [(ngModel)]="info.dxD">
              </div>

              <div *ngIf="info.dxD" class="col-12 col-md-6 text-center mt-2">
                <label class="f-negrita">Diagnóstico E</label>
                <input class="form-control form-control-sm bg-info bg-opacity-60 text-center" type="text" name="dxE" [(ngModel)]="info.dxE">
              </div>
            </div>

          </div>
        </div>

        <div class="col-12 col-md-6">


          <div class="row mt-3">
            <div class="col-12 text-center">
              <label for="evolucion" class="f-negrita">Evolución</label>
              <textarea class="form-control form-control-sm bg-info bg-opacity-60 text-uppercase text-center" name="evolucion" id="evolucion" rows="3" [(ngModel)]="info.evolucion"></textarea>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-12 text-center">
              <label class="f-negrita">Estudios</label>
              <textarea class="form-control form-control-sm bg-info bg-opacity-60 text-uppercase text-center" name="estudios" id="estudios" rows="3" [(ngModel)]="info.estudios"></textarea>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-12 text-center">
              <label class="f-negrita">Nota</label>
              <textarea class="form-control form-control-sm bg-info bg-opacity-60 text-uppercase text-center" name="nota" id="nota" rows="3" [(ngModel)]="info.nota"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
