<app-estadistica></app-estadistica>


<div class="container-fluid d-flex justify-content-center">
  <form class="form-group mt-2 border rounded border-quatz p-3 ">

    <div class="my-1">
      <label >Tipo de Reporte</label>
      <select class="form-control bg-dark" name="opcion" [(ngModel)]="opcion">
        <option></option>
        <option value="1">Consultas</option>
        <option value="2">Citas</option>
        <option value="3">UISAU</option>
        <option value="4">Pacientes</option>
      </select>
    </div>

    <div *ngIf="opcion == 1">
      <div class="my-1">
        <label>Fecha inicio</label>
        <input class="form-control" type="date" name="fecha_inicio_consultas" [(ngModel)]="fecha_inicio_consultas">
        </div>


        <div class="my-1">
          <label>Fecha final</label>
        <input class="form-control" type="date" name="fecha_final_consultas" [(ngModel)]="fecha_final_consultas">
        </div>

        <div class="my-1">
          <button class="btnS btn" (click)="descargarConsultas()">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-cloud-arrow-down-fill" viewBox="0 0 16 16">
              <path d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2m2.354 6.854-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 9.293V5.5a.5.5 0 0 1 1 0v3.793l1.146-1.147a.5.5 0 0 1 .708.708z"/>
            </svg> Generar
          </button>
        </div>


    </div>

    <div *ngIf="opcion == 3">
      <div class="my-1">
        <label>Fecha inicio</label>
        <input class="form-control" type="date">
        </div>


        <div class="my-1">
          <label>Fecha final</label>
        <input class="form-control" type="date">
        </div>

        <div class="my-1">
          <button class="btnS btn" (click)="descargarUisau()">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-cloud-arrow-down-fill" viewBox="0 0 16 16">
              <path d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2m2.354 6.854-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 9.293V5.5a.5.5 0 0 1 1 0v3.793l1.146-1.147a.5.5 0 0 1 .708.708z"/>
            </svg> Generar
          </button>
        </div>


    </div>

    <div *ngIf="opcion == 4">
        <div class="my-1">
          <button class="btnS btn" (click)="descargarPacientes()">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-cloud-arrow-down-fill" viewBox="0 0 16 16">
              <path d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2m2.354 6.854-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 9.293V5.5a.5.5 0 0 1 1 0v3.793l1.146-1.147a.5.5 0 0 1 .708.708z"/>
            </svg> Generar
          </button>
        </div>
        <!-- <div class="loader" *ngIf="cargando">
          <div class="loader-inner">
            <div class="loader-block"></div>
            <div class="loader-block"></div>
            <div class="loader-block"></div>
            <div class="loader-block"></div>
            <div class="loader-block"></div>
            <div class="loader-block"></div>
            <div class="loader-block"></div>
            <div class="loader-block"></div>
            <div class="loader-block"></div>
            <div class="loader-block"></div>
            <div class="loader-block"></div>
            <div class="loader-block"></div>
            <div class="loader-block"></div>
            <div class="loader-block"></div>
            <div class="loader-block"></div>
            <div class="loader-block"></div>
            <div class="loader-block"></div>
            <div class="loader-block"></div>
            <div class="loader-block"></div>
            <div class="loader-block"></div>
            <div class="loader-block"></div>
            <div class="loader-block"></div>
            <div class="loader-block"></div>
            <div class="loader-block"></div>
          </div>
        </div> -->


    </div>

    <div class="terminal-loader" *ngIf="cargando">
      <div class="terminal-header">
        <div class="terminal-title">Status</div>
        <div class="terminal-controls">
          <div class="control close"></div>
          <div class="control minimize"></div>
          <div class="control maximize"></div>
        </div>
      </div>
      <div class="text">Loading...</div>
    </div>




  </form>
</div>
