<nav class="d-flex justify-content-center p-1">

  <select  class="btn-select text-center w-40 p-1" (change)="onMenuChange($event)">
    <span class="icon">
      <svg viewBox="0 0 175 80" width="40" height="40">
          <rect width="80" height="15" fill="#f0f0f0" rx="10"></rect>
          <rect y="30" width="80" height="15" fill="#f0f0f0" rx="10"></rect>
          <rect y="60" width="80" height="15" fill="#f0f0f0" rx="10"></rect>
      </svg>
  </span>
   <option value="" class="text">Menu</option>
    <option value="/home" class="text">Home</option>
    <option value="/estadistica" class="text">Estadistica</option>
    <option value="/registros" class="text">Registros</option>
    <option value="/uisau" class="text">UISAU</option>
    <option value="/personal" class="text">Personal</option>
    <option value="logout" class="" [attr.data-content]="User" >
      <span class="text-warning" (click)="logout()">Cerrar Sesión</span>
    </option>


  </select>

</nav>

<!-- <section>
  <nav class="d-flex justify-content-center">
    <div class="radio-inputs gap-1" id="radioContainer" >

      <label for="toogle" class="radio menu" >
        <input type="radio checkbox" name="radio" checked="">
        <span class="name">MENU</span>
      </label>
      <div></div>
      <label class="radio" >
        <input type="radio" name="radio" checked="">
        <span class="name">Registros</span>
      </label>

      <label class="radio">
        <input type="radio" name="radio">
        <span class="name">Estadistica</span>
      </label>

      <label class="radio">
        <input type="radio" name="radio">
        <span class="name">UISAU</span>
      </label>

      <label class="radio">
        <input type="radio" name="radio">
        <span class="name">Personal</span>
      </label>

      <label class="radio">
        <input type="radio" name="radio" class="hidden-sub-trigger">
        <span class="name">Sesión</span>
      </label>
    </div>
  </nav>

  <div>
    <div class="wrapper">
      <input type="checkbox" id="toogle" class="hidden-trigger" />
      <label for="toogle" class="menu">

      </label>

      <div class="subs">

        <button class="sub-menu">


        </button>
        <button class="sub-menu">
          <input
            value="1"
            name="sub-circle"
            type="radio"
            id="sub2"
            class="hidden-sub-trigger"
          />
          <label for="sub2">M¼³</label>
        </button>
        <button class="sub-menu">
          <input
            value="1"
            name="sub-circle"
            type="checkbox"
            id="sub3"
            class="hidden-sub-trigger"
          />
          <label for="sub3">ß</label>
        </button>
        <button class="sub-menu">
          <input
            value="1"
            name="sub-circle"
            type="checkbox"
            id="sub4"
            class="hidden-sub-trigger"
          />
          <label for="sub4">τ</label>
        </button>
        <button class="sub-menu">
          <input
            value="1"
            name="sub-circle"
            type="checkbox"
            id="sub5"
            class="hidden-sub-trigger"
          />
          <label for="sub5">Ä±Ã</label>
        </button>
        <button class="sub-menu">
          <input
            value="1"
            name="sub-circle"
            type="checkbox"
            id="sub6"
            class="hidden-sub-trigger"
          />
          <label for="sub6">l²</label>
        </button>
      </div>
    </div>

  </div>

</section>
 -->
