<header class="fs-4">
  <nav class="navbar navbar-expand-md navbar-black bg-info border-bottom box-shadow mb-0 " data-bs-theme="light" >
    <div class="container">
      <a class="navbar-brand fs-3" [routerLink]="['/']">Home</a>
      <button
      class="navbar-toggler"
      #navbarButton
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-label="Toggle navigation"
      (click)="toggle()"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

      <div class="collapse navbar-collapse" id="navbarNav" [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav ml-auto nav-tabs ">

          <!-- Repite para otras opciones del menú -->

          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-black" [routerLink]="['/pacientes']" (click)="hideMenu()">Pacientes</a>
          </li>

          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-black" [routerLink]="['/citas']" (click)="hideMenu()">Citas</a>
          </li>

          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-black" [routerLink]="['/tablaEmergencia']" (click)="hideMenu()">Emergencias</a>
          </li>

          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-black" [routerLink]="['/coex']" (click)="hideMenu()">Coex</a>
          </li>

          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-black" [routerLink]="['/ingresos']" (click)="hideMenu()">Hospitalización</a>
          </li>

          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-black" [routerLink]="['/consultas']" (click)="hideMenu()">Consultas</a>
          </li>

          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-black" [routerLink]="['/uisau']" (click)="hideMenu()">UISAU</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</header>

