<header class="fs-5 d-flex justify-content-center">
  <nav class="  navbar navbar-expand-md border-bottom box-shadow mb-0 "  >
    <div class="container">
      <a class="navbar-brand text-light" [routerLink]="['/home']">Home</a>
      <button class="navbar-toggler" #navbarButton type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-label="Toggle navigation" (click)="toggle()">
      <span class="navbar-toggler-icon"></span>
    </button>

      <div class="collapse navbar-collapse" id="navbarNav" [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav ml-auto nav-tabs ">

          <!-- Repite para otras opciones del menú -->


          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-light fs-8" [routerLink]="['/estadistica']" (click)="hideMenu()">Estadistica</a>
          </li>

          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-light fs-8" [routerLink]="['/registros']" (click)="hideMenu()">Registros</a>
          </li>

          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-light fs-8" [routerLink]="['/uisau']" (click)="hideMenu()">UISAU</a>
          </li>

        </ul>
      </div>

      <button class="button" [attr.data-content]="User" (click)="logout()"></button>




    </div>
  </nav>
</header>

