
<div class="search-container">
  <div class="rounded p-0 bg-dark">
    <form class="search-form" autocomplete="off" >
      <input type="text" class="form-control search-input" name="buscarId" placeholder="Id"  [(ngModel)]="buscarId" />
      <input type="text" class="form-control search-input" placeholder="Abreviatura" name="buscarAbreviatura"  [(ngModel)]="buscarAbreviatura">
      <input type="text" class="form-control search-input" placeholder="Procedimiento" name="buscarProcedimiento"  [(ngModel)]="buscarProcedimiento">
      <select id="especialidad" class="form-control search-input" placeholder="Especialidad" [(ngModel)]="buscarEspecialidad" name="especialidad" >
        <option value="" disabled selected hidden>Especialidad</option>
        <option *ngFor="let option of e.servicio" [value]="option.value">{{ option.label }}</option>
      </select>
      <select id="servicio" class="form-control search-input" placeholder="Servicio" [(ngModel)]="buscarServicio" name="servicio" >
        <option value="" disabled selected hidden>Servicio</option>
        <option *ngFor="let option of e.serv" [value]="option.value">{{ option.label }}</option>
      </select>
     <div class="div-btn-icons">
      <searchIcon (click)="filtro()" />
     <deleteInput (click)="limpiarInput()" />
     <createIcon data-bs-toggle="modal" [routerLink]="['/registrarProceMed']" />
     <catalogoIcom data-bs-toggle="modal" [routerLink]="['/abreviaturas']" />
     </div>

    </form>
  </div>
</div>
<div class="">
  <div class="custom-table-wrapper t-w-d mt-2">
    <h3 class="m-0 p-0">Procedimientos Medicos</h3>
    <table class="custom-table table-hover text-center">
      <thead class="">
        <tr>
        <th class="text-center ">Codigo</th>
        <th class="text-center ">Procedimiento</th>
        <th class="text-center " >Servicio</th>
        <th class="text-center " >Especialidad</th>
        <th class="text-center " >Sexo</th>
        <th class="text-center " >Cantidad</th>
        <th class="text-center " >Fecha</th>
        <th class="text-center "> Editar</th>
      </tr>
      </thead>

      <tbody class="svg-container">
        <tr *ngFor="let proce of resumen">
          <td class="text-center text-warning text-uppercase" >{{ proce.abreviatura }}</td>
          <td class="text-center" > {{ proce.procedimiento}} </td>
          <td class="text-center">{{ proce.servicio | anyToNumber | enumServ}}</td>
          <td class="text-center">{{ proce.especialidad | anyToNumber | enumEspecialidad}}</td>
          <td class="text-center ">{{ proce.sexo | anyToText | sexo}}</td>
          <td class="text-center">{{ proce.cantidad}}</td>
          <td class="text-center">{{ proce.fecha | anyToText | formatoFecha}}</td>
          <td class="text-start">
            <editIcon [routerLink]="['/editProceMed', proce.id]" />
          </td>
        </tr>
      </tbody>
    </table>
  </div>



<!-- Paginación -->
  <div class="d-flex justify-content-center pagination mt-3">
    <div class="btn-group" [class.disabled]="paginaActual === 1" *ngIf="totalPaginas()">
      <button type="button" class="btn btn-secondary" (click)="onPageChange(1)" aria-label="Primera">Primera</button>
      <button type="button" class="btn btn-secondary" (click)="onPageChange(paginaActual - 1)" aria-label="Anterior">Anterior</button>
      <button type="button" class="btn btn-secondary" (click)="onPageChange(paginaActual + 1)" aria-label="Siguiente">Siguiente</button>
      <button type="button" class="btn btn-secondary" (click)="onPageChange(totalPaginas())" aria-label="Última">Última</button>
    </div>
  </div>
</div>
