<div class="container-fluid mt-5 w-auto">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header h4 text-center">
          Detalles de Consulta
          <br>Id:  {{consult?.id}}
        </div>
        <div class="card-body display-7 mx-5">
          <strong class="h5">Hoja de Emergencia:</strong> {{consult?.hoja_emergencia}}<br>
          <strong class="h5">Expediente:</strong> {{consult?.expediente}}<br>
          <hr>
          <strong class="h5">Recepción:</strong> {{consult?.recepcion | anyToText | formatoFecha}}<br>
          <strong class="h5">Fecha de Recepción:</strong> {{consult?.fecha_recepcion | anyToText | formatoFecha}}<br>
          <strong class="h5">Fecha de Egreso:</strong> {{consult?.fecha_egreso | anyToText | formatoFecha}}<br>
          <strong class="h5">Fecha de Consulta:</strong> {{consult?.fecha_consulta | anyToText | formatoFecha}}<br>
          <strong class="h5">Hora:</strong> {{consult?.hora}}<br>
          <hr>
          <strong class="h5">Nombres:</strong> {{consult?.nombres | anyToText | capitalizeName}}<br>
          <strong class="h5">Apellidos:</strong> {{consult?.apellidos | anyToText | capitalizeName}}<br>
          <strong class="h5">Nacimiento:</strong> {{consult?.nacimiento | anyToText | formatoFecha}}<br>
          <strong class="h5">Edad en la consulta:</strong> {{consult?.edad}}<br>
          <strong class="h5">Sexo:</strong> {{consult?.sexo | anyToText | sexo}}<br>
          <strong class="h5">DPI:</strong> {{consult?.dpi | anyToText | formatoDPI}}<br>
          <hr>
          <strong class="h5">Dirección:</strong> {{consult?.direccion}}<br>
          <strong class="h5">Acompañante:</strong> {{consult?.acompa | anyToText | capitalizeName}}<br>
          <strong class="h5">Parentesco:</strong> {{consult?.parente}}<br>
          <strong class="h5">Teléfono:</strong> {{consult?.telefono}}<br>
          <hr>
          <strong class="h5">Especialidad:</strong> {{consult?.especialidad | anyToNumber | enumEspecialidad}}<br>
          <strong class="h5">Servicio:</strong> {{consult?.servicio | anyToNumber | enumServicios}}<br>

          <strong class="h5">Tipo de Consulta:</strong> {{consult?.tipo_consulta | anyToNumber | enumTipo}}<br>
        </div>
      </div>
    </div>
  </div>
</div>
