


<div class="container-fluid d-flex my-3">
  <button class="btnS  rounded border-quatz mx-4 w-10 p-0 justify-content-start" (click)="regresar()">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5ZM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5Z"/>
    </svg>
    Regresar
  </button>
  <h3 class="text-center justify-content-center">Editar Ingreso Hospitalario </h3>

</div>

<p class="text-center">Consulta Id: {{ consulta.id }}</p>


<div class="container-fluid d-flex">
  <div class="text-white border-quatz btn text-end p-2 col-3">
    <button class="text-center justify-content-end mx-1 mb-1 bg-quatz rounded btn p-0 w-20">Edit <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
      <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
      <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
      </svg>
    </button>

    <p class="my-0 mx-0 text-start"><span class="text-warning mx-1">Id Paciente:</span>{{ patient?.id }}
      <ng-container *ngIf="patient?.id; else noData">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check text-success" viewBox="0 0 16 16">
          <path d="M5.8 13.2a1 1 0 0 1-1.4 0L1 9.4l1.4-1.4 3.4 3.4 8.6-8.6L14 4.4l-7.2 7.2z"/>
        </svg></ng-container><ng-template #noData><span class="text-danger mx-1">x</span></ng-template>
    </p>

    <p class="my-0 mx-0 text-start"><span class="text-warning mx-1">Expediente:</span>{{ patient?.expediente }}
      <ng-container *ngIf="patient?.expediente; else noData">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check text-success" viewBox="0 0 16 16">
        <path d="M5.8 13.2a1 1 0 0 1-1.4 0L1 9.4l1.4-1.4 3.4 3.4 8.6-8.6L14 4.4l-7.2 7.2z"/>
      </svg></ng-container><ng-template #noData><span class="text-danger mx-1">x</span></ng-template>
    </p>

    <hr style="margin: 0;">

    <p class="my-0 mx-0 text-start"><span class="text-warning mx-1">Paciente:</span>{{ patient?.nombre | anyToText | capitalizeName }} {{ patient?.apellido | anyToText | capitalizeName }}
      <ng-container *ngIf="patient?.nombre && patient?.apellido; else noData">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check text-success" viewBox="0 0 16 16">
        <path d="M5.8 13.2a1 1 0 0 1-1.4 0L1 9.4l1.4-1.4 3.4 3.4 8.6-8.6L14 4.4l-7.2 7.2z"/>
      </svg></ng-container><ng-template #noData><span class="text-danger mx-1">x</span></ng-template>
    </p>

    <p class="my-0 mx-0 text-start"><span class="text-warning mx-1">Sexo:</span>{{ patient?.sexo | anyToText |sexo}}
       <ng-container *ngIf="patient?.sexo; else noData">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check text-success" viewBox="0 0 16 16">
        <path d="M5.8 13.2a1 1 0 0 1-1.4 0L1 9.4l1.4-1.4 3.4 3.4 8.6-8.6L14 4.4l-7.2 7.2z"/>
      </svg></ng-container><ng-template #noData><span class="text-danger mx-1">x</span></ng-template>
    </p>

    <p class="my-0 mx-0 text-start"><span class="text-warning mx-1">DPI:</span>{{ patient?.dpi | anyToText | formatoDPI}}
      <ng-container *ngIf="patient?.dpi; else noData">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check text-success" viewBox="0 0 16 16">
        <path d="M5.8 13.2a1 1 0 0 1-1.4 0L1 9.4l1.4-1.4 3.4 3.4 8.6-8.6L14 4.4l-7.2 7.2z"/>
      </svg></ng-container><ng-template #noData><span class="text-danger mx-1">x</span></ng-template>
    </p>

    <p class="my-0 mx-0 text-start"><span class="text-warning mx-1">Fecha de nacimiento:</span>{{ patient?.nacimiento | anyToText | formatoFecha}}
      <ng-container *ngIf="patient?.nacimiento; else noData">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check text-success" viewBox="0 0 16 16">
        <path d="M5.8 13.2a1 1 0 0 1-1.4 0L1 9.4l1.4-1.4 3.4 3.4 8.6-8.6L14 4.4l-7.2 7.2z"/>
      </svg></ng-container><ng-template #noData><span class="text-danger mx-1">x</span></ng-template>
    </p>

    <p class="my-0 mx-0 text-start"><span class="text-warning mx-1">Edad:</span>{{ patient?.nacimiento | anyToText | edad}}
      <ng-container *ngIf="patient?.nacimiento; else noData">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check text-success" viewBox="0 0 16 16">
        <path d="M5.8 13.2a1 1 0 0 1-1.4 0L1 9.4l1.4-1.4 3.4 3.4 8.6-8.6L14 4.4l-7.2 7.2z"/>
      </svg></ng-container><ng-template #noData><span class="text-danger mx-1">x</span></ng-template>
    </p>

    <p class="my-0 mx-0 text-start"><span class="text-warning mx-1">Lugar de Nacimiento:</span>{{ patient?.lugar_nacimiento | anyToNumber | enumMunicipio}}
      <ng-container *ngIf="patient?.lugar_nacimiento; else noData">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check text-success" viewBox="0 0 16 16">
          <path d="M5.8 13.2a1 1 0 0 1-1.4 0L1 9.4l1.4-1.4 3.4 3.4 8.6-8.6L14 4.4l-7.2 7.2z"/>
        </svg></ng-container><ng-template #noData><span class="text-danger mx-1">x</span></ng-template>
    </p>

    <hr style="margin: 0;">

    <p class="my-0 mx-0 text-start "><span class="text-warning mx-1">Vecindad:</span>{{ patient?.municipio | anyToNumber | enumMunicipio }}, {{patient?.depto | anyToNumber | enumDepto}}
      <ng-container *ngIf="patient?.municipio && patient?.depto; else noData">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check text-success" viewBox="0 0 16 16">
          <path d="M5.8 13.2a1 1 0 0 1-1.4 0L1 9.4l1.4-1.4 3.4 3.4 8.6-8.6L14 4.4l-7.2 7.2z"/>
        </svg></ng-container><ng-template #noData><span class="text-danger mx-1">x</span></ng-template>
    </p>

    <p class="my-0 mx-0 text-start "><span class="text-warning mx-1">Dirección:</span>{{ patient?.direccion | anyToText | capitalizeName}}
      <ng-container *ngIf="patient?.direccion; else noData">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check text-success" viewBox="0 0 16 16">
          <path d="M5.8 13.2a1 1 0 0 1-1.4 0L1 9.4l1.4-1.4 3.4 3.4 8.6-8.6L14 4.4l-7.2 7.2z"/>
        </svg></ng-container><ng-template #noData><span class="text-danger mx-1">x</span></ng-template>
    </p>

    <p class="my-0 mx-0 text-start "><span class="text-warning mx-1">Telefono:</span>{{ patient?.telefono}}
      <ng-container *ngIf="patient?.telefono; else noData">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check text-success" viewBox="0 0 16 16">
        <path d="M5.8 13.2a1 1 0 0 1-1.4 0L1 9.4l1.4-1.4 3.4 3.4 8.6-8.6L14 4.4l-7.2 7.2z"/>
      </svg></ng-container><ng-template #noData><span class="text-danger mx-1">x</span></ng-template>
  </p>

    <p class="my-0 mx-0 text-start "><span class="text-warning mx-1">Telefono Familiar:</span>{{ patient?.telefono_responsable }}
      <ng-container *ngIf="patient?.telefono_responsable; else noData">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check text-success" viewBox="0 0 16 16">
          <path d="M5.8 13.2a1 1 0 0 1-1.4 0L1 9.4l1.4-1.4 3.4 3.4 8.6-8.6L14 4.4l-7.2 7.2z"/>
        </svg></ng-container><ng-template #noData><span class="text-danger mx-1">x</span></ng-template>
    </p>

    <hr style="margin: 0;">

    <p class="my-0 mx-0 text-start "><span class="text-warning mx-1">Estado Civil:</span>{{ patient?.estado_civil |anyToNumber | enumCivil }}
      <ng-container *ngIf="patient?.estado_civil; else noData">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check text-success" viewBox="0 0 16 16">
          <path d="M5.8 13.2a1 1 0 0 1-1.4 0L1 9.4l1.4-1.4 3.4 3.4 8.6-8.6L14 4.4l-7.2 7.2z"/>
        </svg></ng-container><ng-template #noData><span class="text-danger mx-1">x</span></ng-template>
    </p>

    <p class="my-0 mx-0 text-start "><span class="text-warning mx-1">Ocupación:</span>{{ patient?.ocupacion | anyToText | capitalizeName}}
      <ng-container *ngIf="patient?.ocupacion; else noData">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check text-success" viewBox="0 0 16 16">
        <path d="M5.8 13.2a1 1 0 0 1-1.4 0L1 9.4l1.4-1.4 3.4 3.4 8.6-8.6L14 4.4l-7.2 7.2z"/>
      </svg></ng-container><ng-template #noData><span class="text-danger mx-1">x</span></ng-template>
    </p>

    <p class="my-0 mx-0 text-start "><span class="text-warning mx-1">Responsable:</span>{{ patient?.responsable  | anyToText | capitalizeName}}
      <ng-container *ngIf="patient?.responsable; else noData">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check text-success" viewBox="0 0 16 16">
          <path d="M5.8 13.2a1 1 0 0 1-1.4 0L1 9.4l1.4-1.4 3.4 3.4 8.6-8.6L14 4.4l-7.2 7.2z"/>
        </svg></ng-container><ng-template #noData><span class="text-danger mx-1">x</span></ng-template>
    </p>

    <p class="my-0 mx-0 text-start "><span class="text-warning mx-1">Parentesco:</span>{{ patient?.parentesco |anyToNumber | enumParentesco}}
      <ng-container *ngIf="patient?.parentesco; else noData">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check text-success" viewBox="0 0 16 16">
          <path d="M5.8 13.2a1 1 0 0 1-1.4 0L1 9.4l1.4-1.4 3.4 3.4 8.6-8.6L14 4.4l-7.2 7.2z"/>
        </svg></ng-container><ng-template #noData><span class="text-danger mx-1">x</span></ng-template>
    </p>

    <p class="my-0 mx-0 text-start"><span class="text-warning mx-1">Padre:</span>{{ patient?.padre | anyToText | capitalizeName}}
      <ng-container *ngIf="patient?.padre; else noData">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check text-success" viewBox="0 0 16 16">
          <path d="M5.8 13.2a1 1 0 0 1-1.4 0L1 9.4l1.4-1.4 3.4 3.4 8.6-8.6L14 4.4l-7.2 7.2z"/>
        </svg></ng-container><ng-template #noData><span class="text-danger mx-1">x</span></ng-template>
    </p>

    <p class="my-0 mx-0 text-start"><span class="text-warning mx-1">Madre:</span>{{ patient?.madre | anyToText | capitalizeName}}
      <ng-container *ngIf="patient?.madre; else noData">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check text-success" viewBox="0 0 16 16">
          <path d="M5.8 13.2a1 1 0 0 1-1.4 0L1 9.4l1.4-1.4 3.4 3.4 8.6-8.6L14 4.4l-7.2 7.2z"/>
        </svg></ng-container><ng-template #noData><span class="text-danger mx-1">x</span></ng-template>
    </p>

    <hr style="margin: 0;">
    <p class="my-0 mx-0 text-start "><span class="text-warning mx-1">Creado Por:</span>{{ consulta.created_by }}</p>
    <p class="my-0 mx-0 text-start "><span class="text-warning mx-1">Creado:</span>{{ consulta.created_at }}</p>
    <p class="my-0 mx-0 text-start "><span class="text-warning mx-1">Actualizado:</span>{{ consulta.updated_at }}</p>
  </div>

  <div class="container-fluid d-flex">
    <form class="justify-content-center">
      <p class="text-info bg-dark rounded">Datos de Ingreso</p>
        <div class="d-flex justify-content-center">

          <div class="w-40">
            <label for="especialidad">Especialidad:</label>
            <select id="especialidad" class="form-control" [(ngModel)]="consulta.especialidad" name="especialidad" >
              <option *ngFor="let option of e.servicio" [value]="option.value">{{ option.label }}</option>
            </select>
          </div>

          <div class=" mx-1 w-40 my-0">
            <label for="servicio">Servicio:</label>
                <select id="servicio" class="form-control" [(ngModel)]="consulta.servicio" name="servicio" >
                  <option *ngFor="let option of e.servicios" [value]="option.value">{{ option.label }}</option>
                </select>
          </div>

        </div>

        <hr class="my-1">


        <div class="d-flex">
          <div class="w-40 mx-1">
            <label class="text-light" for="folios">Fecha de Ingreso:</label>
            <input type="date" class="form-control bg-primary bg-opacity-75" name="fecha_consulta" [(ngModel)]="consulta.fecha_consulta">
          </div>

          <div class="w-440 mx-1">
            <label class="text-light" for="hora">Hora de Ingreso:</label>
            <input type="time" class="form-control bg-primary bg-opacity-75" name="hora" [(ngModel)]="consulta.hora">
          </div>


        </div>
        <hr class="my-1">




        <div class="mb-3 mt-3 text-center">
          <button class="btnS btn p-1" (click)="onSubmit()">Guardar</button>
        </div>

    </form>
</div>

</div>





