/* Estilo de la tabla */
.console-table {
  background-color:rgb(253, 253, 255);
  color: #110606;
  border: 5px solid rgb(88, 98, 107);
  border-radius: 12px;
  padding: 5px;
  border-collapse: collapse;
  width: 100%;
}

/* Estilo de las celdas de encabezado */
.console-table th {
  background-color: rgb(255, 255, 255);
  padding: 8px;
  text-align: left;
  /* border: 1px dashed #fff; */

}

/* Estilo de las celdas de datos */
.console-table td {
  background-color: white;
  padding: 5px;
  border: 5px  #423d3d;
}

/* Estilo de las filas impares */
.console-table tr:nth-child(odd) {
  background-color: #f6f1f1;
  border-bottom: 1px solid #564f4f;

}


.bg-aqua {
  background-color: #74afc9;
}

.border-text {
  -webkit-text-stroke: 1.2px rgb(235, 239, 243) ;/* Agrega un borde de 2px en color negro */
  color: #131314; /* Define el color del texto */
}

.btn {
  width: 6.5em;
  height: 2.3em;
  margin: 0.5em;
  background: black;
  color: white;
  border: none;
  border-radius: 0.625em;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
 }

 button:hover {
  color: black;
 }

 button:after {
  content: "";
  background: white;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
 }

 button:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
 }
