<div class="search-container">
  <h2 class="text-center">Reporte de Citas</h2>
  <div class="search-div">
    <form class="search-form" autocomplete="off">
      <div class="d-flex">
        <div class="form-group flex-grow-1">
          <label class="h3 text-end">Día</label>
          <input type="text" class="form-control search-input fs-5" id="day" name="day" [(ngModel)]="day" placeholder="Día" (ngModelChange)="updateDate()" >
        </div>

        <div class="form-group mx-2 flex-grow-1">
          <label class="h3 text-end">Mes</label>
          <input type="text" class="form-control search-input" id="month" name="month" [(ngModel)]="month" placeholder="Mes" (ngModelChange)="updateDate()" >
        </div>

        <div class="form-group flex-grow-1">
          <label class="h3 text-end">Día</label>
          <input type="text" class="form-control search-input" id="year" name="year" [(ngModel)]="year" placeholder="Año" (ngModelChange)="updateDate()" >
        </div>
      </div>
    </form>
    <div class="div-btn-icons w-100 mt-2 no-imprimir">
      <backIcon [routerLink]="['/coex']" />
      <citaIcon routerLink="/crear-paciente" [routerLink]="['/agendar']" />
      <!-- <atenderIcon /> -->
    </div>
  </div>
</div>


<section class="search-container">
  <div class="mt-3" *ngIf="citas_medicina_consulta.length >= 1">
    <span class="text-center h3">Reconsultas Medicina Interna</span>
    <div class="custom-table-striped">
      <table class="custom-table">
        <thead>
          <tr>
            <th class="text-center">No.</th>
            <th class="text-center">Tipo</th>
            <th class="text-center">Expediente</th>
            <th class="text-center">Nombre</th>
            <th class="text-center">Nota</th>
            <th class="text-center">Editar</th>
          </tr>
        </thead>
        <tbody *ngFor="let cita of citas_medicina_consulta; let i = index">
          <tr>

            <td class="text-center">{{ contador + i + 1 }}</td>
            <td class="text-center">{{cita.tipo | anyToNumber | enumTipoCita}}</td>
            <td class="text-center">{{ cita.expediente }}</td>
            <td class="text-center">{{ cita.name | anyToText | capitalizeName}}</td>
            <td class="text-center">{{ cita.nota}}</td>
            <td class="text-center  " [routerLink]="['/agenda/edit', cita.id]">
              <editIcon />
             </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

  <div class="mt-3" *ngIf="citas_medicina_preop.length >= 1  ">
    <span class="text-center h3">Reconsultas Preop Medicina Interna</span>
    <div class="custom-table-striped">
      <table class="custom-table">
        <thead>
          <tr>
            <th class="text-center">No.</th>
            <th class="text-center">Tipo</th>
            <th class="text-center">Expediente</th>
            <th class="text-center">Nombre</th>
            <th class="text-center">Nota</th>
            <th class="text-center">Editar</th>
          </tr>
        </thead>
        <tbody *ngFor="let cita of citas_medicina_preop; let i = index">
          <tr>
            <td class="text-center">{{ contador + i + 1 }}</td>
            <td class="text-center">{{cita.tipo | anyToNumber | enumTipoCita}}</td>
            <td class="text-center">{{ cita.expediente }}</td>
            <td class="text-center">{{ cita.name | anyToText | capitalizeName}}</td>
            <td class="text-center">{{ cita.nota}}</td>
            <td class="text-center  " [routerLink]="['/agenda/edit', cita.id]">
              <editIcon />
             </td>
        </tbody>
      </table>
    </div>

  </div>

  <div class="mt-3" *ngIf="citas_medicina_especial.length >= 1">
    <span class="text-center h3">Reconsultas Especiales Medicina Interna</span>
    <div class="custom-table-striped">
      <table class="custom-table">
        <thead>
          <tr>
            <th class="text-center">No.</th>
            <th class="text-center">Tipo</th>
            <th class="text-center">Expediente</th>
            <th class="text-center">Nombre</th>
            <th class="text-center">Nota</th>
            <th class="text-center">Editar</th>
          </tr>
        </thead>
        <tbody *ngFor="let cita of citas_medicina_especial; let i = index">
          <tr>
            <td class="text-center">{{ contador + i + 1 }}</td>
            <td class="text-center">{{cita.tipo | anyToNumber | enumTipoCita}}</td>
            <td class="text-center">{{ cita.expediente }}</td>
            <td class="text-center">{{ cita.name | anyToText | capitalizeName}}</td>
            <td class="text-center">{{ cita.nota}}</td>
            <td class="text-center  " [routerLink]="['/agenda/edit', cita.id]">
              <editIcon />
             </td>
        </tbody>
      </table>
    </div>
  </div>

  <div class="mt-3" *ngIf="citas_pedia_consulta.length >= 1">
    <span class="text-center h3">Reconsultas Pediatria</span>
    <div class="custom-table-striped">
      <table class="custom-table">
        <thead>
          <tr>
            <th class="text-center">No.</th>
            <th class="text-center">Tipo</th>
            <th class="text-center">Expediente</th>
            <th class="text-center">Nombre</th>
            <th class="text-center">Nota</th>
            <th class="text-center">Editar</th>
          </tr>
        </thead>
        <tbody *ngFor="let cita of citas_pedia_consulta; let i = index">
          <tr>
            <td class="text-center">{{ contador + i + 1 }}</td>
            <td class="text-center">{{cita.tipo | anyToNumber | enumTipoCita}}</td>
            <td class="text-center">{{ cita.expediente }}</td>
            <td class="text-center">{{ cita.name | anyToText | capitalizeName}}</td>
            <td class="text-center">{{ cita.nota}}</td>
            <td class="text-center  " [routerLink]="['/agenda/edit', cita.id]">
              <editIcon />
             </td>
        </tbody>
      </table>
    </div>
  </div>

  <div class="mt-3" *ngIf="citas_gine_consulta.length >=1">
    <span class="text-center h3">Reconsultas Ginecologia y Obstetricia</span>
    <div class="custom-table-striped">
      <table class="custom-table">
        <thead>
          <tr>
            <th class="text-center">No.</th>
            <th class="text-center">Tipo</th>
            <th class="text-center">Expediente</th>
            <th class="text-center">Nombre</th>
            <th class="text-center">Nota</th>
            <th class="text-center">Editar</th>
          </tr>
        </thead>
        <tbody *ngFor="let cita of citas_gine_consulta; let i = index">
          <tr>
            <td class="text-center">{{ contador + i + 1 }}</td>
            <td class="text-center">{{cita.tipo | anyToNumber | enumTipoCita}}</td>
            <td class="text-center">{{ cita.expediente }}</td>
            <td class="text-center">{{ cita.name | anyToText | capitalizeName}}</td>
            <td class="text-center">{{ cita.nota}}</td>
            <td class="text-center  " [routerLink]="['/agenda/edit', cita.id]">
              <editIcon />
             </td>
        </tbody>
      </table>
    </div>

  </div>

  <div class="mt-3" *ngIf="citas_gine_preop.length >=1">
    <span class="text-center h3">Reconsultas Preoperatorias Ginecologia</span>
   <div class="custom-table-striped">
    <table class="custom-table">
      <thead>
        <tr>
          <th class="text-center">No.</th>
          <th class="text-center">Tipo</th>
          <th class="text-center">Expediente</th>
          <th class="text-center">Nombre</th>
          <th class="text-center">Nota</th>
          <th class="text-center">Editar</th>
        </tr>
      </thead>
      <tbody *ngFor="let cita of citas_gine_preop; let i = index">
        <tr>
          <td class="text-center">{{ contador + i + 1 }}</td>
          <td class="text-center">{{cita.tipo | anyToNumber | enumTipoCita}}</td>
          <td class="text-center">{{ cita.expediente }}</td>
          <td class="text-center">{{ cita.name | anyToText | capitalizeName}}</td>
          <td class="text-center">{{ cita.nota}}</td>
          <td class="text-center  " [routerLink]="['/agenda/edit', cita.id]">
            <editIcon />
           </td>
      </tbody>
    </table>
   </div>

  </div>

  <div class="mt-3" *ngIf="citas_gine_usg_obs.length >=1">
    <span class="text-center h3">Ultrasonidos Obstetricos</span>
    <div class="custom-table-striped">
      <table class="custom-table">
        <thead>
          <tr>
            <th class="text-center">No.</th>
            <th class="text-center">Tipo</th>
            <th class="text-center">Expediente</th>
            <th class="text-center">Nombre</th>
            <th class="text-center">Nota</th>
            <th class="text-center">Editar</th>
          </tr>
        </thead>
        <tbody *ngFor="let cita of citas_gine_usg_obs; let i = index">
          <tr>
            <td class="text-center">{{ contador + i + 1 }}</td>
            <td class="text-center">{{cita.tipo | anyToNumber | enumTipoCita}}</td>
            <td class="text-center">{{ cita.expediente }}</td>
            <td class="text-center">{{ cita.name | anyToText | capitalizeName}}</td>
            <td class="text-center">{{ cita.nota}}</td>
            <td class="text-center  " [routerLink]="['/agenda/edit', cita.id]">
              <editIcon />
             </td>
        </tbody>
      </table>
    </div>

  </div>

  <div class="mt-3" *ngIf="citas_gine_usg_pel.length >=1">
    <span class="text-center h3">Ultrasonidos Pelvicos y Endovaginales</span>
    <div class="custom-table-striped">
      <table class="custom-table">
        <thead>
          <tr>
            <th class="text-center">No.</th>
            <th class="text-center">Tipo</th>
            <th class="text-center">Expediente</th>
            <th class="text-center">Nombre</th>
            <th class="text-center">Nota</th>
            <th class="text-center">Editar</th>
          </tr>
        </thead>
        <tbody *ngFor="let cita of citas_gine_usg_pel; let i = index">
          <tr>
            <td class="text-center">{{ contador + i + 1 }}</td>
            <td class="text-center">{{cita.tipo | anyToNumber | enumTipoCita}}</td>
            <td class="text-center">{{ cita.expediente }}</td>
            <td class="text-center">{{ cita.name | anyToText | capitalizeName}}</td>
            <td class="text-center">{{ cita.nota}}</td>
            <td class="text-center  " [routerLink]="['/agenda/edit', cita.id]">
              <editIcon />
             </td>
        </tbody>
      </table>
    </div>

  </div>

  <div class="mt-3" *ngIf="citas_gine_colpo.length >=1">
    <span class="text-center h3">Colposcopias</span>
    <div class="custom-table-striped">
      <table class="custom-table">
        <thead>
          <tr>
            <th class="text-center">No.</th>
            <th class="text-center">Tipo</th>
            <th class="text-center">Expediente</th>
            <th class="text-center">Nombre</th>
            <th class="text-center">Nota</th>
            <th class="text-center">Editar</th>
          </tr>
        </thead>
        <tbody *ngFor="let cita of citas_gine_colpo; let i = index">
          <tr>
            <td class="text-center">{{ contador + i + 1 }}</td>
            <td class="text-center">{{cita.tipo | anyToNumber | enumTipoCita}}</td>
            <td class="text-center">{{ cita.expediente }}</td>
            <td class="text-center">{{ cita.name | anyToText | capitalizeName}}</td>
            <td class="text-center">{{ cita.nota}}</td>
            <td class="text-center  " [routerLink]="['/agenda/edit', cita.id]">
              <editIcon />
             </td>
        </tbody>
      </table>
    </div>

  </div>

  <div class="mt-3" *ngIf="citas_gine_especial.length >=1">
    <span class="text-center h3">Reconsultas Especiales Ginecologia y Obstetricia</span>
    <div class="custom-table-striped">
      <table class="custom-table">
        <thead>
          <tr>
            <th class="text-center">No.</th>
            <th class="text-center">Tipo</th>
            <th class="text-center">Expediente</th>
            <th class="text-center">Nombre</th>
            <th class="text-center">Nota</th>
            <th class="text-center">Editar</th>
          </tr>
        </thead>
        <tbody *ngFor="let cita of citas_gine_especial; let i = index">
          <tr>
            <td class="text-center">{{ contador + i + 1 }}</td>
            <td class="text-center">{{cita.tipo | anyToNumber | enumTipoCita}}</td>
            <td class="text-center">{{ cita.expediente }}</td>
            <td class="text-center">{{ cita.name | anyToText | capitalizeName}}</td>
            <td class="text-center">{{ cita.nota}}</td>
            <td class="text-center  " [routerLink]="['/agenda/edit', cita.id]">
              <editIcon />
             </td>
        </tbody>
      </table>
    </div>

  </div>

  <div class="mt-3" *ngIf="citas_ciru_consulta.length >=1">
    <span class="text-center h3">Reconsultas Cirugía</span>
    <div class="custom-table-striped"><table class="custom-table">
      <thead>
        <tr>
          <th class="text-center">No.</th>
          <th class="text-center">Tipo</th>
          <th class="text-center">Expediente</th>
          <th class="text-center">Nombre</th>
          <th class="text-center">Nota</th>
          <th class="text-center">Editar</th>
        </tr>
      </thead>
      <tbody *ngFor="let cita of citas_ciru_consulta; let i = index">
        <tr>
          <td class="text-center">{{ contador + i + 1 }}</td>
          <td class="text-center">{{cita.tipo | anyToNumber | enumTipoCita}}</td>
          <td class="text-center">{{ cita.expediente }}</td>
          <td class="text-center">{{ cita.name | anyToText | capitalizeName}}</td>
          <td class="text-center">{{ cita.nota}}</td>
          <td class="text-center  " [routerLink]="['/agenda/edit', cita.id]">
            <editIcon />
           </td>
      </tbody>
    </table></div>
  </div>

  <div class="mt-3" *ngIf="citas_trauma_consulta.length >=1">
    <span class="text-center h3">Reconsultas Traumatología</span>
    <div class="custom-table-striped">
      <table class="custom-table">
        <thead>
          <tr>
            <th class="text-center">No.</th>
            <th class="text-center">Tipo</th>
            <th class="text-center">Expediente</th>
            <th class="text-center">Nombre</th>
            <th class="text-center">Nota</th>
            <th class="text-center">Editar</th>
          </tr>
        </thead>
        <tbody *ngFor="let cita of citas_trauma_consulta; let i = index">
          <tr>
            <td class="text-center">{{ contador + i + 1 }}</td>
            <td class="text-center">{{cita.tipo | anyToNumber | enumTipoCita}}</td>
            <td class="text-center">{{ cita.expediente }}</td>
            <td class="text-center">{{ cita.name | anyToText | capitalizeName}}</td>
            <td class="text-center">{{ cita.nota}}</td>
            <td class="text-center  " [routerLink]="['/agenda/edit', cita.id]">
              <editIcon />
             </td>
        </tbody>
      </table>
    </div>

  </div>

  <div class="mt-3" *ngIf="citas_nutricion_consulta.length >=1">
    <span class="text-center h3">Reconsultas Nutrición</span>
   <div class="custom-table-striped">
    <table class="custom-table">
      <thead>
        <tr>
          <th class="text-center">No.</th>
          <th class="text-center">Tipo</th>
          <th class="text-center">Expediente</th>
          <th class="text-center">Nombre</th>
          <th class="text-center">Nota</th>
          <th class="text-center">Editar</th>
        </tr>
      </thead>
      <tbody *ngFor="let cita of citas_nutricion_consulta; let i = index">
        <tr>
          <td class="text-center">{{ contador + i + 1 }}</td>
          <td class="text-center">{{cita.tipo | anyToNumber | enumTipoCita}}</td>
          <td class="text-center">{{ cita.expediente }}</td>
          <td class="text-center">{{ cita.name | anyToText | capitalizeName}}</td>
          <td class="text-center">{{ cita.nota}}</td>
          <td class="text-center  " [routerLink]="['/agenda/edit', cita.id]">
            <editIcon />
           </td>
      </tbody>
    </table>
   </div>

  </div>

  <div class="mt-3" *ngIf="citas_psicologia_consulta.length >=1">
    <span class="text-center h3">Reconsultas psicologia</span>
    <div class="custom-table-striped">
      <table class="custom-table">
        <thead>
          <tr>
            <th class="text-center">No.</th>
            <th class="text-center">Tipo</th>
            <th class="text-center">Expediente</th>
            <th class="text-center">Nombre</th>
            <th class="text-center">Nota</th>
            <th class="text-center">Editar</th>
          </tr>
        </thead>
        <tbody *ngFor="let cita of citas_psicologia_consulta; let i = index">
          <tr>
            <td class="text-center">{{ contador + i + 1 }}</td>
            <td class="text-center">{{cita.tipo | anyToNumber | enumTipoCita}}</td>
            <td class="text-center">{{ cita.expediente }}</td>
            <td class="text-center">{{ cita.name | anyToText | capitalizeName}}</td>
            <td class="text-center">{{ cita.nota}}</td>
            <td class="text-center  " [routerLink]="['/agenda/edit', cita.id]">
              <editIcon />
             </td>
        </tbody>
      </table>
    </div>

  </div>

</section>


<!-- tablas antiguas -->




