/* Estilo de la tabla */
.console-table {
  background-color:black;
  color: #fff;
  border: 2px solid rgb(81, 75, 75);
  border-radius: 12px;
  padding: 5px;
  border-collapse: collapse;
  width: 100%;

}

/* Estilo de las celdas de encabezado */
.console-table th {
  background-color: black;
  padding: 8px;
  text-align: left;
  /* border: 1px dashed #fff; */

}

/* Estilo de las celdas de datos */
.console-table td {
  background-color: var(--bs-btn-disabled-border-color);
  padding: 8px;
  border: 1px  #fff;
}

/* Estilo de las filas impares */
.console-table tr:nth-child(odd) {
  background-color: #222;

}
