
<div class="search-container">
  <div class="rounded p-0">
    <form class="search-form" autocomplete="off" >
      <input type="text" class="form-control search-input" name="buscarId" placeholder="Id"  [(ngModel)]="buscarId" />
      <input type="text" class="form-control search-input" placeholder="Abreviatura" name="buscarAbreviatura"  [(ngModel)]="buscarAbreviatura">
      <input type="text" class="form-control search-input" placeholder="Procedimiento" name="buscarProcedimiento"  [(ngModel)]="buscarProcedimiento">
      <div class="div-btn-icons">
        <searchIcon (click)="filtro()" />
        <deleteInput (click)="limpiarInput()" />
        <createIcon data-bs-toggle="modal" [routerLink]="['/nuevProce']" />
        <backIcon [routerLink]="['/listProce']" />
      </div>
       </form>
  </div>
</div>

  <div class="">
    <div class="custom-table-wrapper t-w-d mt-2">
      <h3 class="m-0 p-0">Codigos de Procedimientos</h3>
      <table class="custom-table table-hover text-center">
        <thead class="text-normal">
          <tr>
          <th class="text-center ">id</th>
          <th class="text-center ">Codigo</th>
          <th class="text-center ">Procedimiento</th>
          <th class="text-center ">Editar</th>
        </tr>
        </thead>

        <tbody class="svg-container">
          <tr *ngFor="let procC of resumen">
            <td class="text-text">
              {{ procC.id}}
            </td>
            <td class="text-center text-warning text-uppercase" >{{ procC.abreviatura }}</td>
            <td class="text-center" > {{ procC.procedimiento}} </td>
            <td class="text-center">
              <editIcon [routerLink]="['/editProce', procC.id]" />
            </td>


          </tr>
        </tbody>
      </table>
    </div>



  <!-- Paginación -->
    <div class="d-flex justify-content-center pagination mt-3">
      <div class="btn-group" [class.disabled]="paginaActual === 1" *ngIf="totalPaginas()">
        <button type="button" class="btn btn-secondary" (click)="onPageChange(1)" aria-label="Primera">Primera</button>
        <button type="button" class="btn btn-secondary" (click)="onPageChange(paginaActual - 1)" aria-label="Anterior">Anterior</button>
        <button type="button" class="btn btn-secondary" (click)="onPageChange(paginaActual + 1)" aria-label="Siguiente">Siguiente</button>
        <button type="button" class="btn btn-secondary" (click)="onPageChange(totalPaginas())" aria-label="Última">Última</button>
      </div>
    </div>
  </div>
