





      <div class= " w-100">
        <div class="row justify-content-center">
          <div class="col-md-6">

            <form class="p-3 text-light w-100 btn  bg-light bg-opacity-25 ">

              <div class="d-flex justify-content-end">
                <button class="btn btn-dark w-20" [routerLink]="['/ingresos']">regresar</button>
                <button class="btn btn-success w-20 mx-3" (click)="editar()">Guardar</button>
                <button class="btn btn-info w-20 mx-2 " [routerLink]="['/ingresohoja/view/', ingreso.id]">Imprimir</button>
              </div>

              <p class="text-center mt-2">consulta nO. {{ingreso.id}} - {{p.expediente}}</p>

              <div class="d-flex justify-content-center mb-2">
                <div class="form-group w-40">
                  <label for="expediente" class="">Expediente:</label>
                  <input type="text" class="form-control text-center text-uppercase" id="expediente" name="expediente" placeholder="expediente" [(ngModel)]="ingreso.expediente" disabled="">
                </div>

                <div class="form-group mb-3 mx-3">
                  <label class="">Estado:</label>
                  <div class="form-check form-switch ">
                    <input class="form-check-input bg-success text-uppercase h4 mx-4" type="checkbox" id="flexSwitchCheckDefault" [checked]="p.estado === 'v'" (change)="cambiarEstado()" disabled>
                    <label class="form-check-label h4">{{ p.estado === 'm' ? 'Fallecido' : 'Vivo' }}</label>
                  </div>
                </div>

              </div>

              <div class="justify-content-center">
                <div class="form-group ">
                  <label for="fecha" class="">Fecha y hora de Ingreso:</label>
                  <div class="d-flex">
                    <input type="date" class="form-control mx-2 text-center text-uppercase" name="fecha_consulta" placeholder="dd-mm-yyyy" [(ngModel)]="ingreso.fecha_consulta" [max]="maxdate">
                    <input type="time" class="form-control text-center text-uppercase" id="hora" name="hora" placeholder="hh:mm" [(ngModel)]="ingreso.hora">
                  </div>
                </div>
              </div>

              <div class="d-flex justify-content-center mt-2">
                <div class="form-group mx-2 w-50">
                  <label for="servicios" class="">Servicio:</label>
                  <select id="servicios" class="form-select text-center text-uppercase" [(ngModel)]="ingreso.servicio" name="servicios">
                    <option *ngFor="let option of e.servicios" [value]="option.value">{{ option.label }}</option>
                  </select>
                </div>
                <div class="form-group w-50">
                  <label for="especialidad" class="">Especialidad:</label>
                  <select id="especialidad" class="form-select text-center text-uppercase" [(ngModel)]="ingreso.especialidad" name="especialidad">
                    <option *ngFor="let option of e.servicio" [value]="option.value">{{ option.label }}</option>
                  </select>
                </div>
              </div>


              <div class="d-flex justify-content-center mt-2">
                <div class="form-group mb-3 w-50 mx-2">
                  <label for="nombre" class="">Nombre:</label>
                  <input type="text" class="form-control text-center text-uppercase" [(ngModel)]="p.nombre" name="nombre" placeholder="Nombre" autofocus>
                </div>

                <div class="form-group mb-3 w-50">
                  <label for="apellido" class="">Apellido:</label>
                  <input type="text" class="form-control text-center text-uppercase" [(ngModel)]="p.apellido" name="apellido" placeholder="Apellido" autofocus>
                </div>
              </div>

              <div class="d-flex justify-content-center mt-2">

                <div class="form-group mb-3 w-50 mx-2">
                  <label for="dpi" class="">DPI:</label>
                  <input type="number" id="dpi" name="dpi" class="form-control text-center text-uppercase" [(ngModel)]="p.dpi" placeholder="DPI" autofocus appDpi>
                </div>

                <div class="form-group mb-3 w-50 mx-2">
                  <label class="">Pasaporte</label>
                  <input type="text" id="pasaporte" name="pasaporte" class="form-control text-center text-uppercase" [(ngModel)]="p.pasaporte"  placeholder="pasaporte" autofocus>
                </div>
              </div>

              <div class="d-flex justify-content-center">
                <div class="form-group mb-3 w-50 mx-2">
                  <label for="nacimiento">Fecha de Nacimiento *</label>
                  <input type="date" id="nacimiento" name="nacieminto" class="form-control text-center text-uppercase" [(ngModel)]="p.nacimiento" name="nacimiento" placeholder="nacimiento" autofocus [max]="maxdate">
                </div>

                <div class="form-group mb-3 w-50 mx-2">
                  <label for="edad">Edad</label>
                  <input type="text" id="edad" name="edad" class="form-control bg-light text-center text-uppercase" [(ngModel)]="ingreso.edad" name="edad" placeholder="edad" disabled="" >
                </div>
              </div>

              <div class="d-flex justify-content-center">
                <div class="form-group mb-3 w-40 mx-2">
                  <label for="acionalidad">Nacionalidad</label>
                  <select id="nacionaldad" class="form-control bg-light " [(ngModel)]="p.nacionalidad" name="nacionalidad" autofocus>
                    <option *ngFor="let option of e.nation" [value]="option.value">{{option.label}}</option>
                  </select>
                </div>

                <div class="form-group mb-3 w-30 mx-2">
                  <label for="sexo">Sexo *</label>
                  <select id="sexo" class="form-control bg-light text-center text-uppercase" [(ngModel)]="p.sexo" name="sexo" autofocus>
                    <option value=""></option>
                    <option value="M">Masculino</option>
                    <option value="F">Femenino</option>
                  </select>
                </div>

                <div class="form-group mb-3 w-30 mx-2">
                  <label for="ecivil">Estado Civil</label>
                  <select id="estadoCivil" class="form-control bg-light text-center text-uppercase" [(ngModel)]="p.estado_civil" name="estadoCivil" autofocus>
                    <option *ngFor="let option of e.ecivil" [value]="option.value">{{option.label}}</option>
                  </select>
                </div>

              </div>

              <div class="d-flex justify-content-center">
                <div class="form-group mb-3 w-50 mx-2">
                  <label for="lugar_nacimiento">Lugar de Nacimiento</label>
                  <select id="lugarNacimiento" class="form-control bg-light text-center text-uppercase" [(ngModel)]="p.lugar_nacimiento" name="lugarNacimiento" autofocus>
                    <option *ngFor="let option of e.municipio" [value]="option.value">{{option.label}}</option>
                  </select>
                </div>

                <div class="form-group mb-3 w-50 mx-2">
                  <label for="telefono">Telefono</label>
                  <input type="text" id="telefono" name="telefono" class="form-control bg-light text-center text-uppercase" [ngModel]="p.telefono" (ngModelChange)="formatPhoneNumber($event)" placeholder="telefono" autofocus>
                </div>

              </div>

              <div class="d-flex justify-content-center mt-3">

                <div class="form-group w-100">
                  <label>Dirección de Domicilio</label>
                  <input type="text" id="direccion" name="direccion" class="form-control bg-light text-center text-uppercase" [(ngModel)]="p.direccion" name="direccion" placeholder="direccion" autofocus>
                </div>
              </div>

              <div class="d-flex justify-content-center mt-3">
                <div class="form-group w-100">
                  <label>Ocupación</label>
                  <input type="text" id="ocupacion" name="ocupacion" class="form-control bg-light text-center text-uppercase" [(ngModel)]="p.ocupacion" name="ocupacion" placeholder="ocupacion" autofocus>
                </div>
              </div>

              <div class="d-flex justify-content-center mt-3">
                <div class="form-group mb-3 w-40 mx-2">
                  <label for="acompañante" class="">Conyugue:</label>
                    <input type="text" class="form-control mx-2 text-center text-uppercase " id="acompañante" name="acompañante" placeholder="" [(ngModel)]="ingreso.acompa" (ngModelChange)="onAcompaChange()">
                </div>

                <div class="form-group w-20 mb-3 mx-2">
                  <label for="parente" class="">Parentesco:</label>
                  <select id="parentesco" class="form-select text-center text-uppercase" [(ngModel)]="ingreso.parente" name="parente" disabled>
                    <option value="null"></option>
                    <option value="9">Esposo/a</option>
                  </select>
                </div>

                <div class="form-group mx-3 mb-3 w-40">
                  <label for="telefono_responsable">otro Tel.</label>
                  <input type="number" id="telResponsable" name="telResponsable" class="form-control bg-light text-center text-uppercase" [(ngModel)]="p.telefono_responsable" name="telResponsable" placeholder="telefono Responsable" autofocus>
                </div>

              </div>

              <div class="d-flex justify-content-center">

                <div class="form-group mb-3 w-50 mx-2">
                  <label>Padre</label>
                  <input type="text" id="padre" name="padre" class="form-control bg-light  text-center text-uppercase" [(ngModel)]="p.padre" name="padre" placeholder="padre" autofocus>
                </div>

                <div class="form-group mb-3 w-50 mx-2">
                  <label>Madre</label>
                  <input type="text" id="madre" name="madre" class="form-control bg-light text-center text-uppercase" [(ngModel)]="p.madre" name="madre" placeholder="madre" autofocus>
                </div>
              </div>



              <div class="form-group mb-3">
                <label for="nota" class="form-label">Nota:</label>
                <textarea class="form-control text-center text-uppercase" id="nota" name="nota" placeholder="nota" [(ngModel)]="ingreso.nota"></textarea>
              </div>







            </form>
          </div>
        </div>
      </div>

















