<div class="div-search">
  <form class="search-form" autocomplete="off" >
    <input type="text" class="form-control search-input" name="expediente" placeholder="Expediente"  [(ngModel)]="expedienteBuscar" />
    <input type="sumit" class="form-control  search-input " placeholder="nombre" name="nombreBuscar"  [(ngModel)]="nombreBuscar">
    <input type="text" class="form-control   search-input" placeholder="apellido" name="apellidoBuscar"  [(ngModel)]="apellidoBuscar">
    <input type="text" class="form-control  search-input" placeholder="DPI" name="dpiBuscar"  [(ngModel)]="dpiBuscar">
    <div class="div-btn-icons">
      <searchIcon (click)="filtro()" />
      <deleteInput (click)="limpiarInput()" />
    </div>
  </form>
  <div class="custom-table-wrapper t-w-d mt-2">
    <h5 class="m-0 p-0">Buscar Madre</h5>
    <table class="custom-table table-hover text-center">
      <thead class="text-normal">
        <tr>
          <th class="text-center ">Id</th>
          <th class="text-center " >Expediente</th>
          <th class="text-center " >Nombre</th>
          <th class="text-center " >DPI</th>
          <th class="text-center " >Sexo</th>
          <th class="text-center " >Edad</th>
          <th class="text-center " >Estado</th>
          <th class="text-center ">Opciones</th>
        </tr>
      </thead>
      <tbody class="svg-container">
        <tr *ngFor="let paciente of filteredPacientes">
          <td class="text-center">
            <p class="text-90">{{ paciente.id }}</p>
          </td>
          <td class="text-center">{{ paciente.expediente }}</td>
          <td class="text-center" appHighlightWords >
             {{ paciente.nombre | capitalizeName }} {{ paciente.apellido | capitalizeName }}
          </td>
          <td class="text-center">{{ paciente.dpi | anyToText | formatoDPI }}</td>
          <td class="text-center"><ng-container *ngIf="paciente.sexo == 'F'; else man">
            <femIcon/>
           </ng-container>
           <ng-template #man>
             <ng-container *ngIf="paciente.sexo == 'M'; else NoneBl">
               <maleIcon/>
             </ng-container>
           </ng-template>
           <ng-template #NoneBl>
             <span class="text-warning">SIn Registrar !!!</span>
             <atentionIcon />
           </ng-template>
          </td>
          <td class="text-center">{{ paciente.nacimiento | years }} años</td>
          <td class="text-center">
            <ng-container *ngIf="paciente.estado.toLowerCase() === 'v'; else elseBlock">
              <!-- SVG para paciente.estado === 'v' -->
              <beatIcon/>
            </ng-container>
            <ng-template #elseBlock>
              <deadIcon/>
            </ng-template>
          </td>
          <td class="text-center">
            <div class="div-btn-opt">
              <addIcon *ngIf=" validar===true" class="btn btn-dark btn-sm" (click)="copiarPaciente()" data-bs-toggle="modal" data-bs-target="#formularioCrear" />
              <dataViewIcon (click)="abrirModal(paciente)"  data-bs-toggle="modal" data-bs-target="#ver" />
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="d-flex justify-content-center pagination mt-3">
    <div class="btn-group" [class.disabled]="paginaActual === 1" *ngIf="totalPaginas()">
      <button type="button" class="btn btn-secondary" (click)="onPageChange(1)" aria-label="Primera">Primera</button>
      <button type="button" class="btn btn-secondary" (click)="onPageChange(paginaActual - 1)" aria-label="Anterior">Anterior</button>
      <button type="button" class="btn btn-secondary" (click)="onPageChange(paginaActual + 1)" aria-label="Siguiente">Siguiente</button>
      <button type="button" class="btn btn-secondary" (click)="onPageChange(totalPaginas())" aria-label="Última">Última</button>
    </div>
  </div>

</div>




  <div class="modal" id="formularioCrear">

    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content bg-night">
        <div class="modal-header">
          <h5 class="modal-title">Constancia</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body bg-night">
          <div>
            <form class="custom-form">
              <div class="custom-form-group">
                <label>Nombre</label>
                <input type="text" id="nombre" name="amdre" class="custom-input" [(ngModel)]="constancia.madre" placeholder="Nombre" autofocus autocomplete="off">
              </div>
              <div class="custom-form-group">
                <label>CUI</label>
                <input  type="number" class="custom-input" name="dpi" id="dpi" [(ngModel)]="constancia.dpi" autocomplete="off">
              </div>
              <div class="custom-form-group">
                <label>Pasaporte</label>
                <input  type="text" class="custom-input" name="passport" id="passport" [(ngModel)]="constancia.passport" autocomplete="off">
              </div>
              <div class="custom-form-group" *ngIf="!constancia.dpi">
                <label>Certificado de Nacimiento</label>
                <div class="d-flex justify-content-between gap-1">
                  <input  type="text" class="custom-input" name="folio" id="folio" [(ngModel)]="constancia.folio" placeholder="folio" autocomplete="off">
                  <input  type="text" class="custom-input" name="partida" id="partida" [(ngModel)]="constancia.partida" placeholder="partida" autocomplete="off">
                  <input  type="text" class="custom-input" name="libro" id="libro" [(ngModel)]="constancia.libro" placeholder="libro" autocomplete="off">
                </div>
              </div>
              <div class="custom-form-group" *ngIf="constancia.passport">
                <label>Pais</label>
                <input  type="text" class="custom-input" name="pais" id="pais" [(ngModel)]="constancia.pais" autocomplete="off">
              </div>
              <div class="custom-form-group">
                <label>Nacionalidad</label>
                <select class="custom-input " name="nacionalidad" id="nacionalidad" [(ngModel)]="constancia.nacionalidad" autofocus>
                  <option  *ngFor="let option of d.nation" [value]="option.value">{{option.label}}</option>
                </select>
              </div>
              <div class="custom-form-group">
                <label>Vecindad</label>
                <select class="custom-input " name="vecindad" id="vecindad" [(ngModel)]="constancia.vecindad" autofocus>
                  <option  *ngFor="let option of d.vecindad" [value]="option.value">{{option.label}}</option>
                </select>
              </div>
              <div class="custom-form-group">
                <label>Sexo del Recien Nacido</label>
                <select class="custom-input" name="sexo" id="sexo" [(ngModel)]="constancia.sexo_rn" autofocus>
                  <option class="bg-info" value="M">Masculino</option>
                  <option class="rosado" value="F">Femenino</option>
                  <option class="bg-light" value="I">Indefinido</option>
                </select>
              </div>
              <div class="custom-form-group">
                <label>Peso del Recien Nacido</label>
                <div class="d-flex gap-1 justify-content-center">
                  <div class="custom-form-group w-100">
                    <label>Libras</label>
                    <input class="custom-input text-center" type="number" id="lb" name="lb" min="0" placeholder="Libras" [(ngModel)]="constancia.lb" autocomplete="off">
                  </div>
                  <div class="custom-form-group w-100">
                    <label>Onzas</label>
                    <input class="custom-input text-center" type="number" id="onz" name="onz" min="0" placeholder="Onzas" [(ngModel)]="constancia.onz" autocomplete="off">
                  </div>
                  </div>
              </div>
              <div class="custom-form-group">
                <label>Fecha y Hora del Parto</label>
                <div class="d-flex gap-1 justify-content-center">
                  <div class="custom-form-group w-100">
                    <label>Fecha</label>
                    <input class="custom-input text-center" type="date" id="fecha_parto" name="fecha_parto" max="fechaActual" placeholder="fecha_parto" [(ngModel)]="constancia.fecha_parto" autocomplete="off">
                  </div>
                  <div class="custom-form-group w-100">
                    <label>Hora</label>
                    <input class="custom-input text-center" type="time" id="hora" name="hora" min="0" placeholder="Hora" [(ngModel)]="constancia.hora" autocomplete="off">
                  </div>
                  </div>
              </div>

              <div class="custom-form-group">
                <label>Datos del Parto</label>
                <div class="d-flex gap-1 justify-content-center">
                  <div class="custom-form-group w-100">
                    <label>Tipo de Parto</label>
                    <select  type="text" class="custom-input" name="tipo_parto" id="tipo_parto" [(ngModel)]="constancia.tipo_parto">
                      <option  *ngFor="let option of parto.tipoparto" [value]="option.value">{{option.label}}</option>
                    </select>
                  </div>
                  <div class="custom-form-group w-100">
                    <label>Clase de Parto</label>
                    <select  type="text" class="custom-input" name="clase_parto" id="clase_parto" [(ngModel)]="constancia.clase_parto">
                      <option  *ngFor="let option of parto.claseparto" [value]="option.value">{{option.label}}</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="custom-form-group">
                <label>Hijos Nacidos</label>
                <div class="d-flex gap-1 justify-content-center">
                  <div class="custom-form-group w-100">
                    <label>Vivos</label>
                    <input  type="number" class="custom-input text-center" name="vivos" id="vivos" [(ngModel)]="constancia.vivos" min="0" (ngModelChange)="actualizarHijos()" autofocus autocomplete="off">
                  </div>
                  <div class="custom-form-group w-100">
                    <label>Muertos</label>
                    <input  type="number" class="custom-input text-center" name="muertos" id="muertos" [(ngModel)]="constancia.muertos" min="0" (ngModelChange)="actualizarHijos()" autofocus autocomplete="off">
                  </div>
                  <div class="custom-form-group w-100">
                    <label>Total</label>
                    <input  type="number" class="custom-input text-center" min="0" name="hijos" id="hijos"  [(ngModel)]="hijosNacidos" autocomplete="off">
                  </div>
                </div>
              </div>
              <div class="custom-form-group">
                <label>Medico que atendio</label>
                <div class="custom-form-group w-100">
                  <label>Nombre del Medico</label>
                  <select  type="text" class="custom-input" name="medico" id="medico" [(ngModel)]="constancia.medico" (ngModelChange)="medico(constancia.medico)">
                    <option class="fs-mini"  *ngFor="let m of medicos" [ngValue]="m.name">{{ m.name }} {{m.colegiado}}</option>
                  </select>
                </div>
                <div class="d-flex gap-1 justify-content-center">
                  <div class="custom-form-group w-100">
                    <label>Colegiado</label>
                    <input  type="text" class="custom-input" name="colegiado" id="colegiado" [(ngModel)]="constancia.colegiado" (ngModelChange)="medico(constancia.colegiado)" autocomplete="off">
                  </div>
                  <div class="custom-form-group w-100">
                    <label>DPI Medico</label>
                    <input  type="text" class="custom-input" name="dpi_medico" id="dpi_medico" [(ngModel)]="constancia.dpi_medico"  autocomplete="off">
                  </div>

                </div>

              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <saveIcon (click)="crear()" />
          <closeIcon data-bs-dismiss="modal" (click)="limpiarInput()" />

        </div>
      </div>
    </div>
  </div>




  <div class="modal" id="ver">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content w-80 p-1 bg-night  bg-opacity-75">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body">
          <div class="">
            <div class=" h4 text-center">
              Detalle del Paciente <br> expediente:  <strong>{{ madre?.expediente }}</strong><br>
              Id: {{ madre?.id }}
            </div>
            <div class=" w-100 mx-5 font-monospace text-body-secondary">
              <hr>
              <strong class="h5 me-3">Nombres:</strong> {{ madre?.nombre | anyToText | capitalizeName }} {{ madre?.apellido | anyToText | capitalizeName }}<br>
              <strong class="h5 me-3">Nacimiento:</strong> {{ madre?.nacimiento | anyToText | formatoFecha }}<br>
              <strong class="h5 me-3">Edad:</strong> {{ madre?.nacimiento | edad }}<br>
              <strong class="h5 me-3">Sexo:</strong> {{ madre?.sexo | anyToText | sexo }}<br>
              <strong class="h5 me-3">DPI:</strong> {{ madre?.dpi | anyToText | formatoDPI }}<br>
              <strong class="h5 me-3">Lugar de Nacimiento:</strong> {{ madre?.lugar_nacimiento | anyToNumber | enumMunicipio }}, {{madre?.depto_nac | anyToNumber | enumDepto}}<br>
              <strong class="h5 me-3">Vecindad:</strong> {{ madre?.municipio | anyToNumber | enumMunicipio }}, {{madre?.depto | anyToNumber | enumDepto}}<br>
              <hr>
              <button class="btn btn-dark btn-sm" [routerLink]="['/paciente/edit', madre?.id]" data-bs-dismiss="modal" aria-label="Close">
                <editIcon />
              </button>

              <button (click)="validador()" class="btn bg-dark">
                <checkGoodIcon />
                validar
              </button>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

