
<div class="div-btn-opt no-imprimir">
  <backIcon [routerLink]="['/tablaEmergencia']" />
  <printIcon (click)="imprimir()" />

</div>
<div class="container-impresion imprimir-esto blanco">
  <!-- titulo -->
  <img src="assets/logo.jpg" alt="Logo" class="marca-agua">
  <div class="d-flex justify-content-center">
    <ng-container >

      <h3 class="text-center">Hoja de Atención en Emergencia</h3>
    </ng-container>

  </div>

  <div>
    <h6 class="text-end mr-3">No. EMERGENCIAS: {{emergencia?.hoja_emergencia}}</h6>
  </div>
  <!-- servicios -->
 <div class="d-flex justify-content-between doc-section" >
  <h6>SERVICIOS:</h6>
  <div>
    <label>Medicina Interna</label>
    <cuadroBlancoIcon  class="text-black" *ngIf="!(emergencia?.especialidad == 1)"  />
    <cuadroLlenoIcon  class="text-black"*ngIf="emergencia?.especialidad == 1" />
  </div>
  <div>
    <label>Pediatria</label>
    <cuadroBlancoIcon  class="text-black" *ngIf="!(emergencia?.especialidad == 2)"  />
    <cuadroLlenoIcon  class="text-black"*ngIf="emergencia?.especialidad == 2" />
  </div>
  <div>
    <label>Ginecologia</label>
    <cuadroBlancoIcon  class="text-black" *ngIf="!(emergencia?.especialidad == 3)"  />
    <cuadroLlenoIcon  class="text-black"*ngIf="emergencia?.especialidad == 3" />
  </div>
  <div>
    <label>Cirugia</label>
    <cuadroBlancoIcon  class="text-black" *ngIf="!(emergencia?.especialidad == 4)"  />
    <cuadroLlenoIcon  class="text-black"*ngIf="emergencia?.especialidad == 4" />
  </div>
  <div class="mx-2">
    <label>Traumatologia</label>
    <cuadroBlancoIcon  class="text-black" *ngIf="!(emergencia?.especialidad == 5)"  />
    <cuadroLlenoIcon  class="text-black"*ngIf="emergencia?.especialidad == 5" />
  </div>
 </div>
<!-- fecha y hora -->
 <div class="d-flex justify-content-between doc-section">
  <div>
    <label>Fecha:</label>
    <p>{{emergencia?.fecha_consulta | anyToText | formatoFecha}}</p>
  </div>
  <div>
    <label>Hora:</label>
    <p>{{emergencia?.hora}}</p>
  </div>
  <div>
    <label>Expediente:</label>
    <p>{{emergencia?.expediente}}</p>
  </div>

 </div>
 <!-- Datos Generales -->
  <div class="doc-section ">
    <h6>DATOS GENERALES</h6>
    <div class="d-flex justify-content-between p-0 m-0 borderline" >
      <div class="mx-2">
        <label>Nombre del Paciente:</label>
        <p>{{emergencia?.nombres | anyToText | capitalizeName}} {{emergencia?.apellidos | anyToText | capitalizeName}}</p>
      </div>
      <div>
        <label>Fecha de Nacimiento:</label>
        <p>{{emergencia?.nacimiento | anyToText | formatoFecha}}</p>
      </div>
      <div class="mx-2">
        <label>Edad:</label>
        <p>{{emergencia?.nacimiento | anyToText | edad}}</p>
      </div>

    </div>
    <div class="d-flex justify-content-between p-0 m-0 borderline">
      <div class="mx-2">
        <label>Sexo:</label>
        <p>{{emergencia?.sexo | anyToText | sexo}}</p>
      </div>
      <div>
        <label>DPI:</label>
        <p>{{emergencia?.dpi | anyToText | formatoDPI}}</p>
      </div>
      <div class="mx-2">
        <label>Dirección:</label>
        <p>{{emergencia?.direccion | anyToText | capitalizeName}}</p>
      </div>
    </div>
    <div class="d-flex justify-content-between p-0 m-0 borderline">
      <div class="mx-2">
        <label>Responsable</label>
        <p>{{emergencia?.acompa | anyToText | capitalizeName}}</p>
      </div>
      <div>
        <label>Parentesco:</label>
        <p>{{emergencia?.parente | anyToText | enumParentesco}}</p>
      </div>
      <div class="mx-2">
        <label>Telefono:</label>
        <p>{{emergencia?.telefono}}</p>
    </div>
  </div>
  <!-- Motivo de la consulta -->
  <div class="doc-section d-flex justify-content-between">
    <div>
      <label for="">Motivo de la consulta:</label>
      <p></p>
    </div>
  </div>
  <div class="d-flex justify-content-between doc-section" >
    <h6></h6>
    <div>
      <label>Traido po Bomberos</label>
      <cuadroBlancoIcon  class="text-black"  />
    </div>
    <div>
      <label>Accidente Transito</label>
      <cuadroBlancoIcon  class="text-black"   />
    </div>
    <div>
      <label>Arma Blanca</label>
      <cuadroBlancoIcon  class="text-black"  />

    </div>
    <div>
      <label>Arma de Fuego</label>
      <cuadroBlancoIcon  class="text-black"   />

    </div>
    <div>
      <label>Estudiante Escuela Publica</label>
      <cuadroBlancoIcon  class="text-black"  />

    </div>
    <div>
      <label>Accidente Laboral</label>
      <cuadroBlancoIcon  class="text-black"  />

    </div>
    <div class="mx-2">
      <label>Personal de Hospital</label>
      <cuadroBlancoIcon  class="text-black"  />

    </div>
   </div>

  <div class="doc-section d-flex justify-content-between">
    <div>
      <label>Historia de la enfermedad actual:</label>
      <p></p>
    </div>
  </div>
  <!-- Antecedentes -->
   <div class="doc-section">
    <h6>ANTECEDENTES</h6>
    <div class="d-flex justify-content-between ">
      <div class="borderline">
        <label>Familiares:</label>
        <p></p>
      </div>
      <div class="borderline">
        <label>Medicos:</label>
        <p></p>
      </div>

      <div class="borderline">
        <label>Traumaticos:</label>
        <p></p>
      </div>
    </div>
    <div class="d-flex justify-content-between ">
      <div class="borderline">
        <label>Quirurgicos:</label>
        <p></p>
      </div>
      <div class="borderline">
        <label>Alergicos:</label>
        <p></p>
      </div>

    </div>
    <div class="d-flex justify-content-between ">
      <div class="borderline">
        <label>Ginecologicos:</label>
        <div class="d-flex justify-content-between">
          <p class="mx-2">G:_________</p>
          <P>P:_________</P>
          <P>C:_________</P>
          <P>A:_________</P>
          <p>HV:_________</p>
          <P>HM:_________</P>
          <P>FUR:_________</P>
          <P class="mx-2">FPP:_________</P>
        </div>
        <div class="d-flex justify-content-between">
          <p class="mx-3">Menarquía:______________</p>
          <p>Ciclos:________________</p>
          <p>FUP:_______________</p>
          <p class="mx-3">Control_PN:___________</p>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-between ">
      <div class="borderline">
        <label>Otros Antecedentes de importancia:</label>
        <p></p>
      </div>

    </div>

   </div>
   <!-- Examen Fisico -->
   <div class="doc-section_">
      <div class="d-flex justify-content-between ">
        <div class="borderline">
          <h6>EXAMÉN FISICO:</h6>
          <div class="d-flex justify-content-between">
            <p class="mx-2">P/A:_________mmHg</p>
            <P>FC:_________lpm</P>
            <P>FR:_________rpm</P>
            <P>SatO2:_________%</P>
            <p class="mx-2">Temp:_________°C</p>

          </div>
          <div class="d-flex justify-content-between">
            <P class="mx-2">Peso:_________</P>
            <P>Talla/longitud:_________cm</P>
            <P>P/T:_________</P>
            <P>P/T:_________</P>
            <P>T/E:_________</P>
            <P class="mx-2">P/E:_________</P>
          </div>
           <p class=" line"></p>
           <p class=" line"></p>
           <p class=" line"></p>
        </div>

      </div>


    </div>
    <!-- Impresion Clinica -->
    <div class="doc-section">
      <div class="d-flex justify-content-between ">
        <div class="">
          <h6>IMPRESIÓN CLINICA:</h6>
          </div>

        </div>
        <p class=" line"></p>
           <p class=" line"></p>
    </div>
    <!-- Impresion Clinica -->
    <div class="doc-section">
      <div class="d-flex justify-content-between ">
        <div class="">
          <h6>ORDENES MÉDICAS:</h6>
          </div>
        </div>
        <div class="d-flex">
          <div class="borderline">
            <label>#1:</label>
            <p class="line"></p>
            <p class="line"></p>
            <p class="line"></p>
            <div class="d-flex justify-content-between">
              <p class="p-0 m-0">Fecha:</p>
              <p class="p-0 m-0">Hora:</p>
              <p class="p-0 m-0">Firma y Sello:</p>
              <p></p>
            </div>
          </div>
          <div class="borderline">
            <label>#2:</label>
            <p class="line"></p>
            <p class="line"></p>
            <p class="line"></p>
            <div class="d-flex justify-content-between">
              <p class="p-0 m-0">Fecha:</p>
              <p class="p-0 m-0">Hora:</p>
              <p class="p-0 m-0">Firma y Sello:</p>
              <p></p>
            </div>
          </div>
          <div class="borderline">
            <label>#3:</label>
            <p class="line"></p>
            <p class="line"></p>
            <p class="line"></p>
            <div class="d-flex justify-content-between">
              <p class="p-0 m-0">Fecha:</p>
              <p class="p-0 m-0">Hora:</p>
              <p class="p-0 m-0">Firma y Sello:</p>
              <p></p>
            </div>
          </div>
        </div>

    </div>
    <div class="doc-section">
      <div class="d-flex justify-content-around">
        <div>
          <label>Ingreso:</label>
          <cuadroBlancoIcon class="text-black" />
        </div>
        <div>
          <label>Servicio a donde ingresa:</label>
          <p></p>
        </div>
        <div>
          <label>Egreso:</label>
          <cuadroBlancoIcon class="text-black" />
        </div>

      </div>

    </div>
    <div class="doc-section">
      <div class="d-flex justify-content-between ">
        <div class="">
          <h6>ORDENES DE EGRESO:</h6>
          </div>
        </div>
        <div class="d-flex">
          <div class="borderline">
            <label>#1:</label>
            <p class="line"></p>
            <p class="line"></p>
            <p class="line"></p>
            <div class="d-flex justify-content-between">
              <p class="p-0 m-0">Fecha:</p>
              <p class="p-0 m-0">Hora:</p>
              <p class="p-0 m-0">Firma y Sello:</p>
              <p></p>
            </div>
          </div>
          <div class="borderline">
            <label>#2:</label>
            <p class="line"></p>
            <p class="line"></p>
            <p class="line"></p>
            <div class="d-flex justify-content-between">
              <p class="p-0 m-0">Fecha:</p>
              <p class="p-0 m-0">Hora:</p>
              <p class="p-0 m-0">Firma y Sello:</p>
              <p></p>
            </div>
          </div>
        </div>

    </div>
    <div class="doc-section">
      <div class="d-flex justify-content-between ">
        <div class="">
          <h6>OBSERVACIONES:</h6>
          </div>
        </div>
        <p class="line"></p>
            <p class="line"></p>
            <p class="line"></p>
        <div class="d-flex">

        </div>

    </div>
    <div class="doc-section">
      <div class="d-flex justify-content-between ">
        <div class="">
          <h6>NOTAS DE ENFERMERIA:</h6>
          </div>
        </div>
        <p class="line"></p>
            <p class="line"></p>
            <p class="line"></p>
            <div class="d-flex justify-content-between">
              <p class="p-0 m-0">Fecha:</p>
              <p class="p-0 m-0">Hora:</p>
              <p class="p-0 m-0">Firma y Sello:</p>
              <p></p>
            </div>

    </div>
<h5 class="text-center">Hospital General Tipo I de Tecpán Guatemala</h5>




  </div>









</div>

