<div class="search-container">
  <h2 class="text-center">Unidad de Información en Salud al Usuario</h2>
  <div class="search-div">
    <form class="search-form" autocomplete="off" >
      <input type="number" class="search-input" name="expediente" placeholder="Expediente" [(ngModel)]="expedienteBuscar" />
      <input type="text" class="search-input" placeholder="Nombre" name="nombreBuscar" [(ngModel)]="nombreBuscar">
      <input type="text" class="search-input" placeholder="Apellido" name="apellidoBuscar" [(ngModel)]="apellidoBuscar">
      <div class="div-btn-icons justify-content-end">
        <searchIcon (click)="filtro()" />
        <deleteInput (click)="limpiarInput()" />
        <filterIcon data-bs-toggle="modal" data-bs-target="#formModal" />
        <excelIcon class="btn-search btn btn-dark p-1" data-bs-toggle="modal" data-bs-target="#reporte" />
        <tablillaIcon class="btn-search btn btn-dark p-1" (click)="tablillaNavigate()" />

      </div>
    </form>

  </div>





</div>
<!-- Tabla de resultados -->
<div class="custom-table-wrapper t-w-d mt-2">
  <h5 class="m-0 p-0">Pacientes Atendidos</h5>
  <table class="custom-table table-hover text-center">
    <thead>
      <tr>
        <th class="text-center">Consulta</th>
        <th class="text-center">Historia Clinica</th>
        <th class="text-center">Fecha</th>
        <th class="text-center">Paciente</th>
        <th class="text-center">Servicio</th>
        <th class="text-center">Tipo</th>
        <th class="text-center">Status</th>
        <th class="text-center">Opciones</th>
      </tr>
    </thead>
    <tbody class="svg-container">
      <tr *ngFor="let consulta of resumen">
        <td class="text-center" >
          <p class="text-yellow fs-mini">{{consulta.id}}</p>
        </td>
        <td>
          <ng-container *ngIf="consulta.expediente">
            <p class="label-td fs-mini">Expediente:</p>
            {{ consulta.expediente }}
          </ng-container>
          <ng-container *ngIf="consulta.hoja_emergencia">
            <p class="label-td fs-mini">Emergencia:</p>
            {{ consulta.hoja_emergencia }}
          </ng-container>
        </td>
        <td>
          <ng-container *ngIf="consulta.fecha_consulta">
            <p class="label-td fs-mini">Ingreso:</p>
            {{ consulta.fecha_consulta | anyToText | formatoFecha }}
          </ng-container>
          <ng-container *ngIf="consulta.fecha_egreso">
            <p class="label-td fs-mini">Egreso:</p>
            {{ consulta.fecha_egreso | anyToText | formatoFecha }}
          </ng-container>
        </td>
        <td appHighlightWords class="text-start text-compact">
          <span [ngClass]="{'mujer': consulta.sexo == 'F', 'hombre': consulta.sexo != 'F'}">{{ consulta.nombres | anyToText | capitalizeName }}</span> {{ consulta.apellidos | anyToText | capitalizeName }}</td>
        <td>{{ consulta.servicio | anyToNumber | enumServicios }}</td>
        <td class="text-center">
            <ng-container *ngIf="consulta.tipo_consulta == 1">
              <coexIcon  />
              <br/>
              <span class="fs-mini">Consulta Externa</span>
            </ng-container>
            <ng-container *ngIf="consulta.tipo_consulta == 2">
              <hospitalizacionIcon  />
              <br/>
              <span class="fs-mini">Hospitalización</span>
            </ng-container>
            <ng-container *ngIf="consulta.tipo_consulta == 3" >
              <emergenciaIcon  />
              <br/>
              <span class="fs-mini">Emergencia</span>
            </ng-container>
        </td>
        <td class="text-center">
          <ng-container *ngIf="consulta.status == 1">
            <activoIcon class="urgente" />
            <br/>
            <span class="fs-mini">Activo</span>
            </ng-container>
            <ng-container *ngIf="consulta.status == 2">
            <archiveIcon  />
            <br/>
            <span class="fs-mini">Archivado</span>
            </ng-container>
            <ng-container *ngIf="consulta.status == 3">
              <prestamoIcon  />
              <br/>
              <span class="fs-mini">Prestamo</span>
            </ng-container>
            <ng-container *ngIf="consulta.status == 4">
              <egresoIcon />
              <br/>
              <span class="fs-mini">Egreso</span>
            </ng-container>
        </td>
        <td class="text-center">
          <div class="div-btn-opt">
            <editIcon [routerLink]="['/detalleUisau/', consulta.id]" (click)="copiarId(consulta.id)" />
          </div>
        </td>





      </tr>
    </tbody>
  </table>
</div>



<!-- Modal de búsqueda -->
<div class="modal" id="formModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Buscar Paciente</h5>
        <closeIcon />
      </div>
      <div class="modal-body">
        <form class="custom-form" (ngSubmit)="filtro()">
          <div class="custom-form-group">
            <select id="status" class="custom-input" [(ngModel)]="statusBuscar" name="statusBuscar">
              <option value="1">Activos</option>
              <option value="2">Archivados</option>
            </select>
            <select id="especialidad" class="search-input" [(ngModel)]="tipoBuscar" name="tipoBuscar">
              <option value="" disabled selected hidden>Tipo Consulta</option>
              <option *ngFor="let option of enums.tipo" [value]="option.value">{{ option.label }}</option>
            </select>
            <input type="number" class="custom-input" name="id" placeholder="ID" [(ngModel)]="idBuscar" />
            <input type="number" class="custom-input" name="hoja" placeholder="Hoja" [(ngModel)]="hojaBuscar" />
            <input type="number" class="custom-input" name="expediente" placeholder="Expediente" [(ngModel)]="expedienteBuscar" />
            <input type="date" class="custom-input" name="fecha" [(ngModel)]="fechaBuscar" [max]="maxdate" />
            <input type="text" class="custom-input" placeholder="Nombre" name="nombreBuscar" [(ngModel)]="nombreBuscar">
            <input type="text" class="custom-input" placeholder="Apellido" name="apellidoBuscar" [(ngModel)]="apellidoBuscar">
            <input type="text" class="custom-input" placeholder="DPI" name="dpiBuscar" [(ngModel)]="dpiBuscar">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <searchIcon />
        <deleteInput (click)="limpiarInput()" />
      </div>
    </div>
  </div>
</div>



<!-- Modal de Reporte -->
<div class="modal fade" id="reporte" tabindex="-1" aria-labelledby="formModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Reporte</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        <form class="custom-form">
          <div class="custom-form-group">
            <label for="fecha_reporte" class="form-label">Fecha Reporte</label>
            <input class="custom-input" type="date" id="fecha_reporte" name="fecha_reporte" [(ngModel)]="fecha_reporte">
          </div>
        </form>

        <div class="d-flex justify-content-center">
          <button class="btn btn-dark search-button" (click)="descargarUisau()">
            <excelIcon />
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Paginación -->
<div class="d-flex justify-content-center mt-3">
  <div class="btn-group" *ngIf="totalPaginas()">
    <button type="button" class="btn btn-secondary" [disabled]="paginaActual === 1" (click)="onPageChange(1)">Primera</button>
    <button type="button" class="btn btn-secondary" [disabled]="paginaActual === 1" (click)="onPageChange(paginaActual - 1)">Anterior</button>
    <button type="button" class="btn btn-secondary" (click)="onPageChange(paginaActual + 1)">Siguiente</button>
    <button type="button" class="btn btn-secondary" (click)="onPageChange(totalPaginas())">Última</button>
  </div>
</div>
