<!-- Título -->
<h2 class="text-center">Unidad de Información en Salud al Usuario</h2>

<!-- Botones de acción -->
<div class="d-flex justify-content-end gap-1">
  <button type="button" class="btn btn-info m-0 p-1 fs-9 text-black wrap-text w-5" data-bs-toggle="modal" data-bs-target="#formModal">
    Buscar Paciente
  </button>
  <button type="button" class="btn btn-info m-0 p-1 fs-9 text-black wrap-text w-5" data-bs-toggle="modal" data-bs-target="#reporte">
    Reporte
  </button>
  <button type="button" class="btn btn-info m-0 p-1 fs-9 text-black wrap-text w-5" (click)="tablillaNavigate()">
    Tablilla de Información
  </button>

</div>

<!-- Modal de búsqueda -->
<div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="formModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Buscar Paciente</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        <form class="row g-2 font-ubuntu" (ngSubmit)="filtro()">
          <div class="col-md-6">
            <select id="status" class="form-control" [(ngModel)]="statusBuscar" name="statusBuscar">
              <option value="1">Activos</option>
              <option value="2">Archivados</option>
            </select>
          </div>
          <div class="col-md-6">
            <select id="especialidad" class="form-control" [(ngModel)]="tipoBuscar" name="tipoBuscar">
              <option value="" disabled selected hidden>Tipo Consulta</option>
              <option *ngFor="let option of enums.tipo" [value]="option.value">{{ option.label }}</option>
            </select>
          </div>
          <div class="col-md-4">
            <input type="number" class="form-control text-center" name="id" placeholder="ID" [(ngModel)]="idBuscar" />
          </div>
          <div class="col-md-4">
            <input type="number" class="form-control text-center" name="hoja" placeholder="Hoja" [(ngModel)]="hojaBuscar" />
          </div>
          <div class="col-md-4">
            <input type="number" class="form-control text-center" name="expediente" placeholder="Expediente" [(ngModel)]="expedienteBuscar" />
          </div>
          <div class="col-md-6">
            <input type="date" class="form-control" name="fecha" [(ngModel)]="fechaBuscar" [max]="maxdate" />
          </div>
          <div class="col-md-6">
            <input type="text" class="form-control text-capitalize" placeholder="Nombre" name="nombreBuscar" [(ngModel)]="nombreBuscar">
          </div>
          <div class="col-md-6">
            <input type="text" class="form-control text-capitalize" placeholder="Apellido" name="apellidoBuscar" [(ngModel)]="apellidoBuscar">
          </div>
          <div class="col-md-6">
            <input type="text" class="form-control text-center" placeholder="DPI" name="dpiBuscar" [(ngModel)]="dpiBuscar">
          </div>
          <div class="col-12 text-center mt-3">
            <button type="submit" class="btn btn-quatz">Buscar</button>
            <button type="reset" class="btn border-quatz" (click)="limpiarInput()">Limpiar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Tabla de resultados -->
<div class="table-wrapper-uisau mt-3">
  <table class="uisau-table table-hover text-center">
    <thead>
      <tr>
        <th></th>
        <th>Consulta</th>
        <th>Expediente (Emergencia)</th>
        <th>Ingreso/Egreso</th>
        <th>Nombre</th>
        <th>Servicio</th>
        <th>Especialidad</th>
        <th>Tipo</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let consulta of resumen">
        <td>
          <button type="button" class="uisau-btn fs-9 w-80 p-1 m-0" [routerLink]="['/detalleUisau/', consulta.id]" (click)="copiarId(consulta.id)">
            ✏️
          </button>
        </td>
        <td class="text-warning">{{ consulta.id }}</td>
        <td>{{ consulta.expediente }} ({{ consulta.hoja_emergencia }})</td>
        <td>{{ consulta.fecha_consulta | anyToText | formatoFecha }} - {{ consulta.fecha_egreso | anyToText | formatoFecha }}</td>
        <td>{{ consulta.nombres | anyToText | capitalizeName }} {{ consulta.apellidos | anyToText | capitalizeName }}</td>
        <td>{{ consulta.servicio | anyToNumber | enumServicios }}</td>
        <td>{{ consulta.especialidad | anyToNumber | enumEspecialidad }}</td>
        <td>{{ consulta.tipo_consulta | anyToNumber | enumTipo }}</td>
        <td>{{ consulta.status | anyToNumber | enumStatus }}</td>
      </tr>
    </tbody>
  </table>
</div>


<!-- Modal de Reporte -->
<div class="modal fade" id="reporte" tabindex="-1" aria-labelledby="formModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Reporte</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="fecha_reporte" class="form-label">Fecha Reporte</label>
          <input class="form-control" type="date" id="fecha_reporte" name="fecha_reporte" [(ngModel)]="fecha_reporte">
        </div>
        <div class="d-grid">
          <button class="btn btn-primary" (click)="descargarUisau()">Generar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Paginación -->
<div class="d-flex justify-content-center mt-3">
  <div class="btn-group" *ngIf="totalPaginas()">
    <button type="button" class="btn btn-secondary" [disabled]="paginaActual === 1" (click)="onPageChange(1)">Primera</button>
    <button type="button" class="btn btn-secondary" [disabled]="paginaActual === 1" (click)="onPageChange(paginaActual - 1)">Anterior</button>
    <button type="button" class="btn btn-secondary" (click)="onPageChange(paginaActual + 1)">Siguiente</button>
    <button type="button" class="btn btn-secondary" (click)="onPageChange(totalPaginas())">Última</button>
  </div>
</div>
