<div class="search-container">
  <div class="rounded p-0">
    <form class="search-form" autocomplete="off" >
      <input type="text" class="form-control search-input" name="buscarcodigo" placeholder="Código"  [(ngModel)]="buscarcodigo" />
      <input type="text" class="form-control search-input" name="buscargrupo" placeholder="Grupo"  [(ngModel)]="buscargrupo" />
      <input type="sumit" class="form-control search-input" placeholder="diagnostico" name="buscardx"  [(ngModel)]="buscardx">
      <input type="text" class="form-control search-input" placeholder="abreviatura" name="buscarabreviatura"  [(ngModel)]="buscarabreviatura">
      <select id="especialidad" class="form-control search-input" placeholder="Especialidad" [(ngModel)]="buscarespecialidad" name="especialidad" >
        <option value="" disabled selected hidden>Especialidad</option>
        <option *ngFor="let option of e.servicio" [value]="option.value">{{ option.label }}</option>
      </select>
      <div class="div-btn-icons">
        <searchIcon (click)="filtro()" />
        <deleteInput (click)="limpiarInput()" />
        <createIcon data-bs-toggle="modal" [routerLink]="['/formcie10']" />
      </div>
    </form>
  </div>
</div>
  <div class="">
    <div class="custom-table-wrapper t-w-d mt-2">
      <h3 class="m-0 p-0">CIE10</h3>
      <table class="custom-table table-hover text-center ">
        <thead class="text-normal">
          <tr>
          <th class="text-center ">Codigo</th>
          <th class="text-center ">Titulo</th>
          <th class="text-center " >Diagnostico</th>
          <th class="text-center " >Especialidad</th>
          <th class="text-center " >Abreviatura</th>
          <th class="text-center " >Id</th>
          <th class="text-center ">opciones</th>
        </tr>
        </thead>

        <tbody class="svg-container ">
          <tr *ngFor="let cie10 of resumen">
            <td class="text-center text-warning" >{{ cie10.cod }}</td>
            <td class="text-text" > {{ cie10.grupo}} </td>
            <td class="text-start">{{ cie10.dx}}</td>
            <td class="text-center">{{ cie10.especialidad | anyToNumber | enumEspecialidad}}</td>
            <td class="text-center tex-uppercase">{{ cie10.abreviatura}}</td>
            <td class="text-center">{{ cie10.id}}</td>
            <td class="text-center">
              <editIcon [routerLink]="['/cie10edit', cie10.id]" />
            </td>


          </tr>
        </tbody>
      </table>
    </div>



  <!-- Paginación -->
    <div class="d-flex justify-content-center pagination mt-3">
      <div class="btn-group" [class.disabled]="paginaActual === 1" *ngIf="totalPaginas()">
        <button type="button" class="btn btn-secondary" (click)="onPageChange(1)" aria-label="Primera">Primera</button>
        <button type="button" class="btn btn-secondary" (click)="onPageChange(paginaActual - 1)" aria-label="Anterior">Anterior</button>
        <button type="button" class="btn btn-secondary" (click)="onPageChange(paginaActual + 1)" aria-label="Siguiente">Siguiente</button>
        <button type="button" class="btn btn-secondary" (click)="onPageChange(totalPaginas())" aria-label="Última">Última</button>
      </div>
    </div>
  </div>
