<app-personal-navbar></app-personal-navbar>

<div class="">
  <div class="console-table">
    <form class="d-flex justify-content-center align-items-center gap-1" autocomplete="off" >
      <input type="text" class="form-control bg-opacity-75 text-center text-capitalize expande-contenido" name="colegiado" placeholder="Colegiado" [(ngModel)]="buscarcolegiado" />
      <input type="text" class="form-control bg-opacity-75 text-center text-capitalize expande-contenido" name="buscarDPI" placeholder="DPI"  [(ngModel)]="buscarDPI" />
      <input type="sumit" class="form-control text-capitalize expande-contenido" placeholder="Nombre Medico" name="buscarName"  [(ngModel)]="buscarName">
      <select id="especialidad" class="form-control expande-contenido" placeholder="Especialidad" [(ngModel)]="buscarespecialidad" name="especialidad" >
        <option value="" disabled selected hidden>Especialidad</option>
        <option *ngFor="let option of e.servicio" [value]="option.value">{{ option.label }}</option>
      </select>
      <button type="submit" class="btn btn-quatz"  (click)="filtro()">buscar</button>
      <button type="submit" class="btn btn-light" (click)="limpiarInput()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eraser-fill" viewBox="0 0 16 16">
        <path d="M8.086 2.207a2 2 0 0 1 2.828 0l3.879 3.879a2 2 0 0 1 0 2.828l-5.5 5.5A2
         2 0 0 1 7.879 15H5.12a2 2 0 0 1-1.414-.586l-2.5-2.5a2 2 0 0 1 0-2.828l6.879-6.879zm.66
          11.34L3.453 8.254 1.914 9.793a1 1 0 0 0 0 1.414l2.5 2.5a1 1 0 0 0 .707.293H7.88a1 1 0 0 0 .707-.293l.16-.16z"/>
      </svg></button>
      <button class="btn btn-info bg-black w-2 p-0" data-bs-toggle="modal" >Crear Codigo</button>
    </form>
  </div>

  <div class="mt-3">
    <div class="console-table ">
      <!-- <table class="table table-hover table-black table-borderless fs-5 " aria-labelledby="tableLabel" *ngIf="medicos.length > 0"> -->
      <table class="table table-hover table-black">
        <thead class="">
          <tr>
          <th class="text-center "></th>
          <th class="text-center ">Colegiado</th>
          <th class="text-center ">Nombre</th>
          <th class="text-center " >DPI</th>
          <th class="text-center " >Especialidad</th>
          <th class="text-center " >Sexo</th>
          <th class="text-center " >Id</th>
        </tr>
        </thead>

        <tbody class="justify-content-center text-normal  ">
          <tr *ngFor="let medico of resumen">

            <td class="text-text"> </td>
            <td class="text-center text-warning" >{{ medico.colegiado }}</td>
            <td class="text-text" > {{ medico.name}} </td>
            <td class="text-center">{{ medico.dpi}}</td>
            <td class="text-center">{{ medico.especialidad | anyToNumber | enumEspecialidad}}</td>
            <td class="text-center tex-uppercase">{{ medico.sexo}}</td>
            <td class="text-center">{{ medico.id}}</td>


          </tr>
        </tbody>
      </table>
    </div>



  <!-- Paginación -->
    <div class="d-flex justify-content-center pagination mt-3">
      <div class="btn-group" [class.disabled]="paginaActual === 1" *ngIf="totalPaginas()">
        <button type="button" class="btn btn-secondary" (click)="onPageChange(1)" aria-label="Primera">Primera</button>
        <button type="button" class="btn btn-secondary" (click)="onPageChange(paginaActual - 1)" aria-label="Anterior">Anterior</button>
        <button type="button" class="btn btn-secondary" (click)="onPageChange(paginaActual + 1)" aria-label="Siguiente">Siguiente</button>
        <button type="button" class="btn btn-secondary" (click)="onPageChange(totalPaginas())" aria-label="Última">Última</button>
      </div>
    </div>
  </div>
  </div>
