

<div class="search-container">
  <div class="search-div">
    <form class="search-form" autocomplete="off" >
      <input type="text" class="search-input" name="colegiado" placeholder="Colegiado" [(ngModel)]="buscarcolegiado" />
      <input type="text" class="search-input" name="buscarDPI" placeholder="DPI"  [(ngModel)]="buscarDPI" />
      <input type="sumit" class="search-input" placeholder="Nombre Medico" name="buscarName"  [(ngModel)]="buscarName">
      <select id="especialidad" class="search-input" placeholder="Especialidad" [(ngModel)]="buscarespecialidad" name="especialidad" >
        <option value="" disabled selected hidden>Especialidad</option>
        <option *ngFor="let option of e.servicio" [value]="option.value">{{ option.label }}</option>
      </select>
      <div class="div-btn-icons">
        <searchIcon (click)="filtro()" />
        <deleteInput (click)="limpiarInput()" />
        <createIcon data-bs-toggle="modal" data-bs-target="#nuevo"  (click)="borrarFormulario()" />
      </div>
    </form>
  </div>

  <div class="custom-table-wrapper t-w-d mt-2">
    <h3 class="m-0 p-0">Listado de Medicos</h3>
    <table class="custom-table table-hover text-center">
      <thead class="">
        <tr>
        <th class="text-center " >Id</th>
        <th class="text-center ">Colegiado</th>
        <th class="text-center ">Nombre</th>
        <th class="text-center " >DPI</th>
        <th class="text-center " >Especialidad</th>
        <th class="text-center " >Sexo</th>

        <th class="text-center">Opciones</th>
      </tr>
      </thead>

      <tbody class="svg-container">
        <tr *ngFor="let medico of resumen">
          <td class="text-90 fs-mini">{{ medico.id}}</td>
          <td class="text-center text-warning" >{{ medico.colegiado }}</td>
          <td class="text-center"> {{ medico.name | titlecase}} </td>
          <td class="text-center">{{ medico.dpi | anyToText | formatoDPI}}</td>
          <td class="text-center">{{ medico.especialidad | anyToNumber | enumEspecialidad}}</td>
          <td class="text-center">
            <ng-container *ngIf="medico.sexo == 'M'" >
              <maleIcon />
            </ng-container>
            <ng-container *ngIf="medico.sexo == 'F'" >
              <femIcon />
            </ng-container>
          </td>
          <td class="text-center">
            <div class="div-btn-opt">
              <editIcon data-bs-toggle="modal" data-bs-target="#editar" (click)="obtenerMedico(medico.id)" />
              <eliminarIconSolo (click)="borrar(medico.id)" />
            </div>

        </td>


        </tr>
      </tbody>
    </table>




  <!-- Paginación -->
    <div class="d-flex justify-content-center pagination mt-3">
      <div class="btn-group" [class.disabled]="paginaActual === 1" *ngIf="totalPaginas()">
        <button type="button" class="btn btn-secondary" (click)="onPageChange(1)" aria-label="Primera">Primera</button>
        <button type="button" class="btn btn-secondary" (click)="onPageChange(paginaActual - 1)" aria-label="Anterior">Anterior</button>
        <button type="button" class="btn btn-secondary" (click)="onPageChange(paginaActual + 1)" aria-label="Siguiente">Siguiente</button>
        <button type="button" class="btn btn-secondary" (click)="onPageChange(totalPaginas())" aria-label="Última">Última</button>
      </div>
    </div>
  </div>
  </div>


  <div class="modal" id="nuevo">
    <div class="modal-dialog" role="document">
      <div class="modal-content w-80 p-1 ">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <h3 class="m-0 p-0">Registrar Médico</h3>
            <form class="custom-form" autocomplete="off">
              <div class="custom-form-group">
                <label class="">Nombre del Medico:</label>
                <input type="text" class="custom-input" name="medico" id="medico" [(ngModel)]="medicoM.name" autocomplete="off">
              </div>
              <div class="custom-form-group">
                <label class="">Colegiado:</label>
                <input  type="number" class="custom-input" name="colegiado" id="colegiado" [(ngModel)]="medicoM.colegiado" autocomplete="off">
              </div>
              <div class="custom-form-group">
                <label class="">DPI</label>
                <input  type="text" class="custom-input" name="dpi_medico" id="dpi_medico" [(ngModel)]="medicoM.dpi"  autocomplete="off">
              </div>
              <div class="custom-form-group">
                <label class="">sexo</label>
                <select class="custom-input" name="sexo" id="sexo" [(ngModel)]="medicoM.sexo" autofocus>
                  <option class="bg-info" value="M">Masculino</option>
                  <option class="rosado" value="F">Femenino</option>
                </select>
              </div>
              <div class="custom-form-group">
                <label class="">Especalidad</label>
                <select class="custom-input" name="especialidad" id="especialidad" [(ngModel)]="medicoM.especialidad" autofocus>
                  <option class=" bg-primary" *ngFor="let option of e.servicio" [value]="option.value">{{option.label}}</option>
                </select>
              </div>

              <div class="div-btn-opt">
                <createIcon (click)="crear()" />
                <closeIcon data-bs-dismiss="modal" aria-label="Close" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" id="editar">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content w-80 p-1 ">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <h3 class="m-0 p-0">Editar Médico</h3>
            <form class="custom-form" autocomplete="off">
              <div class="custom-form-group">
                <label class="">Nombre del Medico:</label>
                <input type="text" class="custom-input" name="medico" id="medico" [(ngModel)]="medicoM.name" autocomplete="off">
              </div>
              <div class="custom-form-group">
                <label class="">Colegiado:</label>
                <input  type="number" class="custom-input" name="colegiado" id="colegiado" [(ngModel)]="medicoM.colegiado" autocomplete="off">
              </div>
              <div class="custom-form-group">
                <label class="">DPI</label>
                <input  type="text" class="custom-input" name="dpi_medico" id="dpi_medico" [(ngModel)]="medicoM.dpi"  autocomplete="off">
              </div>
              <div class="custom-form-group">
                <label class="">sexo</label>
                <select class="custom-input" name="sexo" id="sexo" [(ngModel)]="medicoM.sexo" autofocus>
                  <option class="bg-info" value="M">Masculino</option>
                  <option class="rosado" value="F">Femenino</option>
                </select>
              </div>
              <div class="custom-form-group">
                <label class="">Especalidad</label>
                <select class="custom-input" name="especialidad" id="especialidad" [(ngModel)]="medicoM.especialidad" autofocus>
                  <option class=" bg-primary" *ngFor="let option of e.servicio" [value]="option.value">{{option.label}}</option>
                </select>
              </div>

              <div class="div-btn-opt">
                <createIcon (click)="crear()" />
                <closeIcon data-bs-dismiss="modal" aria-label="Close" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
