

/* styles.css */

/* Establecer un fondo blanco para todo el cuerpo de la aplicación */
body {
  background-color: white;
  /* color: black; */
  margin: 0; /* Eliminar márgenes predeterminados del cuerpo */
  padding: 1.5%; /* Eliminar relleno predeterminado del cuerpo */
}

/* Establecer el tamaño de la carta para el contenedor del componente */
.card-container {
  color: black;
  width: 21cm; /* Ancho de una carta */
  height: 29.7cm; /* Altura de una carta */
  margin: auto; /* Centrar en la pantalla */
  background-color: white; /* Fondo blanco */
  padding: 0;
  margin: 0;

}

.titulo {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 1fr 1 fr;
}

.servicio {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  align-items: center;
}

.servicio > div {
  /* Aquí puedes agregar estilos adicionales para los elementos dentro del contenedor "servicio" */
  padding: 10px; /* Añadí un relleno para separar el contenido del borde */
}

.item-2 {
  grid-column: 2 / 3; /* Ajustar las columnas para centrar el item-2 */
  grid-row: 1 / 2; /* Ajustar las filas para colocar el item-2 arriba */
}

.item-5 {
  grid-column: 2 / 3; /* Ajustar las columnas para centrar el item-5 */
  grid-row: 2 / 3; /* Ajustar las filas para colocar el item-5 abajo */
}






