.hoja-div {
  position: absolute;
  color: black;
  font-size: 14px;
  font-family: Noto Sans;
  font-weight: 700;
  line-height: 14px;
  word-wrap: break-word;
}

.titulo {
  width: 668px;
  height: 44px;
  left: 75px;
  top: 24px;
  position: absolute;
  color: black;
  font-size: 22px;
  font-family: Noto Sans;
  font-weight: 700;
  line-height: 24px;
  word-wrap: break-word
}

.divs-hoja {
  position: absolute;
  background: rgba(217, 217, 217, 0);
  border: 1.8px  black solid
}

.div-hoja-q {
  width: 476px;
  height: 43px;
  left: 516px;
  top: 579px;
  position: absolute;
  background: rgba(217, 217, 217, 0);
  border: 2px black solid;
}

.div-hoja-w {
  width: 218px;
  height: 63px;
  left: 774px;
  top: 126px;
  position: absolute;
  background: rgba(217, 217, 217, 0);
}

.div-hoja-e {
  position: absolute;
  background: #D9D9D9;
  border: 1.8px  black solid;
}

.hoja-values {
  position: absolute;
  color: black;
  font-size: 17px;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: 14px;
  word-wrap: break-word;
  height: 20px;
  width: auto;
  display: flex;
  justify-content: center;
}

.hoja-expediente {
  position: absolute;
  color: black;
  font-size: 28px;
  font: bold;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: 14px;
  word-wrap: break-word;
  height: 20px;
  width: auto;
  display: flex;
  justify-content: center;
}

.hoja-values-wrap {
  position: absolute;
  color: black;
  font-size: 17px;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: 20px;
  word-wrap: break-word;
  height: 20px;
  width: 100px;

}
