<div class="search-container">
  <div class="search-div">
    <form class="search-form" autocomplete="off">

      <input
        type="text"
        class="search-input"
        name="expediente"
        placeholder="Expediente"
        [(ngModel)]="expedienteBuscar"
      />
      <input
        type="text"
        class="search-input"
        placeholder="Nombre"
        name="nombreBuscar"
        [(ngModel)]="nombreBuscar"
      />
      <input
        type="text"
        class="search-input"
        placeholder="Apellido"
        name="apellidoBuscar"
        [(ngModel)]="apellidoBuscar"
      />
      <input
        type="text"
        class="search-input"
        placeholder="DPI"
        name="dpiBuscar"
        [(ngModel)]="dpiBuscar"
      />

      <div class="div-btn-icons">
        <searchIcon (click)="filtro()"/>
        <deleteInput (click)="limpiarInput()" />
        <createIcon data-bs-toggle="modal" data-bs-target="#formularioModalP" />
      </div>
    </form>
  </div>
</div>
<div class="">
  <div class="custom-table-wrapper t-w-d mt-2">
    <!-- <table class="table table-hover table-black table-borderless fs-5 " aria-labelledby="tableLabel" *ngIf="pacientes.length > 0"> -->
    <table class="custom-table table-hover text-center">
      <thead class="">
        <tr>
          <th class="text-center " >Expediente </th>
          <th class="text-center " >Nombre</th>
          <th class="text-center " >DPI</th>
          <th class="text-center " >Sexo</th>
          <th class="text-center " >Edad</th>
          <th class="text-center ">Opciones</th>
      </tr>
      </thead>

      <tbody class="svg-container  ">
        <tr *ngFor="let paciente of filteredPacientes">
          <td>
            {{ paciente.expediente }}
          </td>
        <td class="text-center text-justify " appHighlightWords >
          <span [ngClass]="{'mujer': paciente.sexo == 'F', 'hombre': paciente.sexo != 'F'}">{{ paciente.nombre | capitalizeName }}</span> <br>
          {{ paciente.apellido | capitalizeName }}
            <gemeloIcon *ngIf="paciente.gemelo == 'si'" />
        </td>
        <td class="text-center">{{ paciente.dpi | anyToText | formatoDPI }}</td>
        <td class="text-center">
          <ng-container *ngIf="paciente.sexo == 'F'; else man">
          <femIcon/>
          </ng-container>
          <ng-template #man>
            <ng-container *ngIf="paciente.sexo == 'M'; else NoneBl">
             <maleIcon/>
            </ng-container>
          </ng-template>
          <ng-template #NoneBl>
            <span class="text-warning">SIn Registrar !!!</span>
            <atentionIcon />
          </ng-template>
        </td>
        <td class="text-center" #edadCell>{{ paciente.nacimiento | edad }}</td>
        <td class="text-center">
          <div class="div-btn-opt">

            <addIcon (click)="copiarId(paciente.expediente, paciente.nombre, paciente.apellido, paciente.nacimiento, paciente.sexo, paciente.direccion, paciente.telefono)" data-bs-toggle="modal" data-bs-target="#formularioCrear"  />
          </div>

        </td>
        </tr>
      </tbody>
    </table>
  </div>

<!-- Paginación -->
  <div class="d-flex justify-content-center pagination mt-3">
    <div class="btn-group" [class.disabled]="paginaActual === 1" *ngIf="totalPaginas()">
      <button type="button" class="btn btn-secondary" (click)="onPageChange(1)" aria-label="Primera">Primera</button>
      <button type="button" class="btn btn-secondary" (click)="onPageChange(paginaActual - 1)" aria-label="Anterior">Anterior</button>
      <button type="button" class="btn btn-secondary" (click)="onPageChange(paginaActual + 1)" aria-label="Siguiente">Siguiente</button>
      <button type="button" class="btn btn-secondary" (click)="onPageChange(totalPaginas())" aria-label="Última">Última</button>
    </div>
  </div>
</div>

  <div class="modal" id="formularioModalP">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body">
       <formulario-paciente></formulario-paciente>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-primary">Save changes</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
        </div>
      </div>
    </div>
  </div>

  <div class="modal" id="formularioCrear">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Ingreso Hospitalario</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <form class="custom-form">

              <div class="custom-form-group">
                <label for="especialidad">Especialidad:</label>
                <select id="especialidad" class="custom-input" [(ngModel)]="ingreso.especialidad" name="especialidad" >
                  <option *ngFor="let option of e.servicio" [value]="option.value">{{ option.label }}</option>
                </select>
              </div>


              <div class="custom-form-group">
                <label for="especialidad">Servicio:</label>
                <select id="especialidad" class="custom-input" [(ngModel)]="ingreso.servicio" name="servicios" >
                  <option *ngFor="let option of e.servicios" [value]="option.value">{{ option.label }}</option>
                </select>
              </div>

              <div class="custom-form-group">
                <label for="especialidad">Fecha de Ingreso:</label>
                <input id="fecha_consulta" type="date" class="custom-input" [(ngModel)]="ingreso.fecha_consulta" name="fecha_consulta" >
              </div>

              <div class="custom-form-group">
                <label for="expediente">Expediente:</label>
                <input type="text" class="custom-input" id="expediente" name="expediente"  [(ngModel)]='ingreso.expediente'  >
              </div>

              <div class="custom-form-group">
                <p class="f-negrita">{{ingreso.nombres}} {{ingreso.apellidos}}</p>
                <ng-container *ngIf="ingreso.sexo == 'F'; else man">
                  <femIcon/>
                 </ng-container>
                 <ng-template #man>
                   <ng-container *ngIf="ingreso.sexo == 'M'; else NoneBl">
                     <maleIcon/>
                   </ng-container>
                 </ng-template>
                 <ng-template #NoneBl>
                   <span class="text-warning">SIn Registrar !!!</span>
                   <atentionIcon />
                 </ng-template>
                <p class="f-negrita">{{ingreso.nacimiento | anyToText | formatoFecha}}</p>
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <div class="search-container">
            <div class="rounded p-2 bg-dark">
              <button type="button" class="btn btn-dark search-button" (click)="registrarIngreso()"  >
                <saveIcon />
              </button>
              <button type="button" class="btn search-button" data-bs-dismiss="modal" (click)="limpiarInput()">
                <closeIcon />
              </button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>


  <div class="modal" id="formulario2">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
       <!--  -->
       <div class="custom-form-group">
        <input type="text" class="form-control" id="nombre" name="nombre"  [(ngModel)]='ingreso.nombres' value="paciente.nombre" placeholder="nombres" disabled="">
        <input type="text" class="form-control" id="apellido" name="apellido" [(ngModel)]="ingreso.apellidos" placeholder="apellidos" disabled="">
        <input type="date" class="form-control" id="fecha_consulta" name="fecha_consulta" [(ngModel)]="ingreso.fecha_consulta" placeholder="fecha de consulta" disabled="">
        <input type="time" class="form-control" id="hora" name="hora" [(ngModel)]="ingreso.hora" placeholder="hora" disabled="">
        <input type="text" class="form.control" id="edad" name="edad" [(ngModel)]="ingreso.edad" placeholder="edad" value="paciente.nacimiento" disabled="">
        <input type="text" class="form-control" id="nacimiento" name="nacimiento" [(ngModel)]="ingreso.nacimiento" value="paciente.nacimiento" placeholder="fecha de nacimiento" disabled="">
        <input type="text" class="form-control" id="sexo" name="nacimiento" [(ngModel)]="ingreso.sexo" placeholder="sexo" value="paciente.sexo" disabled="">
        <input type="text" class="form-control" id="direccion" name="direccion" [(ngModel)]="ingreso.direccion" value="paciente.direccion" placeholder="direccion" disabled="">
        <input type="text" class="form-control" id="telefono" name="telefono" [(ngModel)]="ingreso.telefono" value="paciente.telefono" placeholder="telefono" disabled="">
      </div>


      </div>
    </div>
  </div>


