







/* Estilo de la tabla */
.console-table {
  background-color:#1b1b1b;
  color: #eeeaea;
  border: 2px solid rgb(66, 66, 65);
  border-radius: 12px;
  padding: 5px;
  border-collapse: collapse;
  width: 100%;
}

/* Estilo de las celdas de encabezado */
.console-table th {
  background-color: #302f2f;
  padding: 8px;
  text-align: left;
  /* border: 1px dashed #fff; */

}

/* Estilo de las celdas de datos */
.console-table td {
  background-color: #302f2f;
  padding: 8px;
  border: 1px  #fff;
}

/* Estilo de las filas impares */
.console-table tr:nth-child(odd) {
  background-color:#302f2f;
  color: #fff;;

}

.celesce {
  color: #007bff; /* color celesce */
}

.rosado {
  color: #ff007f; /* color rosado */
}

.highlight {
  font-weight: bold; /* Puedes personalizar el estilo aquí */
  color: #203449;
}
.font-fam {
   /* font-family: 'Cairo Play'; */
  font-size: 1.10rem;
  color: #f6ca8f;
  font: bold;

}

.f-resaltado {
  /* font-family: 'Cairo Play'; */
 font-size: 1.10rem;
 color: #050505;
 font: bolder;

}

