
<div class="mb-3">

  <div class="container-fluid mt-5 w-auto">
    <div class="row justify-content-center">
      <div class="container-fluid d-flex justify-content-center my-2">
        <button type="button" class="d-flex flex-r btnS border-quatz rounded" (click)="regresar()">
          Regresar
          </button>
        </div>
        <div class="col-md-6">
        <div class="card">
          <div class="card-header h4 text-center">

              Detalle del Paciente expediente: <strong>{{patient?.expediente}}</strong>

            <br>Id:  {{patient?.id}}
          </div>
          <div class="card-body  mx-5 font-monospace text-body-secondary">
            <hr>
            <strong class="h5 me-3">Nombres:</strong> {{patient?.nombre | anyToText | capitalizeName}}<br>
            <strong class="h5 me-3">Apellidos:</strong> {{patient?.apellido | anyToText | capitalizeName}}<br>
            <strong class="h5 me-3">Nacimiento:</strong> {{patient?.nacimiento | anyToText | formatoFecha}}<br>
            <strong class="h5 me-3">Edad:</strong> {{patient?.nacimiento | edad }}<br>
            <strong class="h5 me-3">Sexo:</strong> {{patient?.sexo | anyToText | sexo}}<br>
            <strong class="h5 me-3">DPI:</strong> {{patient?.dpi | anyToText | formatoDPI}}<br>
            <hr>
            <strong class="h5 me-3">Nacionalidad:</strong> {{patient?.nacionalidad | anyToNumber | enumNacion}}<br>
            <strong class="h5 me-3">Estado Civil:</strong> {{patient?.estado_civil | anyToNumber | enumCivil}}<br>
            <strong class="h5 me-3">Ocupación:</strong> {{patient?.ocupacion}}<br>
            <strong class="h5 me-3">Nivel Academico:</strong> {{patient?.educacion | anyToNumber | enumEducacion}}<br>
            <hr>
            <strong class="h5 me-3">Dirección:</strong> {{patient?.direccion | anyToText | capitalizeName}}<br>
            <strong class="h5 me-3">Teléfono:</strong> {{patient?.telefono}}<br>
            <strong class="h5">Telefono de Familiar / responsable:</strong> {{patient?.telefono_responsable}}<br>
            <hr>
            <strong class="h5 me-3">Responsable:</strong> {{patient?.responsable | anyToText | capitalizeName}}<br>
            <strong class="h5 me-3">Parentesco:</strong> {{patient?.parentesco | anyToNumber | enumParentesco}}<br>
            <strong class="h5 me-3">Dpi del responsable:</strong> {{patient?.dpi_responsable}}<br>
            <hr>
            <strong class="h5 me-3">Madre:</strong> {{patient?.madre | anyToText | capitalizeName}}<br>
            <strong class="h5 me-3">Padre:</strong> {{patient?.padre | anyToText | capitalizeName}}<br>
            <hr>
            <strong class="h5 me-3">Creado por:</strong> {{patient?.created_by }}<br>
            <strong class="h5 me-3">Creado el:</strong> {{patient?.created_at }}<br>
            <strong class="h5 me-3">Actualizado el:</strong> {{patient?.update_at }}<br>



        </div>
      </div>
    </div>
  </div>
