
<div class="search-container">
  <div class="search-div">
    <form class="search-form" autocomplete="off">
      <input type="text" class="search-input" name="nombreBuscar" placeholder="Nombre"  [(ngModel)]="nombreBuscar">
      <input type="text" class="search-input" name="apellidoBuscar"  placeholder="Apellido" [(ngModel)]="apellidoBuscar">
      <input type="number" class="search-input" name="Expediente" placeholder="Expediente" [(ngModel)]="expedienteBuscar"  />
      <input type="number" class="search-input" name="Hoja" id="hojaBuscar" placeholder="hoja" [(ngModel)]="hojaBuscar" />
      <input type="number" class="search-input" name="id" id="idBuscar" placeholder="Id" [(ngModel)]="idBuscar" />
      <select id="tipo" class="search-input" [(ngModel)]="tipoBuscar" name="tipoBuscar">
        <option value="" disabled selected hidden>Tipo Consulta</option>
        <option *ngFor="let option of enums.tipo" [value]="option.value">{{ option.label }}</option>
      </select>
      <select id="status" class="search-input" [(ngModel)]="statusBuscar" name="statusBuscar">
        <option value="" disabled selected hidden>Estatus</option>
        <option *ngFor="let option of enums.status" [value]="option.value">{{ option.label }}</option>
      </select>
      <input type="date" class="search-input" name="Fecha" placeholder="Fecha" [(ngModel)]="fechaBuscar" [max]="maxdate" />
      <input type="text" class="search-input" name="dpiBuscar" placeholder="DPI"  [(ngModel)]="dpiBuscar">
      <div class="div-btn-icons">
        <searchIcon (click)="filtro()"/>
        <deleteInput (click)="limpiarInput()" />
      </div>
    </form>
  </div>
</div>

  <div class="custom-table-wrapper t-w-d mt-2">
    <h3 class="m-0 p-0">Consultas Registradas de Pacientes</h3>
    <table class="custom-table table-hover text-center" >
      <thead>
        <tr>
          <th class="text-center" >No. Historia Clinica</th>
          <th class="text-center">Sexo</th>
          <th class="text-center">consulta</th>
          <th class="text-center">Fecha de Registros</th>
          <th class="text-center">Servicio</th>
          <th class="text-center">Tipo</th>
          <th class="text-center" >Estatus</th>
          <th class="text-center" (click)="sortTable('id')" >Id</th>
        </tr>
      </thead>
      <div class="loader-container">
        <div *ngIf="porcentajeDeProgreso >= 0" class="loader"></div>
      </div>
      <tbody class="svg-container">
        <tr *ngFor="let consulta of resumen">
          <!-- <td class="text-center">
            <editIcon (click)="editar(consulta.id)" />
          </td> -->
          <td class="text-center">
            <div>
              <span class="fs-9-6" *ngIf="consulta.expediente">Expediente: </span>
              <br/>
              {{consulta.expediente}}<br>
            </div>
            <div>
              <span class="fs-9-6" *ngIf="consulta.hoja_emergencia">Hoja Emergencia: </span>
              <br/>
              {{consulta.hoja_emergencia}}
            </div>
          </td>
          <td>
            <span>
              <ng-container *ngIf="consulta.sexo == 'F'; else man">
              <femIcon/>
             </ng-container>
             <ng-template #man>
               <ng-container *ngIf="consulta.sexo == 'M'; else NoneBl">
                 <maleIcon/>
               </ng-container>
             </ng-template>
             <ng-template #NoneBl>
               <span class="text-warning">SIn Registrar !!!</span>
               <atentionIcon />
             </ng-template>
            </span>
          </td>
          <td class="text-start">
            <span [ngClass]="{'mujer': consulta.sexo == 'F', 'hombre': consulta.sexo != 'F'}">{{ consulta.nombres | anyToText | capitalizeName }}</span><br>
              {{consulta.apellidos |anyToText | capitalizeName}}
          </td>
          <td class="text-start">
            <div class="row text-center">
              <p class="label-td">Ingreso</p>
              <div>
                {{consulta.fecha_consulta | anyToText | formatoFecha}}<br/>
                {{consulta.hora}}
              </div>
            </div>
            <div class="row text-center" *ngIf="consulta.tipo_consulta==2 && consulta.fecha_egreso">
              <p class="label-td">Egreso</p>
              <div>
                {{consulta.fecha_egreso | anyToText | formatoFecha}}<br>
                {{ consulta.fecha_consulta | estancia: consulta.fecha_egreso }}
              </div>
            </div>
          </td>
          <td class="text-center">
            <span class="font-title1">{{consulta.especialidad | anyToNumber| enumEspecialidad}}: </span><br>
          {{consulta.servicio | anyToNumber| enumServicios}}
          </td>
          <td class="text-center">
            <ng-container *ngIf="consulta.tipo_consulta == 1">
              <coexIcon  />
              <br/>
              <span class="fs-mini">Consulta Externa</span>
            </ng-container>
            <ng-container *ngIf="consulta.tipo_consulta == 2">
              <hospitalizacionIcon  />
              <br/>
              <span class="fs-mini">Hospitalización</span>
            </ng-container>
            <ng-container *ngIf="consulta.tipo_consulta == 3" >
              <emergenciaIcon  />
              <br/>
              <span class="fs-mini">Emergencia</span>
            </ng-container>
          </td>
          <td class="text-center">
            <ng-container *ngIf="consulta.status == 1">
              <activoIcon  />
              <br/>
              <span class="fs-mini">Activo</span>
              </ng-container>
              <ng-container *ngIf="consulta.status == 2">
              <archiveIcon  />
              <br/>
              <span class="fs-mini">Archivado</span>
              </ng-container>
              <ng-container *ngIf="consulta.status == 3">
                <prestamoIcon  />
                <br/>
                <span class="fs-mini">Prestamo</span>
              </ng-container>
              <ng-container *ngIf="consulta.status == 4">
                <egresoIcon />
                <br/>
                <span class="fs-mini">Egreso</span>
              </ng-container>
          </td>
          <td class="text-center font-weight-bold text-warning h5">
          <dataViewIcon (click)="detalle(consulta.id)" data-bs-toggle="modal" data-bs-target="#verConsulta" />
          <span class="text-90">{{consulta.id}}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="custom-card-container">
    <!-- Tarjeta 1 -->
    <div class="custom-card" *ngFor="let consulta of resumen">
        <div class="custom-card-header">
            <h3 ngClass]="{'mujer': consulta.sexo == 'F', 'hombre': consulta.sexo != 'F'}">{{ consulta.nombres | anyToText | capitalizeName }}</h3><br>
              {{consulta.apellidos |anyToText | capitalizeName}}
        </div>
        <div class="custom-card-body">
            <div>
              <div class="row text-center">
              <span class="me-1 font-title1">Expediente: </span>{{consulta.expediente}}<br>
            <span class="me-1 font-title1">Hoja Emergencia: </span>{{consulta.hoja_emergencia}}

            </div>
            <div>
                <span>DPI:</span>
                <span>{{ consulta.dpi | anyToText | formatoDPI }}</span>
            </div>
            <div>
                <span><ng-container *ngIf="consulta.sexo == 'F'; else man">
                  <femIcon/>
                 </ng-container>
                 <ng-template #man>
                   <ng-container *ngIf="consulta.sexo == 'M'; else NoneBl">
                     <maleIcon/>
                   </ng-container>
                 </ng-template>
                 <ng-template #NoneBl>
                   <span class="text-warning">SIn Registrar !!!</span>
                   <atentionIcon />
                 </ng-template></span>

            </div>
            <div>
                <span>{{ consulta.nacimiento | edad }}</span>
                <span>{{ consulta.nacimiento | anyToText | formatoFecha}}</span>
            </div>


            <div>
                <span>ID:</span>
                <span (click)="detalle(consulta.id)" data-bs-toggle="modal" data-bs-target="#verCons"> {{consulta.id}}</span>
            </div>

        </div>
    </div>


</div>



 <!-- Paginación -->
    <div class="d-flex justify-content-center pagination mt-3">
      <div class="btn-group" [class.disabled]="paginaActual === 1" *ngIf="totalPaginas()">
        <button type="button" class="btn btn-secondary" (click)="onPageChange(1)" aria-label="Primera">Primera</button>
        <button type="button" class="btn btn-secondary" (click)="onPageChange(paginaActual - 1)" aria-label="Anterior">Anterior</button>
        <button type="button" class="btn btn-secondary" (click)="onPageChange(paginaActual + 1)" aria-label="Siguiente">Siguiente</button>
        <button type="button" class="btn btn-secondary" (click)="onPageChange(totalPaginas())" aria-label="Última">Última</button>
      </div>
    </div>



</div>

<div class="modal" id="verConsulta">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Detale de Consulta</h5>
        <closeIcon />

      </div>
      <div class="modal-body">
        <strong>Hoja de Emergencia:</strong> {{ consult?.hoja_emergencia }}
        <br/>
        <strong>Expediente:</strong> {{ consult?.expediente }}
        <br/>
        <strong>Paciente:</strong> {{ consult?.nombres | anyToText | capitalizeName }} {{ consult?.apellidos | anyToText | capitalizeName }}
        <br/>
        <strong>Fecha de Nacimiento:</strong> {{ consult?.nacimiento| anyToText | formatoFecha }}
        <br/>
        <strong>Edad:</strong> {{ consult?.nacimiento | edad }}
        <br/>
        <strong>Edad de Consulta:</strong> {{ consult?.edad }}
        <br/>
        <strong>Sexo:</strong> {{ consult?.sexo| anyToText | sexo }}
        <br/>
        <strong>DPI:</strong> {{ consult?.dpi | anyToText | formatoDPI }}
        <br/>
        <strong>Dirección:</strong> {{ consult?.direccion | anyToText | capitalizeName }}
        <br/>
        <strong>Acompañante:</strong> {{ consult?.acompa | anyToText | capitalizeName }} - {{ consult?.parente | enumParentesco }}
        <br/>
        <strong>Teléfonos:</strong> {{ consult?.telefono }}
        <br/>
        <strong>Fecha de Recepción:</strong> {{ consult?.fecha_recepcion | anyToText | formatoFecha }}
        <br/>
        <strong>Fecha de Egreso:</strong> {{ consult?.fecha_egreso | anyToText | formatoFecha }}
        <br/>
        <strong>Diagnóstico:</strong> {{ consult?.dx }}
        <br/>
        <strong>Tipo de Consulta:</strong>
        <ng-container *ngIf="consult?.tipo_consulta == 1">
          <coexIcon  />
          <br/>
          <span class="fs-mini">Consulta Externa</span>
        </ng-container>
        <ng-container *ngIf="consult?.tipo_consulta == 2">
          <hospitalizacionIcon  />
          <br/>
          <span class="fs-mini">Hospitalización</span>
        </ng-container>
        <ng-container *ngIf="consult?.tipo_consulta == 3" >
          <emergenciaIcon  />
          <br/>
          <span class="fs-mini">Emergencia</span>
        </ng-container>
        <br/>
        <strong>Médico:</strong> {{ consult?.medico | anyToText |capitalizeName }}
        <br/>
        <strong>Especialidad:</strong> {{ consult?.especialidad | anyToNumber | enumEspecialidad }}
        <br/>
        <strong>Servicio:</strong> {{ consult?.servicio | anyToNumber | enumServicios }}
        <br/>
        <strong>Status:</strong>
        <ng-container *ngIf="consult?.status == 1">
          <activoIcon  />
          <br/>
          <span class="fs-mini">Activo</span>
        </ng-container>
        <ng-container *ngIf="consult?.status == 2">
          <archiveIcon  />
          <br/>
          <span class="fs-mini">Archivado</span>
        </ng-container>
        <ng-container *ngIf="consult?.status == 3">
          <prestamoIcon  />
          <br/>
          <span class="fs-mini">Prestamo</span>
        </ng-container>
        <br/>
        <strong>Detalles:</strong>
            <p *ngIf="consult?.bomberos" class="m-0">Traido por Bomberos,</p>
            <p *ngIf="consult?.transito" class="m-0">Accidentes de Transito,</p>
            <p *ngIf="consult?.arma_blanca" class="m-0">Lesion por Arma Blanca</p>
            <p *ngIf="consult?.arma_fuego" class="m-0">Lesion por Arma de Fuego</p>
            <p *ngIf="consult?.estudiante_publica" class="m-0">Estudiante de Escuelas Públicas</p>
            <p *ngIf="consult?.accidente_laboral" class="m-0">Accidente laboral</p>
            <p *ngIf="consult?.personal_hospital" class="m-0">Personal del hospital</p>
            <br/>
        <strong>Controles Prenatales:</strong> {{ consult?.prenatal }}
        <br/>
        <strong>Creado por:</strong> {{ consult?.created_by }}
        <br/>
        <strong>Archivado por:</strong> {{ consult?.archived_by }}
        <br/>
        <strong>Actualizado el:</strong> {{ consult?.updated_at }}

      </div>
    </div>
  </div>
</div>


