

<app-registros></app-registros>
<div class="justify-content-center">
  <div>
    <p class="text-center display-6">Consultas de Pacientes</p>
  </div>
  <hr class="my-0 p-1">
  <div class="justify-content-between">
    <form class="d-flex justify-content-between align-items-center gap-1" autocomplete="off">
      <input type="number" class="form-control bg-opacity-75  text-center expande-contenido" name="id" id="idBuscar" placeholder="Id" [(ngModel)]="idBuscar" />
     <select id="especialidad" class="form-control bg-primary expande-contenido" [(ngModel)]="tipoBuscar" name="tipoBuscar">
        <option value="" disabled selected hidden>Tipo Consulta</option>
        <option *ngFor="let option of enums.tipo" [value]="option.value">{{ option.label }}</option>
      </select>
      <input type="number" class="form-control bg-opacity-75  text-center expande-contenido" name="Hoja" id="hojaBuscar" placeholder="hoja" [(ngModel)]="hojaBuscar" />
      <input type="number" class="form-control text-capitalize text-center expande-contenido" name="Expediente" placeholder="Expediente" [(ngModel)]="expedienteBuscar" />
      <input type="date" class="form-control text-capitalize expande-contenido" name="Fecha" placeholder="fecha" [(ngModel)]="fechaBuscar" [max]="maxdate" />
      <input type="text" class="form-control  text-capitalize expande-contenido" placeholder="Nombre" name="nombreBuscar" [(ngModel)]="nombreBuscar">
      <input type="text" class="form-control text-capitalize expande-contenido" placeholder="Apellido" name="apellidoBuscar" [(ngModel)]="apellidoBuscar">
      <input type="text" class="form-control  text-capitalize text-center expande-contenido" placeholder="DPI" name="dpiBuscar" [(ngModel)]="dpiBuscar">
      <button type="submit" class="btn btn-quatz  w-auto "  (click)="filtro()">buscar</button>
      <button type="submit" class="btn border-quatz" (click)="limpiarInput()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eraser-fill" viewBox="0 0 16 16">
        <path d="M8.086 2.207a2 2 0 0 1 2.828 0l3.879 3.879a2 2 0 0 1 0 2.828l-5.5 5.5A2
         2 0 0 1 7.879 15H5.12a2 2 0 0 1-1.414-.586l-2.5-2.5a2 2 0 0 1 0-2.828l6.879-6.879zm.66
          11.34L3.453 8.254 1.914 9.793a1 1 0 0 0 0 1.414l2.5 2.5a1 1 0 0 0 .707.293H7.88a1 1 0 0 0 .707-.293l.16-.16z"/>
      </svg></button>
    </form>

  </div>


  <div class="table mt-1">
    <table class="table table-hover table-black font-monospace" >
      <thead>
        <tr>
          <th class="text-center">Opciones</th>
          <th class="text-center" (click)="sortTable('id')" >
            <svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" viewBox="0 0 24 24" width="16" height="16"><path d="M10.25 2a8.25 8.25 0 0 1 6.34 13.53l5.69 5.69a.749.749
            0 0 1-.326 1.275.749.749 0 0 1-.734-.215l-5.69-5.69A8.25 8.25 0 1 1 10.25 2ZM3.5 10.25a6.75 6.75 0 1 0 13.5 0 6.75 6.75 0 0 0-13.5 0Z"></path>
            </svg>ID
          </th>
          <th class="text-center bg-aqua" >Historia Clinica</th>
          <th class="text-center">Paciente</th>
          <th class="text-center">Fecha de Registros</th>
          <th class="text-center">Servicio</th>
          <th class="text-center">Tipo</th>
          <th class="text-center">Status</th>


        </tr>
      </thead>

      <div class="loader-container">
        <div *ngIf="porcentajeDeProgreso >= 0" class="loader"></div>
      </div>
      <tbody class="justify-content-center  opacity-90">
        <!-- Aquí puedes usar *ngFor para iterar sobre los datos de la vista_citas -->
        <tr *ngFor="let consulta of resumen">
          <td class="text-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#39cbfb" class="bi bi-pencil-fill" viewBox="0 0 16 16">
              <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
            </svg>
          </td>
          <td class="text-center font-weight-bold text-warning k h5" (click)="detalle(consulta.id)" data-bs-toggle="modal" data-bs-target="#verCons"> {{consulta.id}}

          </td>
          <td class="text-center bg-aqua font-ubuntu">
            <span class="me-1 font-title1">Expediente: </span>{{consulta.expediente}}<br>
            <span class="me-1 font-title1">Hoja Emergencia: </span>{{consulta.hoja_emergencia}}
          </td>
          <td class="text-center">
            <span [ngClass]="{'mujer': consulta.sexo == 'F', 'hombre': consulta.sexo != 'F'}">{{ consulta.nombres | anyToText | capitalizeName }}</span><br>
              {{consulta.apellidos |anyToText | capitalizeName}}
          </td>
          <td class="text-center">
            <span class="me-1 font-title1">Ingreso: </span>  {{consulta.fecha_consulta | anyToText | formatoFecha}}<br>
            <span class="me-1 font-title1">Hora Ingreso: </span>  {{consulta.hora}}<br>
            <span class="me-1 font-title1">Egreso: </span>  {{consulta.fecha_egreso | anyToText | formatoFecha}}<br>
            <p *ngIf="consulta.tipo_consulta==2"><span class="me-1 font-title">Estancia: </span>  {{ consulta.fecha_consulta | estancia: consulta.fecha_egreso }}</p>

          </td>
          <td class="text-center">
            <span class="font-title1">{{consulta.especialidad | anyToNumber| enumEspecialidad}}: </span><br>
          {{consulta.servicio | anyToNumber| enumServicios}}
          </td>
          <td class="text-center">{{consulta.tipo_consulta | anyToNumber| enumTipo }}</td>
          <td class="text-center">{{consulta.status | anyToNumber| enumStatus }}</td>


        </tr>
      </tbody>
    </table>
  </div>


 <!-- Paginación -->
    <div class="d-flex justify-content-center pagination mt-3">
      <div class="btn-group" [class.disabled]="paginaActual === 1" *ngIf="totalPaginas()">
        <button type="button" class="btn btn-secondary" (click)="onPageChange(1)" aria-label="Primera">Primera</button>
        <button type="button" class="btn btn-secondary" (click)="onPageChange(paginaActual - 1)" aria-label="Anterior">Anterior</button>
        <button type="button" class="btn btn-secondary" (click)="onPageChange(paginaActual + 1)" aria-label="Siguiente">Siguiente</button>
        <button type="button" class="btn btn-secondary" (click)="onPageChange(totalPaginas())" aria-label="Última">Última</button>
      </div>
    </div>

    <div class="modal" id="opciones">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content bg-light">

          <!-- <button class="btn btn-dark bg-danger my-2" data-bs-dismiss="modal" (click)="eliminar(idCopiado)">Eliminar consulta</button> -->
          <button class="btn btn-info bg-black my-2" data-bs-dismiss="modal" >Editar Consulta</button>

          <button class="btn btn-black" data-bs-dismiss="modal">Cerrar</button>


        </div>
      </div>
    </div>



    <div class="modal fade" id="verCons" role="dialog" aria-labelledby="verCons" aria-hidden="true">
      <div class="modal-dialog modal-md modal-lg" role="document">
        <div class="modal-content w-auto card bg-night">
          <div class="top">
            <div class="circle red"></div>
            <div class="circle yellow"></div>
            <div class="circle green"></div>
          </div>

          <div class="modal-body code-container" id="code">

            <div class="card-header  text-center" >
              Detalles de Consulta: <span class="font-fam">{{consult?.id}}</span>
            </div>


            <div class="modal-body mx-5 font-monospace">
              <div class="text-start">
                <p>&#123;</p>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0 m-0">Hoja de emergencia: </span>
                    <p class="font-value m-0 m-0">{{consult?.hoja_emergencia}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0 m-0">Expediente: </span>
                    <p class="font-value m-0 m-0">{{consult?.expediente}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">Nota: </span>
                    <p class="font-value m-0">{{consult?.nota}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">Paciente: </span>
                    <p class="font-value m-0">{{consult?.nombres | anyToText | capitalizeName}} {{consult?.apellidos | anyToText | capitalizeName}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">Fecha de Nacimiento: </span>
                    <p class="font-value m-0">{{consult?.nacimiento | anyToText | formatoFecha}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">Edad: </span>
                    <p class="font-value m-0">{{consult?.nacimiento | edad}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">Edad de la consulta: </span>
                    <p class="font-value m-0">{{consult?.edad}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">Sexo: </span>
                    <p class="font-value m-0">{{consult?.sexo | anyToText | sexo}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">DPI: </span>
                    <p class="font-value m-0">{{consult?.dpi | anyToText | formatoDPI}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">Dirección: </span>
                    <p class="font-value m-0">{{consult?.direccion | anyToText | capitalizeName}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">Acompañante: </span>
                    <p class="font-value m-0">{{consult?.acompa | anyToText | capitalizeName}} - {{consult?.parente | anyToNumber | enumParentesco}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">Telefonos: </span>
                    <p class="font-value m-0">{{consult?.telefono}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">Fecha de Recepción: </span>
                    <p class="font-value m-0">{{consult?.fecha_recepcion | anyToText | formatoFecha}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">Fecha de Egreso: </span>
                    <p class="font-value m-0">{{consult?.fecha_egreso | anyToText | formatoFecha}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">Fecha y hora de Consulta: </span>
                    <p class="font-value m-0">{{consult?.fecha_consulta | anyToText | formatoFecha}} {{consult?.hora}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">Status: </span>
                    <p class="font-value m-0">{{consult?.status | anyToNumber | enumStatus}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">Folios: </span>
                    <p class="font-value m-0">{{consult?.folios}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">Diagnostico: </span>
                    <p class="font-value m-0">{{consult?.dx}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">Controles Prenatales: </span>
                    <p class="font-value m-0">{{consult?.prenatal}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">Lactancia materna: </span>
                    <p class="font-value m-0">{{consult?.lactancia}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">Medico: </span>
                    <p class="font-value m-0">{{consult?.medico | anyToText | capitalizeName}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">Especialidad: </span>
                    <p class="font-value m-0">{{consult?.especialidad | anyToNumber | enumEspecialidad}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">Servicio: </span>
                    <p class="font-value m-0">{{consult?.servicio | anyToNumber | enumServicios}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">Tipo de Consulta: </span>
                    <p class="font-value m-0">{{consult?.tipo_consulta | anyToNumber | enumTipo}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">Creado Por: </span>
                    <p class="font-value m-0">{{consult?.created_by}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">Archivado Por: </span>
                    <p class="font-value m-0">{{consult?.archived_by}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">Creado el: </span>
                    <p class="font-value m-0">{{consult?.created_at}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">Actualizado el: </span>
                    <p class="font-value m-0">{{consult?.updated_at}},</p>
                  </div>

                  <p>&#125;</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

