<div class="d-flex-desktop">

  <div class="search-container col-md-6">
    <nuevoIngreso></nuevoIngreso>
  </div>
  <div class="search-container col-md-6">
    <h4 class="text-center">Registros de Ingresos Hospitalarios</h4>
    <ingresoTabla></ingresoTabla>
  </div>
</div>


<div class="mt-3 ">






<div class="modal" id="opciones">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <editIcon data-bs-dismiss="modal" [routerLink]="['/ingreso/edit', idCopiado]" />
      <closeIcon data-bs-dismiss="modal" />
    </div>
  </div>
</div>
