
<div class="container">
  <div class="login-box">

    <form method="post" autocomplete="off" (ngSubmit)="login()">
      <div class="user-box">
        <input type="text" required="" [(ngModel)]="username" name="username" autocomplete="off">
        <label>Username</label>
      </div>
      <div class="user-box">
        <input type="password" required="" [(ngModel)]="password" name="password" autocomplete="off">
        <label>Password</label>
      </div>
      <button class="btn" type="submit">
        LogIn
        <span></span>
      </button>
    </form>

  </div>
</div>
<div class="box-of-star1">
  <div class="star star-position1"></div>
  <div class="star star-position2"></div>
  <div class="star star-position3"></div>
  <div class="star star-position4"></div>
  <div class="star star-position5"></div>
  <div class="star star-position6"></div>
  <div class="star star-position7"></div>
</div>
<div class="box-of-star2">
  <div class="star star-position1"></div>
  <div class="star star-position2"></div>
  <div class="star star-position3"></div>
  <div class="star star-position4"></div>
  <div class="star star-position5"></div>
  <div class="star star-position6"></div>
  <div class="star star-position7"></div>
</div>
<div class="box-of-star3">
  <div class="star star-position1"></div>
  <div class="star star-position2"></div>
  <div class="star star-position3"></div>
  <div class="star star-position4"></div>
  <div class="star star-position5"></div>
  <div class="star star-position6"></div>
  <div class="star star-position7"></div>
</div>
<div class="box-of-star4">
  <div class="star star-position1"></div>
  <div class="star star-position2"></div>
  <div class="star star-position3"></div>
  <div class="star star-position4"></div>
  <div class="star star-position5"></div>
  <div class="star star-position6"></div>
  <div class="star star-position7"></div>
</div>


