<div class="search-container">
  <h2>Tablilla de Información</h2>
  <div class="d-flex justify-content-between m-0 ">
    <div class="d-flex justify-content-center py-1">
      <backIcon (click)="regresar()"/>
    </div>
    <div class="d-flex">
      <form class="bg-dark p-1 rounded-2 shadow-sm d-flex w-100" style="max-width: 280px;">
        <input type="date"
               class="form-control text-center text-light bg-transparent border-0 shadow-none"
               id="day"
               name="day"
               [(ngModel)]="fecha"
               placeholder="Fecha"

               style="width: 100%; outline: none; border-bottom: 2px solid #4a4aff; transition: border-color 0.3s;">

      </form>
      <filterIcon (click)="establecerFecha()"/>
    </div>

  </div>

  <div class="table-responsive">
    <div class="custom-table-wrapper" *ngIf="Sop.length > 0">
      <h5 class="m-0 p-0">{{ 1 | anyToNumber | enumServicios}}</h5>
      <table class="custom-table">
        <thead>
          <tr>
            <th>Id</th>
            <th >Expediente</th>
            <th >Paciente</th>
            <th >Estado</th>
            <th >Situación</th>
            <th >Contacto</th>
            <th >Teléfono</th>
            <th>Informo</th>
            <th>Usuario</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody class="svg-container">
          <tr *ngFor="let item of Sop">
            <td class="text-center">
              <p class="text-90">{{item.id}}</p>
            </td>
            <td>{{ item.expediente }}</td>
            <td  class="text-capitalize">
             {{ item.nombres }} {{item.apellidos}}</td>
            <td>{{ item.estado | anyToNumber | enumEstado }}</td>
            <td>{{ item.situacion | anyToNumber | enumSituacion }}</td>
            <td>{{ item.contacto }}</td>
            <td>{{ item.telefono }}</td>
            <td>
              <ng-container>
              <p class="fs-mini" *ngIf="item.informacion == 'NR'">No Responde</p>
              <p class="fs-mini" *ngIf="item.informacion == 'NE'">No Está</p>
              <p class="fs-mini" *ngIf="item.informacion == 'TI'">Telefono Incorrecto</p>
              <p class="fs-mini" *ngIf="item.informacion == 'NO'">No</p>
              <p class="fs-mini" *ngIf="item.informacion == 'SI'">Si</p>
              </ng-container>
            </td>
            <td>
              <ng-container>
                <p class="label-td">Documento</p>
                {{ item.created_by }}
                <p class="label-td">Informo</p>
                {{ item.update_by }}
                <p class="label-td">Fecha Contacto</p>
                {{ item.fecha_contacto | anyToText | formatoFecha }}
              </ng-container>
            </td>
            <td>
              <div class="div-btn-opt">
                <editIcon [routerLink]="['/detalleUisau/', item.id_consulta]" />
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="custom-table-wrapper t-w-d" *ngIf="Mater.length > 0">
      <h5 class="m-0 p-0">{{ 2 | anyToNumber | enumServicios}}</h5>
      <table class="custom-table">
        <thead>
          <tr>
            <th>Id</th>
            <th >Expediente</th>
            <th >Paciente</th>
            <th >Estado</th>
            <th >Situación</th>
            <th >Contacto</th>
            <th >Teléfono</th>
            <th>Informo</th>
            <th>Usuario</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody class="svg-container">
          <tr *ngFor="let item of Mater">
            <td class="text-center">
              <p class="text-90">{{item.id}}</p>
            </td>
            <td>{{ item.expediente }}</td>
            <td  class="text-capitalize">
             {{ item.nombres }} {{item.apellidos}}</td>
            <td>{{ item.estado | anyToNumber | enumEstado }}</td>
            <td>{{ item.situacion | anyToNumber | enumSituacion }}</td>
            <td>{{ item.contacto }}</td>
            <td>{{ item.telefono }}</td>
            <td>
              <ng-container>
              <p class="fs-mini" *ngIf="item.informacion == 'NR'">No Responde</p>
              <p class="fs-mini" *ngIf="item.informacion == 'NE'">No Está</p>
              <p class="fs-mini" *ngIf="item.informacion == 'TI'">Telefono Incorrecto</p>
              <p class="fs-mini" *ngIf="item.informacion == 'NO'">No</p>
              <p class="fs-mini" *ngIf="item.informacion == 'SI'">Si</p>
              </ng-container>
            </td>
            <td>
              <ng-container>
                <p class="label-td">Documento</p>
                {{ item.created_by }}
                <p class="label-td">Informo</p>
                {{ item.update_by }}
                <p class="label-td">Fecha Contacto</p>
                {{ item.fecha_contacto | anyToText | formatoFecha }}
              </ng-container>
            </td>
            <td>
              <div class="div-btn-opt">
                <editIcon [routerLink]="['/detalleUisau/', item.id_consulta]" />
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="custom-table-wrapper t-w-d" *ngIf="Gine.length > 0">
      <h5 class="m-0 p-0">{{ 3 | anyToNumber | enumServicios}}</h5>
      <table class="custom-table">
        <thead>
          <tr>
            <th>Id</th>
            <th >Expediente</th>
            <th >Paciente</th>
            <th >Estado</th>
            <th >Situación</th>
            <th >Contacto</th>
            <th >Teléfono</th>
            <th>Informo</th>
            <th>Usuario</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody class="svg-container">
          <tr *ngFor="let item of Gine">
            <td class="text-center">
              <p class="text-90">{{item.id}}</p>
            </td>
            <td>{{ item.expediente }}</td>
            <td  class="text-capitalize">
             {{ item.nombres }} {{item.apellidos}}</td>
            <td>{{ item.estado | anyToNumber | enumEstado }}</td>
            <td>{{ item.situacion | anyToNumber | enumSituacion }}</td>
            <td>{{ item.contacto }}</td>
            <td>{{ item.telefono }}</td>
            <td>
              <ng-container>
              <p class="fs-mini" *ngIf="item.informacion == 'NR'">No Responde</p>
              <p class="fs-mini" *ngIf="item.informacion == 'NE'">No Está</p>
              <p class="fs-mini" *ngIf="item.informacion == 'TI'">Telefono Incorrecto</p>
              <p class="fs-mini" *ngIf="item.informacion == 'NO'">No</p>
              <p class="fs-mini" *ngIf="item.informacion == 'SI'">Si</p>
              </ng-container>
            </td>
            <td>
              <ng-container>
                <p class="label-td">Documento</p>
                {{ item.created_by }}
                <p class="label-td">Informo</p>
                {{ item.update_by }}
                <p class="label-td">Fecha Contacto</p>
                {{ item.fecha_contacto | anyToText | formatoFecha }}
              </ng-container>
            </td>
            <td>
              <div class="div-btn-opt">
                <editIcon [routerLink]="['/detalleUisau/', item.id_consulta]" />
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="custom-table-wrapper t-w-d" *ngIf="Ciru.length > 0">
      <h5 class="m-0 p-0">{{ 4 | anyToNumber | enumServicios}}</h5>
      <table class="custom-table">
        <thead>
          <tr>
            <th>Id</th>
            <th >Expediente</th>
            <th >Paciente</th>
            <th >Estado</th>
            <th >Situación</th>
            <th >Contacto</th>
            <th >Teléfono</th>
            <th>Informo</th>
            <th>Usuario</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody class="svg-container">
          <tr *ngFor="let item of Ciru">
            <td class="text-center">
              <p class="text-90">{{item.id}}</p>
            </td>
            <td>{{ item.expediente }}</td>
            <td  class="text-capitalize">
             {{ item.nombres }} {{item.apellidos}}</td>
            <td>{{ item.estado | anyToNumber | enumEstado }}</td>
            <td>{{ item.situacion | anyToNumber | enumSituacion }}</td>
            <td>{{ item.contacto }}</td>
            <td>{{ item.telefono }}</td>
            <td>
              <ng-container>
              <p class="fs-mini" *ngIf="item.informacion == 'NR'">No Responde</p>
              <p class="fs-mini" *ngIf="item.informacion == 'NE'">No Está</p>
              <p class="fs-mini" *ngIf="item.informacion == 'TI'">Telefono Incorrecto</p>
              <p class="fs-mini" *ngIf="item.informacion == 'NO'">No</p>
              <p class="fs-mini" *ngIf="item.informacion == 'SI'">Si</p>
              </ng-container>
            </td>
            <td>
              <ng-container>
                <p class="label-td">Documento</p>
                {{ item.created_by }}
                <p class="label-td">Informo</p>
                {{ item.update_by }}
                <p class="label-td">Fecha Contacto</p>
                {{ item.fecha_contacto | anyToText | formatoFecha }}
              </ng-container>
            </td>
            <td>
              <div class="div-btn-opt">
                <editIcon [routerLink]="['/detalleUisau/', item.id_consulta]" />
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="custom-table-wrapper t-w-d" *ngIf="Cirupedia.length > 0">
      <h5 class="m-0 p-0">{{ 5 | anyToNumber | enumServicios}}</h5>
      <table class="custom-table">
        <thead>
          <tr>
            <th>Id</th>
            <th >Expediente</th>
            <th >Paciente</th>
            <th >Estado</th>
            <th >Situación</th>
            <th >Contacto</th>
            <th >Teléfono</th>
            <th>Informo</th>
            <th>Usuario</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody class="svg-container">
          <tr *ngFor="let item of Cirupedia">
            <td class="text-center">
              <p class="text-90">{{item.id}}</p>
            </td>
            <td>{{ item.expediente }}</td>
            <td  class="text-capitalize">
             {{ item.nombres }} {{item.apellidos}}</td>
            <td>{{ item.estado | anyToNumber | enumEstado }}</td>
            <td>{{ item.situacion | anyToNumber | enumSituacion }}</td>
            <td>{{ item.contacto }}</td>
            <td>{{ item.telefono }}</td>
            <td>
              <ng-container>
              <p class="fs-mini" *ngIf="item.informacion == 'NR'">No Responde</p>
              <p class="fs-mini" *ngIf="item.informacion == 'NE'">No Está</p>
              <p class="fs-mini" *ngIf="item.informacion == 'TI'">Telefono Incorrecto</p>
              <p class="fs-mini" *ngIf="item.informacion == 'NO'">No</p>
              <p class="fs-mini" *ngIf="item.informacion == 'SI'">Si</p>
              </ng-container>
            </td>
            <td>
              <ng-container>
                <p class="label-td">Documento</p>
                {{ item.created_by }}
                <p class="label-td">Informo</p>
                {{ item.update_by }}
                <p class="label-td">Fecha Contacto</p>
                {{ item.fecha_contacto | anyToText | formatoFecha }}
              </ng-container>
            </td>
            <td>
              <div class="div-btn-opt">
                <editIcon [routerLink]="['/detalleUisau/', item.id_consulta]" />
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="custom-table-wrapper t-w-d" *ngIf="Trauma.length > 0">
      <h5 class="m-0 p-0">{{ 6 | anyToNumber | enumServicios}}</h5>
      <table class="custom-table">
        <thead>
          <tr>
            <th>Id</th>
            <th >Expediente</th>
            <th >Paciente</th>
            <th >Estado</th>
            <th >Situación</th>
            <th >Contacto</th>
            <th >Teléfono</th>
            <th>Informo</th>
            <th>Usuario</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody class="svg-container">
          <tr *ngFor="let item of Trauma">
            <td class="text-center">
              <p class="text-90">{{item.id}}</p>
            </td>
            <td>{{ item.expediente }}</td>
            <td  class="text-capitalize">
             {{ item.nombres }} {{item.apellidos}}</td>
            <td>{{ item.estado | anyToNumber | enumEstado }}</td>
            <td>{{ item.situacion | anyToNumber | enumSituacion }}</td>
            <td>{{ item.contacto }}</td>
            <td>{{ item.telefono }}</td>
            <td>
              <ng-container>
              <p class="fs-mini" *ngIf="item.informacion == 'NR'">No Responde</p>
              <p class="fs-mini" *ngIf="item.informacion == 'NE'">No Está</p>
              <p class="fs-mini" *ngIf="item.informacion == 'TI'">Telefono Incorrecto</p>
              <p class="fs-mini" *ngIf="item.informacion == 'NO'">No</p>
              <p class="fs-mini" *ngIf="item.informacion == 'SI'">Si</p>
              </ng-container>
            </td>
            <td>
              <ng-container>
                <p class="label-td">Documento</p>
                {{ item.created_by }}
                <p class="label-td">Informo</p>
                {{ item.update_by }}
                <p class="label-td">Fecha Contacto</p>
                {{ item.fecha_contacto | anyToText | formatoFecha }}
              </ng-container>
            </td>
            <td>
              <div class="div-btn-opt">
                <editIcon [routerLink]="['/detalleUisau/', item.id_consulta]" />
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="custom-table-wrapper t-w-d" *ngIf="Traumapedia.length > 0">
      <h5 class="m-0 p-0">{{ 7 | anyToNumber | enumServicios}}</h5>
      <table class="custom-table">
        <thead>
          <tr>
            <th>Id</th>
            <th >Expediente</th>
            <th >Paciente</th>
            <th >Estado</th>
            <th >Situación</th>
            <th >Contacto</th>
            <th >Teléfono</th>
            <th>Informo</th>
            <th>Usuario</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody class="svg-container">
          <tr *ngFor="let item of Traumapedia">
            <td class="text-center">
              <p class="text-90">{{item.id}}</p>
            </td>
            <td>{{ item.expediente }}</td>
            <td  class="text-capitalize">
             {{ item.nombres }} {{item.apellidos}}</td>
            <td>{{ item.estado | anyToNumber | enumEstado }}</td>
            <td>{{ item.situacion | anyToNumber | enumSituacion }}</td>
            <td>{{ item.contacto }}</td>
            <td>{{ item.telefono }}</td>
            <td>
              <ng-container>
              <p class="fs-mini" *ngIf="item.informacion == 'NR'">No Responde</p>
              <p class="fs-mini" *ngIf="item.informacion == 'NE'">No Está</p>
              <p class="fs-mini" *ngIf="item.informacion == 'TI'">Telefono Incorrecto</p>
              <p class="fs-mini" *ngIf="item.informacion == 'NO'">No</p>
              <p class="fs-mini" *ngIf="item.informacion == 'SI'">Si</p>
              </ng-container>
            </td>
            <td>
              <ng-container>
                <p class="label-td">Documento</p>
                {{ item.created_by }}
                <p class="label-td">Informo</p>
                {{ item.update_by }}
                <p class="label-td">Fecha Contacto</p>
                {{ item.fecha_contacto | anyToText | formatoFecha }}
              </ng-container>
            </td>
            <td>
              <div class="div-btn-opt">
                <editIcon [routerLink]="['/detalleUisau/', item.id_consulta]" />
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="custom-table-wrapper t-w-d" *ngIf="CRN.length > 0">
      <h5 class="m-0 p-0">{{ 8 | anyToNumber | enumServicios}}</h5>
      <table class="custom-table">
        <thead>
          <tr>
            <th>Id</th>
            <th >Expediente</th>
            <th >Paciente</th>
            <th >Estado</th>
            <th >Situación</th>
            <th >Contacto</th>
            <th >Teléfono</th>
            <th>Informo</th>
            <th>Usuario</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody class="svg-container">
          <tr *ngFor="let item of CRN">
            <td class="text-center">
              <p class="text-90">{{item.id}}</p>
            </td>
            <td>{{ item.expediente }}</td>
            <td  class="text-capitalize">
             {{ item.nombres }} {{item.apellidos}}</td>
            <td>{{ item.estado | anyToNumber | enumEstado }}</td>
            <td>{{ item.situacion | anyToNumber | enumSituacion }}</td>
            <td>{{ item.contacto }}</td>
            <td>{{ item.telefono }}</td>
            <td>
              <ng-container>
              <p class="fs-mini" *ngIf="item.informacion == 'NR'">No Responde</p>
              <p class="fs-mini" *ngIf="item.informacion == 'NE'">No Está</p>
              <p class="fs-mini" *ngIf="item.informacion == 'TI'">Telefono Incorrecto</p>
              <p class="fs-mini" *ngIf="item.informacion == 'NO'">No</p>
              <p class="fs-mini" *ngIf="item.informacion == 'SI'">Si</p>
              </ng-container>
            </td>
            <td>
              <ng-container>
                <p class="label-td">Documento</p>
                {{ item.created_by }}
                <p class="label-td">Informo</p>
                {{ item.update_by }}
                <p class="label-td">Fecha Contacto</p>
                {{ item.fecha_contacto | anyToText | formatoFecha }}
              </ng-container>
            </td>
            <td>
              <div class="div-btn-opt">
                <editIcon [routerLink]="['/detalleUisau/', item.id_consulta]" />
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="custom-table-wrapper t-w-d" *ngIf="Pedia.length > 0">
      <h5 class="m-0 p-0">{{ 9 | anyToNumber | enumServicios}}</h5>
      <table class="custom-table">
        <thead>
          <tr>
            <th>Id</th>
            <th >Expediente</th>
            <th >Paciente</th>
            <th >Estado</th>
            <th >Situación</th>
            <th >Contacto</th>
            <th >Teléfono</th>
            <th>Informo</th>
            <th>Usuario</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody class="svg-container">
          <tr *ngFor="let item of Pedia">
            <td class="text-center">
              <p class="text-90">{{item.id}}</p>
            </td>
            <td>{{ item.expediente }}</td>
            <td  class="text-capitalize">
             {{ item.nombres }} {{item.apellidos}}</td>
            <td>{{ item.estado | anyToNumber | enumEstado }}</td>
            <td>{{ item.situacion | anyToNumber | enumSituacion }}</td>
            <td>{{ item.contacto }}</td>
            <td>{{ item.telefono }}</td>
            <td>
              <ng-container>
              <p class="fs-mini" *ngIf="item.informacion == 'NR'">No Responde</p>
              <p class="fs-mini" *ngIf="item.informacion == 'NE'">No Está</p>
              <p class="fs-mini" *ngIf="item.informacion == 'TI'">Telefono Incorrecto</p>
              <p class="fs-mini" *ngIf="item.informacion == 'NO'">No</p>
              <p class="fs-mini" *ngIf="item.informacion == 'SI'">Si</p>
              </ng-container>
            </td>
            <td>
              <ng-container>
                <p class="label-td">Documento</p>
                {{ item.created_by }}
                <p class="label-td">Informo</p>
                {{ item.update_by }}
                <p class="label-td">Fecha Contacto</p>
                {{ item.fecha_contacto | anyToText | formatoFecha }}
              </ng-container>
            </td>
            <td>
              <div class="div-btn-opt">
                <editIcon [routerLink]="['/detalleUisau/', item.id_consulta]" />
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="custom-table-wrapper t-w-d" *ngIf="Rn.length > 0">
      <h5 class="m-0 p-0">{{ 10 | anyToNumber | enumServicios}}</h5>
      <table class="custom-table">
        <thead>
          <tr>
            <th>Id</th>
            <th >Expediente</th>
            <th >Paciente</th>
            <th >Estado</th>
            <th >Situación</th>
            <th >Contacto</th>
            <th >Teléfono</th>
            <th>Informo</th>
            <th>Usuario</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody class="svg-container">
          <tr *ngFor="let item of Rn">
            <td class="text-center">
              <p class="text-90">{{item.id}}</p>
            </td>
            <td>{{ item.expediente }}</td>
            <td  class="text-capitalize">
             {{ item.nombres }} {{item.apellidos}}</td>
            <td>{{ item.estado | anyToNumber | enumEstado }}</td>
            <td>{{ item.situacion | anyToNumber | enumSituacion }}</td>
            <td>{{ item.contacto }}</td>
            <td>{{ item.telefono }}</td>
            <td>
              <ng-container>
              <p class="fs-mini" *ngIf="item.informacion == 'NR'">No Responde</p>
              <p class="fs-mini" *ngIf="item.informacion == 'NE'">No Está</p>
              <p class="fs-mini" *ngIf="item.informacion == 'TI'">Telefono Incorrecto</p>
              <p class="fs-mini" *ngIf="item.informacion == 'NO'">No</p>
              <p class="fs-mini" *ngIf="item.informacion == 'SI'">Si</p>
              </ng-container>
            </td>
            <td>
              <ng-container>
                <p class="label-td">Documento</p>
                {{ item.created_by }}
                <p class="label-td">Informo</p>
                {{ item.update_by }}
                <p class="label-td">Fecha Contacto</p>
                {{ item.fecha_contacto | anyToText | formatoFecha }}
              </ng-container>
            </td>
            <td>
              <div class="div-btn-opt">
                <editIcon [routerLink]="['/detalleUisau/', item.id_consulta]" />
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="custom-table-wrapper t-w-d" *ngIf="Neonatos.length > 0">
      <h5 class="m-0 p-0">{{ 11 | anyToNumber | enumServicios}}</h5>
      <table class="custom-table">
        <thead>
          <tr>
            <th>Id</th>
            <th >Expediente</th>
            <th >Paciente</th>
            <th >Estado</th>
            <th >Situación</th>
            <th >Contacto</th>
            <th >Teléfono</th>
            <th>Informo</th>
            <th>Usuario</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody class="svg-container">
          <tr *ngFor="let item of Neonatos">
            <td class="text-center">
              <p class="text-90">{{item.id}}</p>
            </td>
            <td>{{ item.expediente }}</td>
            <td  class="text-capitalize">
             {{ item.nombres }} {{item.apellidos}}</td>
            <td>{{ item.estado | anyToNumber | enumEstado }}</td>
            <td>{{ item.situacion | anyToNumber | enumSituacion }}</td>
            <td>{{ item.contacto }}</td>
            <td>{{ item.telefono }}</td>
            <td>
              <ng-container>
              <p class="fs-mini" *ngIf="item.informacion == 'NR'">No Responde</p>
              <p class="fs-mini" *ngIf="item.informacion == 'NE'">No Está</p>
              <p class="fs-mini" *ngIf="item.informacion == 'TI'">Telefono Incorrecto</p>
              <p class="fs-mini" *ngIf="item.informacion == 'NO'">No</p>
              <p class="fs-mini" *ngIf="item.informacion == 'SI'">Si</p>
              </ng-container>
            </td>
            <td>
              <ng-container>
                <p class="label-td">Documento</p>
                {{ item.created_by }}
                <p class="label-td">Informo</p>
                {{ item.update_by }}
                <p class="label-td">Fecha Contacto</p>
                {{ item.fecha_contacto | anyToText | formatoFecha }}
              </ng-container>
            </td>
            <td>
              <div class="div-btn-opt">
                <editIcon [routerLink]="['/detalleUisau/', item.id_consulta]" />
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="custom-table-wrapper t-w-d" *ngIf="areaRoja.length > 0">
      <h5 class="m-0 p-0">{{ 17 | anyToNumber | enumServicios}}</h5>
      <table class="custom-table">
        <thead>
          <tr>
            <th>Id</th>
            <th >Expediente</th>
            <th >Paciente</th>
            <th >Estado</th>
            <th >Situación</th>
            <th >Contacto</th>
            <th >Teléfono</th>
            <th>Informo</th>
            <th>Usuario</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody class="svg-container">
          <tr *ngFor="let item of areaRoja">
            <td class="text-center">
              <p class="text-90">{{item.id}}</p>
            </td>
            <td>{{ item.expediente }}</td>
            <td  class="text-capitalize">
             {{ item.nombres }} {{item.apellidos}}</td>
            <td>{{ item.estado | anyToNumber | enumEstado }}</td>
            <td>{{ item.situacion | anyToNumber | enumSituacion }}</td>
            <td>{{ item.contacto }}</td>
            <td>{{ item.telefono }}</td>
            <td>
              <ng-container>
              <p class="fs-mini" *ngIf="item.informacion == 'NR'">No Responde</p>
              <p class="fs-mini" *ngIf="item.informacion == 'NE'">No Está</p>
              <p class="fs-mini" *ngIf="item.informacion == 'TI'">Telefono Incorrecto</p>
              <p class="fs-mini" *ngIf="item.informacion == 'NO'">No</p>
              <p class="fs-mini" *ngIf="item.informacion == 'SI'">Si</p>
              </ng-container>
            </td>
            <td>
              <ng-container>
                <p class="label-td">Documento</p>
                {{ item.created_by }}
                <p class="label-td">Informo</p>
                {{ item.update_by }}
                <p class="label-td">Fecha Contacto</p>
                {{ item.fecha_contacto | anyToText | formatoFecha }}
              </ng-container>
            </td>
            <td>
              <div class="div-btn-opt">
                <editIcon [routerLink]="['/detalleUisau/', item.id_consulta]" />
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="custom-table-wrapper t-w-d" *ngIf="Medi.length > 0">
      <h5 class="m-0 p-0">{{ 18 | anyToNumber | enumServicios}}</h5>
      <table class="custom-table">
        <thead>
          <tr>
            <th>Id</th>
            <th >Expediente</th>
            <th >Paciente</th>
            <th >Estado</th>
            <th >Situación</th>
            <th >Contacto</th>
            <th >Teléfono</th>
            <th>Informo</th>
            <th>Usuario</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody class="svg-container">
          <tr *ngFor="let item of Medi">
            <td class="text-center">
              <p class="text-90">{{item.id}}</p>
            </td>
            <td>{{ item.expediente }}</td>
            <td  class="text-capitalize">
             {{ item.nombres }} {{item.apellidos}}</td>
            <td>{{ item.estado | anyToNumber | enumEstado }}</td>
            <td>{{ item.situacion | anyToNumber | enumSituacion }}</td>
            <td>{{ item.contacto }}</td>
            <td>{{ item.telefono }}</td>
            <td>
              <ng-container>
              <p class="fs-mini" *ngIf="item.informacion == 'NR'">No Responde</p>
              <p class="fs-mini" *ngIf="item.informacion == 'NE'">No Está</p>
              <p class="fs-mini" *ngIf="item.informacion == 'TI'">Telefono Incorrecto</p>
              <p class="fs-mini" *ngIf="item.informacion == 'NO'">No</p>
              <p class="fs-mini" *ngIf="item.informacion == 'SI'">Si</p>
              </ng-container>
            </td>
            <td>
              <ng-container>
                <p class="label-td">Documento</p>
                {{ item.created_by }}
                <p class="label-td">Informo</p>
                {{ item.update_by }}
                <p class="label-td">Fecha Contacto</p>
                {{ item.fecha_contacto | anyToText | formatoFecha }}
              </ng-container>
            </td>
            <td>
              <div class="div-btn-opt">
                <editIcon [routerLink]="['/detalleUisau/', item.id_consulta]" />
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="custom-table-wrapper t-w-d" *ngIf="ucin.length > 0">
      <h5 class="m-0 p-0">{{ 19 | anyToNumber | enumServicios}}</h5>
      <table class="custom-table">
        <thead>
          <tr>
            <th>Id</th>
            <th >Expediente</th>
            <th >Paciente</th>
            <th >Estado</th>
            <th >Situación</th>
            <th >Contacto</th>
            <th >Teléfono</th>
            <th>Informo</th>
            <th>Usuario</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody class="svg-container">
          <tr *ngFor="let item of ucin">
            <td class="text-center">
              <p class="text-90">{{item.id}}</p>
            </td>
            <td>{{ item.expediente }}</td>
            <td  class="text-capitalize">
             {{ item.nombres }} {{item.apellidos}}</td>
            <td>{{ item.estado | anyToNumber | enumEstado }}</td>
            <td>{{ item.situacion | anyToNumber | enumSituacion }}</td>
            <td>{{ item.contacto }}</td>
            <td>{{ item.telefono }}</td>
            <td>
              <ng-container>
              <p class="fs-mini" *ngIf="item.informacion == 'NR'">No Responde</p>
              <p class="fs-mini" *ngIf="item.informacion == 'NE'">No Está</p>
              <p class="fs-mini" *ngIf="item.informacion == 'TI'">Telefono Incorrecto</p>
              <p class="fs-mini" *ngIf="item.informacion == 'NO'">No</p>
              <p class="fs-mini" *ngIf="item.informacion == 'SI'">Si</p>
              </ng-container>
            </td>
            <td>
              <ng-container>
                <p class="label-td">Documento</p>
                {{ item.created_by }}
                <p class="label-td">Informo</p>
                {{ item.update_by }}
                <p class="label-td">Fecha Contacto</p>
                {{ item.fecha_contacto | anyToText | formatoFecha }}
              </ng-container>
            </td>
            <td>
              <div class="div-btn-opt">
                <editIcon [routerLink]="['/detalleUisau/', item.id_consulta]" />
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="custom-table-wrapper t-w-d" *ngIf="Coex.length > 0">
      <h5 class="m-0 p-0">{{ 20 | anyToNumber | enumServicios}}</h5>
      <table class="custom-table">
        <thead>
          <tr>
            <th>Id</th>
            <th >Expediente</th>
            <th >Paciente</th>
            <th >Estado</th>
            <th >Situación</th>
            <th >Contacto</th>
            <th >Teléfono</th>
            <th>Informo</th>
            <th>Usuario</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody class="svg-container">
          <tr *ngFor="let item of Coex">
            <td class="text-center">
              <p class="text-90">{{item.id}}</p>
            </td>
            <td>{{ item.expediente }}</td>
            <td  class="text-capitalize">
             {{ item.nombres }} {{item.apellidos}}</td>
            <td>{{ item.estado | anyToNumber | enumEstado }}</td>
            <td>{{ item.situacion | anyToNumber | enumSituacion }}</td>
            <td>{{ item.contacto }}</td>
            <td>{{ item.telefono }}</td>
            <td>
              <ng-container>
              <p class="fs-mini" *ngIf="item.informacion == 'NR'">No Responde</p>
              <p class="fs-mini" *ngIf="item.informacion == 'NE'">No Está</p>
              <p class="fs-mini" *ngIf="item.informacion == 'TI'">Telefono Incorrecto</p>
              <p class="fs-mini" *ngIf="item.informacion == 'NO'">No</p>
              <p class="fs-mini" *ngIf="item.informacion == 'SI'">Si</p>
              </ng-container>
            </td>
            <td>
              <ng-container>
                <p class="label-td">Documento</p>
                {{ item.created_by }}
                <p class="label-td">Informo</p>
                {{ item.update_by }}
                <p class="label-td">Fecha Contacto</p>
                {{ item.fecha_contacto | anyToText | formatoFecha }}
              </ng-container>
            </td>
            <td>
              <div class="div-btn-opt">
                <editIcon [routerLink]="['/detalleUisau/', item.id_consulta]" />
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="custom-table-wrapper t-w-d" *ngIf="Emergencia.length > 0">
      <h5 class="m-0 p-0">{{ 21 | anyToNumber | enumServicios}}</h5>
      <table class="custom-table">
        <thead>
          <tr>
            <th>Id</th>
            <th >Expediente</th>
            <th >Paciente</th>
            <th >Estado</th>
            <th >Situación</th>
            <th >Contacto</th>
            <th >Teléfono</th>
            <th>Informo</th>
            <th>Usuario</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody class="svg-container">
          <tr *ngFor="let item of Emergencia">
            <td class="text-center">
              <p class="text-90">{{item.id}}</p>
            </td>
            <td>{{ item.expediente }}</td>
            <td  class="text-capitalize">
             {{ item.nombres }} {{item.apellidos}}</td>
            <td>{{ item.estado | anyToNumber | enumEstado }}</td>
            <td>{{ item.situacion | anyToNumber | enumSituacion }}</td>
            <td>{{ item.contacto }}</td>
            <td>{{ item.telefono }}</td>
            <td>
              <ng-container>
              <p class="fs-mini" *ngIf="item.informacion == 'NR'">No Responde</p>
              <p class="fs-mini" *ngIf="item.informacion == 'NE'">No Está</p>
              <p class="fs-mini" *ngIf="item.informacion == 'TI'">Telefono Incorrecto</p>
              <p class="fs-mini" *ngIf="item.informacion == 'NO'">No</p>
              <p class="fs-mini" *ngIf="item.informacion == 'SI'">Si</p>
              </ng-container>
            </td>
            <td>
              <ng-container>
                <p class="label-td">Documento</p>
                {{ item.created_by }}
                <p class="label-td">Informo</p>
                {{ item.update_by }}
                <p class="label-td">Fecha Contacto</p>
                {{ item.fecha_contacto | anyToText | formatoFecha }}
              </ng-container>
            </td>
            <td>
              <div class="div-btn-opt">
                <editIcon [routerLink]="['/detalleUisau/', item.id_consulta]" />
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


</div>









