
<div class="search-container">
  <div class="rounded p-0">
    <form class="search-form" autocomplete="off">
      <input type="number" class="form-control search-input" name="id" id="idBuscar" placeholder="Id" [(ngModel)]="idBuscar" />
     <select id="especialidad" class="form-control search-input" [(ngModel)]="tipoBuscar" name="tipoBuscar">
        <option value="" disabled selected hidden>Tipo Consulta</option>
        <option *ngFor="let option of enums.tipo" [value]="option.value">{{ option.label }}</option>
      </select>
      <input type="number" class="form-control search-input" name="Hoja" id="hojaBuscar" placeholder="hoja" [(ngModel)]="hojaBuscar" />
      <input type="number" class="form-control search-input" name="Expediente" placeholder="Expediente" [(ngModel)]="expedienteBuscar" />
      <input type="date" class="form-control search-input" name="Fecha" placeholder="fecha" [(ngModel)]="fechaBuscar" [max]="maxdate" />
      <input type="text" class="form-control search-input" placeholder="Nombre" name="nombreBuscar" [(ngModel)]="nombreBuscar">
      <input type="text" class="form-control search-input" placeholder="Apellido" name="apellidoBuscar" [(ngModel)]="apellidoBuscar">
      <input type="text" class="form-control search-input" placeholder="DPI" name="dpiBuscar" [(ngModel)]="dpiBuscar">
      <searchIcon (click)="filtro()" />
      <deleteInput (click)="limpiarInput()" />
    </form>
  </div>
</div>

<div class="">
<div class="custom-table-wrapper t-w-d mt-2">
  <h3 class="m-0 p-0">Consultas</h3>
  <table class="custom-table table-hover text-center" >
    <thead>
      <tr>
        <th class="text-center">Id</th>
        <th class="text-center" >Expediente</th>
        <th class="text-center">Paciente</th>
        <th class="text-center">DPI</th>
        <th class="text-center">Nacimiento</th>
        <th class="text-center">Direccion</th>
        <th class="text-center">Fecha</th>
        <th class="text-center">Servicio</th>
        <th class="text-center">Tipo</th>
        <th class="text-center">Estatus</th>
      </tr>
    </thead>

    <div class="loader-container">
      <div *ngIf="porcentajeDeProgreso >= 0" class="loader"></div>
    </div>
    <tbody class="svg-container">
      <!-- Aquí puedes usar *ngFor para iterar sobre los datos de la vista_citas -->
      <tr *ngFor="let consulta of resumen">

        <td class="text-center w-10" (click)="detalle(consulta.id)" data-bs-toggle="modal" data-bs-target="#verCons">
          <dataViewIcon />
          {{consulta.id}}
        </td>
        <td class="text-center w-10">
          <p class="label-td" *ngIf="consulta.expediente">Expediente:</p>{{consulta.expediente}}
          <p class="label-td" *ngIf="consulta.hoja_emergencia">Hoja Emergencia:</p>{{consulta.hoja_emergencia}}
        </td>
        <td class="text-start w-20">
          <span [ngClass]="{'mujer': consulta.sexo == 'F', 'hombre': consulta.sexo != 'F'}">{{ consulta.nombres | anyToText | capitalizeName }}</span><br>
            {{consulta.apellidos |anyToText | capitalizeName}} <br>

        </td>
        <td class="text-center w-5">{{consulta.dpi | anyToText| formatoDPI}}</td>
        <td class="text-center w-10">{{consulta.nacimiento | anyToText |FechaCorta}}</td>
        <td class="text-center">
          {{consulta.direccion | anyToText | capitalizeName}}
        </td>
        <td class="text-center">
          <div class="row text-center">
            <p class="label-td">Ingreso</p>
            <div>
              {{consulta.fecha_consulta | anyToText | formatoFecha}}<br>
              {{consulta.hora}}
            </div>
          </div>
          <div *ngIf="consulta.fecha_egreso" class="row text-center">
            <p class="label-td">Egreso</p>
            <div>
              {{consulta.fecha_egreso | anyToText | formatoFecha}}<br>
              {{ consulta.fecha_consulta | estancia: consulta.fecha_egreso }}
            </div>
          </div>
        </td>
        <td class="text-center">
          <span class="font-title1">{{consulta.especialidad | anyToNumber| enumEspecialidad}}: </span><br>
        {{consulta.servicio | anyToNumber| enumServicios}}
        </td>
        <td class="text-center w-5" >
          <ng-container *ngIf="consulta.tipo_consulta == 1">
            <coexIcon  />
            <br/>
            <span class="fs-mini">Consulta Externa</span>
          </ng-container>
          <ng-container *ngIf="consulta.tipo_consulta == 2">
            <hospitalizacionIcon  />
            <br/>
            <span class="fs-mini">Hospitalización</span>
          </ng-container>
          <ng-container *ngIf="consulta.tipo_consulta == 3" >
            <emergenciaIcon  />
            <br/>
            <span class="fs-mini">Emergencia</span>
          </ng-container>
        </td>
        <td class="text-center w-5">
          <ng-container *ngIf="consulta.status == 1">
          <activoIcon  />
          <br/>
          <span class="fs-mini">Activo</span>
          </ng-container>
          <ng-container *ngIf="consulta.status == 2">
          <archiveIcon  />
          <br/>
          <span class="fs-mini">Archivado</span>
          </ng-container>
          <ng-container *ngIf="consulta.status == 3">
            <prestamoIcon  />
            <br/>
            <span class="fs-mini">Prestamo</span>
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>
</div>


 <!-- Paginación -->
    <div class="d-flex justify-content-center pagination mt-3">
      <div class="btn-group" [class.disabled]="paginaActual === 1" *ngIf="totalPaginas()">
        <button type="button" class="btn btn-secondary" (click)="onPageChange(1)" aria-label="Primera">Primera</button>
        <button type="button" class="btn btn-secondary" (click)="onPageChange(paginaActual - 1)" aria-label="Anterior">Anterior</button>
        <button type="button" class="btn btn-secondary" (click)="onPageChange(paginaActual + 1)" aria-label="Siguiente">Siguiente</button>
        <button type="button" class="btn btn-secondary" (click)="onPageChange(totalPaginas())" aria-label="Última">Última</button>
      </div>
    </div>

    <div class="modal" id="opciones">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content bg-light">

          <!-- <button class="btn btn-dark bg-danger my-2" data-bs-dismiss="modal" (click)="eliminar(idCopiado)">Eliminar consulta</button> -->
          <button class="btn btn-info bg-black my-2" data-bs-dismiss="modal" >Editar Consulta</button>

          <button class="btn btn-black" data-bs-dismiss="modal">Cerrar</button>


        </div>
      </div>
    </div>



    <div class="modal fade" id="verCons" role="dialog" aria-labelledby="verCons" aria-hidden="true">
      <div class="modal-dialog modal-md modal-lg" role="document">
        <div class="modal-content w-auto card bg-night">
          <div class="top">
            <div class="circle red"></div>
            <div class="circle yellow"></div>
            <div class="circle green"></div>
          </div>

          <div class="modal-body code-container" id="code">

            <div class="card-header  text-center" >
              Detalles de Consulta: <span class="font-fam">{{consult?.id}}</span>
            </div>


            <div class="modal-body mx-5 font-monospace">
              <div class="text-start">
                <p>&#123;</p>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0 m-0">Hoja de emergencia: </span>
                    <p class="font-value m-0 m-0">{{consult?.hoja_emergencia}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0 m-0">Expediente: </span>
                    <p class="font-value m-0 m-0">{{consult?.expediente}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">Nota: </span>
                    <p class="font-value m-0">{{consult?.nota}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">Paciente: </span>
                    <p class="font-value m-0">{{consult?.nombres | anyToText | capitalizeName}} {{consult?.apellidos | anyToText | capitalizeName}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">Fecha de Nacimiento: </span>
                    <p class="font-value m-0">{{consult?.nacimiento | anyToText | formatoFecha}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">Edad: </span>
                    <p class="font-value m-0">{{consult?.nacimiento | edad}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">Edad de la consulta: </span>
                    <p class="font-value m-0">{{consult?.edad}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">Sexo: </span>
                    <p class="font-value m-0">{{consult?.sexo | anyToText | sexo}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">DPI: </span>
                    <p class="font-value m-0">{{consult?.dpi | anyToText | formatoDPI}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">Dirección: </span>
                    <p class="font-value m-0">{{consult?.direccion | anyToText | capitalizeName}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">Acompañante: </span>
                    <p class="font-value m-0">{{consult?.acompa | anyToText | capitalizeName}} - {{consult?.parente | anyToNumber | enumParentesco}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">Telefonos: </span>
                    <p class="font-value m-0">{{consult?.telefono}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">Fecha de Recepción: </span>
                    <p class="font-value m-0">{{consult?.fecha_recepcion | anyToText | formatoFecha}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">Fecha de Egreso: </span>
                    <p class="font-value m-0">{{consult?.fecha_egreso | anyToText | formatoFecha}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">Fecha y hora de Consulta: </span>
                    <p class="font-value m-0">{{consult?.fecha_consulta | anyToText | formatoFecha}} {{consult?.hora}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">Status: </span>
                    <p class="font-value m-0">{{consult?.status | anyToNumber | enumStatus}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">Folios: </span>
                    <p class="font-value m-0">{{consult?.folios}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">Diagnostico: </span>
                    <p class="font-value m-0">{{consult?.dx}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">Controles Prenatales: </span>
                    <p class="font-value m-0">{{consult?.prenatal}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">Lactancia materna: </span>
                    <p class="font-value m-0">{{consult?.lactancia}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">Medico: </span>
                    <p class="font-value m-0">{{consult?.medico | anyToText | capitalizeName}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">Especialidad: </span>
                    <p class="font-value m-0">{{consult?.especialidad | anyToNumber | enumEspecialidad}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">Servicio: </span>
                    <p class="font-value m-0">{{consult?.servicio | anyToNumber | enumServicios}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">Tipo de Consulta: </span>
                    <p class="font-value m-0">{{consult?.tipo_consulta | anyToNumber | enumTipo}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">Creado Por: </span>
                    <p class="font-value m-0">{{consult?.created_by}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">Archivado Por: </span>
                    <p class="font-value m-0">{{consult?.archived_by}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">Creado el: </span>
                    <p class="font-value m-0">{{consult?.created_at}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">Actualizado el: </span>
                    <p class="font-value m-0">{{consult?.updated_at}},</p>
                  </div>

                  <p>&#125;</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

