<button class="btn btn-info no-imprimir mx-0" (click)="imprimir()">Imprimir</button>

<body class="card-container">

  <section class="my-0 p-0 titulo">
    <div class="h4 my-0" >MINISTERIO DE SAUL PÚBLICA Y ASISTENCIA SOCIAL</div>
    <div></div>
    <div class="h5 my-0">HOSPITAL GENERAL TIPO I DE TECPAN GUATEMALA</div>
    <div></div>
  </section>

  <section class="servicio">
    <div class="item-1"></div>
    <div class="item-2 p-0 my-0">servicio:</div>
    <div class="item-3"></div>
    <div class="item 4"></div>
    <div class="item-5 my-0 p-0">{{consulta?.servicio | anyToNumber | enumServicios}}</div>
    <div class="item-6"></div>
  </section>

  <section>
    <div>{{consulta?.apellidos | anyToText | capitalizeName}}</div>
    <div>{{consulta?.nombres | anyToText | capitalizeName}}</div>
    <div>{{consulta?.expediente}}</div>
  </section>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>

</body>

