<div class="justify-content-center ">
  <div>
    <p class="text-center display-6" >Control de Expedientes</p>
  </div>
  <hr>
  <div class="search-container">
    <div class="rounded p-2 bg-dark">
      <form class="d-flex justify-content-between align-items-center gap-1" autocomplete="off">
        <select id="status" class="form-control search-input expande-contenido" [(ngModel)]="statusBuscar" name="statusBuscar">
          <option value="1">Activos</option>
          <option value="2">Archivados</option>
        </select>
        <input type="date" class="form-control search-input expande-contenido" name="fechaBuscar" placeholder="fechaBuscar" [(ngModel)]="fechaBuscar" />
        <input type="number" class="form-control search-input expande-contenido" name="Expediente" placeholder="Expediente" [(ngModel)]="expedienteBuscar" />
        <input type="number" class="form-control search-input expande-contenido" name="Hoja" id="hojaBuscar" placeholder="Emergencia" [(ngModel)]="hojaBuscar" />
        <input type="text" class="form-control search-input expande-contenido" placeholder="Nombre" name="nombreBuscar" [(ngModel)]="nombreBuscar">
        <input type="text" class="form-control search-input expande-contenido" placeholder="Apellido" name="apellidoBuscar" [(ngModel)]="apellidoBuscar">
        <select id="especialidad" class="form-control " [(ngModel)]="tipoBuscar" name="tipoBuscar">
          <option value="" disabled selected hidden>Tipo Consulta</option>
          <option *ngFor="let option of enums.tipo" [value]="option.value">{{ option.label }}</option>
        </select>
        <button type="submit" class="btn btn-primary search-button"
         (click)="filtro()">
          <searchIcon />
        </button>
        <button type="button" class="btn btn-secondary search-button"
         (click)="limpiarInput()">
          <deleteInput />
        </button>
      </form>
    </div>


  </div>


<div class="custom-table-wrapper t-w-d mt-1">
  <table class="custom-table table-hover text-center" >
    <thead class="text-normal">
      <tr>
        <th class="text-center fs-9">Egreso</th>
        <th class="text-center fs-9">Archivar</th>
        <th class="text-center fs-9">Expediente</th>
        <th class="text-center fs-9">Paciente</th>
        <th class="text-center fs-9">Fecha</th>
        <th class="text-center fs-9">Estancia</th>
        <th class="text-center fs-9">Servicio</th>
        <th class="text-center  fs-9">Tipo Consulta</th>
        <th class="text-center fs-9">Status</th>



      </tr>
    </thead>
    <tbody class="justify-content-center  opacity-90">
      <!-- Aquí puedes usar *ngFor para iterar sobre los datos de la vista_citas -->
      <tr *ngFor="let consulta of resumen; let i = index">

        <td class="text-center "  (click)="consultaro(consulta.id)" data-bs-toggle="modal" data-bs-target="#out">
          <goHomeIcon />

      </td>

      <td [routerLink]="['/recept/', consulta.id]" class="text-center">
        <archiveIcon />
      </td>


        <td class="text-center text-warning font-ubuntu" (click)="detalle(consulta.id)" data-bs-toggle="modal" data-bs-target="#verCons">
          <span class="me-1 font-title1">Expediente: </span>{{consulta.expediente}}<br>
          <span class="me-1 font-title1">Hoja Emergencia: </span>{{consulta.hoja_emergencia}}
        </td>

        <td class="text-center">
          <span [ngClass]="{'mujer': consulta.sexo == 'F', 'hombre': consulta.sexo != 'F'}">{{ consulta.nombres | anyToText | capitalizeName }}</span><br>
            {{consulta.apellidos |anyToText | capitalizeName}}
        </td>
        <td class="text-center">
          <span class="me-1 font-title1">Ingreso: </span>  {{consulta.fecha_consulta | anyToText | formatoFecha}}<br>
          <span class="me-1 font-title1">Egreso: </span>  {{consulta.fecha_egreso | anyToText | formatoFecha}}<br>
          <span class="me-1 font-title1">Recepción: </span>  {{consulta.fecha_recepcion | anyToText | formatoFecha}}
        </td>

        <td class="text-center">
          {{ consulta.fecha_consulta | estancia: fechaActual }}

        </td>

        <td class="text-center">
          <span class="font-title1">{{consulta.especialidad | anyToNumber| enumEspecialidad}}</span><br>
          {{consulta.servicio | anyToNumber| enumServicios}}
        </td>
        <td class="text-center">{{consulta.tipo_consulta | anyToNumber| enumTipo }}</td>
        <td class="text-center">{{consulta.status | anyToNumber | enumStatus}}</td>

      </tr>
    </tbody>
      </table>
  </div>


 <!-- Paginación -->
    <div class="d-flex justify-content-center pagination mt-3">
      <div class="btn-group" [class.disabled]="paginaActual === 1" *ngIf="totalPaginas()">
        <button type="button" class="btn btn-secondary" (click)="onPageChange(1)" aria-label="Primera">Primera</button>
        <button type="button" class="btn btn-secondary" (click)="onPageChange(paginaActual - 1)" aria-label="Anterior">Anterior</button>
        <button type="button" class="btn btn-secondary" (click)="onPageChange(paginaActual + 1)" aria-label="Siguiente">Siguiente</button>
        <button type="button" class="btn btn-secondary" (click)="onPageChange(totalPaginas())" aria-label="Última">Última</button>
      </div>
    </div>

    <div class="modal" id="out">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content w-50 ">
          <div class=" p-3">

            <form class="cutom-form">
              <div class="subtitle">Egreso de Pacientes<br>
                <span>exp:{{consulta_.expediente}}</span>
              </div>
              <div class="custom-form-group">
                <select id="encamamiento" class="custom-input" type="text" [(ngModel)]="consulta_.servicio" placeholder="">
                  <option *ngFor="let option of e.encamamiento" [value]="option.value">{{ option.label }}</option>
                </select>
                <div class="cut"></div>
                <label for="encamamiento" id="placeholder" class="" >Encamamiento</label>

                <input id="egreso" class="custom-input" type="date" placeholder="" [(ngModel)]="consulta_.fecha_egreso" (click)="egreso()"  [max]="maxdate">
                <div class="cut"></div>
                <label for="lastname" id="placeholder" class="">Fecha de Egreso</label>
              </div>
              <div class="subtitle">Egreso de Pacientes<br>
                <span>exp:{{consulta_.expediente}}</span>
              </div>
              <div class="search-container">
                <div class="rounded p-2 bg-dark">
                  <div class="search-form">
                    <button type="text" class="btn btn-dark search-button" data-bs-dismiss="modal" (click)="guardarEgreso()">
                      <saveIcon />
                    </button>
                    <button type="text" class="btn btn-dark search-button" data-bs-dismiss="modal">
                      <closeIcon />
                    </button>
                  </div>
                </div>
              </div>

            </form>


          </div>

        </div>
      </div>
    </div>



    <div class="modal fade" id="verCons" role="dialog" aria-labelledby="verCons" aria-hidden="true">
      <div class="modal-dialog modal-md modal-lg" role="document">
        <div class="modal-content w-auto card bg-night">
          <div class="top">
            <div class="circle red"></div>
            <div class="circle yellow"></div>
            <div class="circle green"></div>
          </div>

          <div class="modal-body code-container" id="code">
            <div class="card-header  text-center" >
              Detalles de Consulta: <span class="font-fam">{{consult?.id}}</span>
            </div>
            <div class="modal-body mx-5 font-monospace">
              <div class="text-start">
                <p>&#123;</p>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0 m-0">Hoja de emergencia: </span>
                    <p class="font-value m-0 m-0">{{consult?.hoja_emergencia}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0 m-0">Expediente: </span>
                    <p class="font-value m-0 m-0">{{consult?.expediente}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">Nota: </span>
                    <p class="font-value m-0">{{consult?.nota}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">Paciente: </span>
                    <p class="font-value m-0" id="resalt">{{consult?.nombres | anyToText | capitalizeName}} {{consult?.apellidos | anyToText | capitalizeName}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">Fecha de Nacimiento: </span>
                    <p class="font-value m-0">{{consult?.nacimiento | anyToText | formatoFecha}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">Edad: </span>
                    <p class="font-value m-0">{{consult?.nacimiento | edad}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">Edad de la consulta: </span>
                    <p class="font-value m-0">{{consult?.edad}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">Sexo: </span>
                    <p class="font-value m-0">{{consult?.sexo | anyToText | sexo}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">DPI: </span>
                    <p class="font-value m-0">{{consult?.dpi | anyToText | formatoDPI}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">Dirección: </span>
                    <p class="font-value m-0">{{consult?.direccion | anyToText | capitalizeName}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">Acompañante: </span>
                    <p class="font-value m-0">{{consult?.acompa | anyToText | capitalizeName}} - {{consult?.parente | anyToNumber | enumParentesco}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">Telefonos: </span>
                    <p class="font-value m-0">{{consult?.telefono}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">Fecha de Recepción: </span>
                    <p class="font-value m-0">{{consult?.fecha_recepcion | anyToText | formatoFecha}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">Fecha de Egreso: </span>
                    <p class="font-value m-0">{{consult?.fecha_egreso | anyToText | formatoFecha}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">Fecha y hora de Consulta: </span>
                    <p class="font-value m-0">{{consult?.fecha_consulta | anyToText | formatoFecha}} {{consult?.hora}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">Status: </span>
                    <p class="font-value m-0">{{consult?.status | anyToNumber | enumStatus}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">Folios: </span>
                    <p class="font-value m-0">{{consult?.folios}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">Diagnostico: </span>
                    <p class="font-value m-0">{{consult?.dx}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">Controles Prenatales: </span>
                    <p class="font-value m-0">{{consult?.prenatal}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">Lactancia materna: </span>
                    <p class="font-value m-0">{{consult?.lactancia}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">Medico: </span>
                    <p class="font-value m-0">{{consult?.medico | anyToText | capitalizeName}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">Especialidad: </span>
                    <p class="font-value m-0">{{consult?.especialidad | anyToNumber | enumEspecialidad}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">Servicio: </span>
                    <p class="font-value m-0">{{consult?.servicio | anyToNumber | enumServicios}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">Tipo de Consulta: </span>
                    <p class="font-value m-0">{{consult?.tipo_consulta | anyToNumber | enumTipo}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">Creado Por: </span>
                    <p class="font-value m-0">{{consult?.created_by}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">Archivado Por: </span>
                    <p class="font-value m-0">{{consult?.archived_by}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">Creado el: </span>
                    <p class="font-value m-0">{{consult?.created_at}},</p>
                  </div>
                  <div class="d-flex justify-content-wrap p-0">
                    <span class="me-1 font-title m-0">Actualizado el: </span>
                    <p class="font-value m-0">{{consult?.updated_at}},</p>
                  </div>

                  <p>&#125;</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
