
<app-registros></app-registros>
<div class="justify-content-center console-table">
  <div>
    <p class="text-center display-6">Control de Expedientes</p>
  </div>
  <hr>
  <div class="justify-content-between">
    <form class="d-flex justify-content-between align-items-center gap-1" autocomplete="off">
      <select id="status" class="form-control expande-contenido" [(ngModel)]="statusBuscar" name="statusBuscar">
        <option value="1">Activos</option>
        <option value="2">Archivados</option>
      </select>
      <input type="date" class="form-control text-capitalize text-center expande-contenido" name="fechaBuscar" placeholder="fechaBuscar" [(ngModel)]="fechaBuscar" />
      <input type="number" class="form-control text-capitalize expande-contenido text-center" name="Expediente" placeholder="Expediente" [(ngModel)]="expedienteBuscar" />
      <input type="number" class="form-control bg-opacity-75  text-center expande-contenido" name="Hoja" id="hojaBuscar" placeholder="Emergencia" [(ngModel)]="hojaBuscar" />
      <input type="text" class="form-control  text-capitalize expande-contenido" placeholder="Nombre" name="nombreBuscar" [(ngModel)]="nombreBuscar">
      <input type="text" class="form-control text-capitalize expande-contenido" placeholder="Apellido" name="apellidoBuscar" [(ngModel)]="apellidoBuscar">
      <select id="especialidad" class="form-control expande-contenido" [(ngModel)]="tipoBuscar" name="tipoBuscar">
        <option value="" disabled selected hidden>Tipo Consulta</option>
        <option *ngFor="let option of enums.tipo" [value]="option.value">{{ option.label }}</option>
      </select>
      <button type="submit" class="btn btn border-quatz" (click)="limpiarInput()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eraser-fill" viewBox="0 0 16 16">
        <path d="M8.086 2.207a2 2 0 0 1 2.828 0l3.879 3.879a2 2 0 0 1 0 2.828l-5.5 5.5A2
         2 0 0 1 7.879 15H5.12a2 2 0 0 1-1.414-.586l-2.5-2.5a2 2 0 0 1 0-2.828l6.879-6.879zm.66
          11.34L3.453 8.254 1.914 9.793a1 1 0 0 0 0 1.414l2.5 2.5a1 1 0 0 0 .707.293H7.88a1 1 0 0 0 .707-.293l.16-.16z"/>
      </svg></button>
      <button type="submit" class="btn btn-quatz"  (click)="filtro()">buscar</button>

    </form>

  </div>


<div class="console-table mt-1">
  <table class="table table-hover table-black font-monospace" >
    <thead>
      <tr>
        <th class="text-center">Opciones</th>
        <th class="text-center">Consulta</th>
        <th class="text-center">Expediente ( Emergencia )</th>
        <th class="text-center">Ingreso</th>
        <th class="text-center">Nombre</th>
        <th class="text-center">Egreso</th>
        <th class="text-center">Recepcion</th>
        <th class="text-center">Servicio</th>
        <th class="text-center">Especiealidad</th>
        <th class="text-center">Tipo</th>
        <th class="text-center">Status</th>


      </tr>
    </thead>
    <tbody class="justify-content-center  opacity-90">
      <!-- Aquí puedes usar *ngFor para iterar sobre los datos de la vista_citas -->
      <tr *ngFor="let consulta of resumen">
        <td class="text-center "  (click)="copiarId(consulta.id)" data-bs-toggle="modal" data-bs-target="#opciones">
          <svg xmlns="http://www.w3.org/2000/svg"
          width="16" height="16" fill="currentColor"
            class="bi bi-grip-vertical" viewBox="0 0 16 16">
          <path d="M7 2a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM7 5a1 1 0 1 1-2 0 1 1 0 0 1 2
          0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM7 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-3
          3a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-3 3a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1
          1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
        </svg></td>
        <td class="text-center font-weight-bold  bg-black font-ubuntu" [routerLink]="['/consulta/view/', consulta.id]"> {{consulta.id}}
          <svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" viewBox="0 0 24 24" width="16" height="16"><path d="M10.25 2a8.25 8.25 0 0 1 6.34 13.53l5.69 5.69a.749.749
             0 0 1-.326 1.275.749.749 0 0 1-.734-.215l-5.69-5.69A8.25 8.25 0 1 1 10.25 2ZM3.5 10.25a6.75 6.75 0 1 0 13.5 0 6.75 6.75 0 0 0-13.5 0Z"></path></svg> </td>
        <td class="text-center text-warning font-ubuntu" [routerLink]="['/recept/', consulta.id]">{{consulta.expediente}} ( {{consulta.hoja_emergencia}} ) <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-archive" viewBox="0 0 16 16">
          <path d="M0 2a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v7.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 12.5V5a1 1 0 0 1-1-1V2zm2 3v7.5A1.5 1.5 0 0 0 3.5 14h9a1.5 1.5 0 0 0 1.5-1.5V5H2zm13-3H1v2h14V2zM5 7.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
        </svg></td>
        <td class="text-center"> {{consulta.fecha_consulta | anyToText | formatoFecha}} </td>
        <td class="text-center "> {{consulta.nombres | anyToText |capitalizeName }} {{consulta.apellidos |anyToText | capitalizeName}} </td>
        <td class="text-center"> {{consulta.fecha_egreso | anyToText | formatoFecha}} </td>
        <td class="text-center"> {{consulta.fecha_recepcion | anyToText | formatoFecha}} </td>
        <td class="text-center">{{consulta.servicio | anyToNumber| enumServicios}}</td>
        <td class="text-center">{{consulta.especialidad | anyToNumber| enumEspecialidad}}</td>
        <td class="text-center">{{consulta.tipo_consulta | anyToNumber| enumTipo }}</td>
        <td class="text-center">{{consulta.status | anyToNumber | enumStatus}}</td>

      </tr>
    </tbody>
      </table>
  </div>


 <!-- Paginación -->
    <div class="d-flex justify-content-center pagination mt-3">
      <div class="btn-group" [class.disabled]="paginaActual === 1" *ngIf="totalPaginas()">
        <button type="button" class="btn btn-secondary" (click)="onPageChange(1)" aria-label="Primera">Primera</button>
        <button type="button" class="btn btn-secondary" (click)="onPageChange(paginaActual - 1)" aria-label="Anterior">Anterior</button>
        <button type="button" class="btn btn-secondary" (click)="onPageChange(paginaActual + 1)" aria-label="Siguiente">Siguiente</button>
        <button type="button" class="btn btn-secondary" (click)="onPageChange(totalPaginas())" aria-label="Última">Última</button>
      </div>
    </div>

    <div class="modal" id="opciones">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content bg-light">

          <!-- <button class="btn btn-dark bg-danger my-2" data-bs-dismiss="modal" (click)="eliminar(idCopiado)">Eliminar consulta</button> -->
          <button class="btn btn-info bg-black my-2" data-bs-dismiss="modal" >Editar Consulta</button>

          <button class="btn btn-black" data-bs-dismiss="modal">Cerrar</button>


        </div>
      </div>
    </div>
