<div class="search-container">
  <div class="search-div">
    <form class="search-form" autocomplete="off">
      <input type="text" class="search-input form-control" name="hojaBuscar" id="hojaBuscar" placeholder="Hoja de Emergencia" [(ngModel)]="hojaBuscar" />
      <input type="date" class="search-input form-control" name="fechaBuscar" placeholder="fecha" [(ngModel)]="fechaBuscar" [max]="maxdate" />
      <input type="text" class="search-input form-control" placeholder="Nombre" name="nombreBuscar" [(ngModel)]="nombreBuscar">
      <input type="text" class="search-input form-control" placeholder="Apellido" name="Apellido" [(ngModel)]="apellidoBuscar">
      <input type="text" class="search-input form-control" placeholder="DPI" name="dpiBuscar" [(ngModel)]="apellidoBuscar">
      <div class="div-btn-icons">
        <searchIcon (click)="filtro()"/>
        <deleteInput (click)="limpiarInput()"/>
        <createIcon data-bs-toggle="modal" data-bs-target="#" [routerLink]="['/emergencias']" />
      </div>
    </form>
  </div>
</div>



<div class="custom-table-wrapper mt-2">
  <h3 class="m-0 p-0">Emergencias</h3>
  <table class="custom-table table-hover text-center" >
    <thead class="text-normal">
      <tr>
        <th class="text-center">id</th>
        <th class="text-center">Hoja Emergencia </th>
        <th class="text-center">Paciente</th>
        <th class="text-center">Fecha</th>
        <th class="text-center">Expediente</th>
        <th class="text-center">Status</th>
        <th class="text-center">Opciones</th>
      </tr>
    </thead>
    <tbody class="svg-container">
      <tr *ngFor="let emer of resumen">
        <td class="">
          <p class="text-90">{{emer.id}}</p>
        </td>
        <td class="text-center font-weight-bold text-warning font-monospace h5" > {{emer.hoja_emergencia}}
        </td>
        <td class="text-start">
          <span [ngClass]="{'mujer': emer.sexo == 'F', 'hombre': emer.sexo != 'F'}">{{ emer.nombres | anyToText | capitalizeName }}</span><br>
            {{emer.apellidos |anyToText | capitalizeName}}
        </td>
        <td class="text-start">
          <div class="row text-center" *ngIf="emer.tipo_consulta==3 && emer.fecha_egreso">
            <p class="label-td">Ingreso</p>
              <div>
                {{emer.fecha_consulta | anyToText | formatoFecha}}<br/>
                {{emer.hora}}
              </div>

            <p class="label-td">Egreso</p>
            <div>
              {{emer.fecha_egreso | anyToText | formatoFecha}}<br>
              {{ emer.fecha_consulta | estancia: emer.fecha_egreso }}
            </div>
          </div>
        </td>
        <td class="text-center"> {{emer.expediente}} </td>
        <td class="text-center">
          <ng-container *ngIf="emer.status == 1">
            <activoIcon  />
            <br/>
            <span class="fs-mini">Activo</span>
            </ng-container>
            <ng-container *ngIf="emer.status == 2">
            <archiveIcon  />
            <br/>
            <span class="fs-mini">Archivado</span>
            </ng-container>
            <ng-container *ngIf="emer.status == 3">
              <prestamoIcon  />
              <br/>
              <span class="fs-mini">Prestamo</span>
            </ng-container>
        </td>

        <td class="text-center" >
          <div class="div-btn-opt">
            <editIcon [routerLink]="['/emergencias/edit', emer.id]" />
            <dataViewIcon (click)="detalle(emer.id)" data-bs-toggle="modal" data-bs-target="#verConsulta" />
            <printIcon  />
          </div>
        </td>
      </tr>
    </tbody>
      </table>
  </div>
  <div *ngIf="porcentajeDeProgreso >= 0" class="loader"></div>

 <!-- Paginación -->
    <div class="d-flex justify-content-center pagination mt-3">
      <div class="btn-group" [class.disabled]="paginaActual === 1" *ngIf="totalPaginas()">
        <button type="button" class="btn btn-secondary" (click)="onPageChange(1)" aria-label="Primera">Primera</button>
        <button type="button" class="btn btn-secondary" (click)="onPageChange(paginaActual - 1)" aria-label="Anterior">Anterior</button>
        <button type="button" class="btn btn-secondary" (click)="onPageChange(paginaActual + 1)" aria-label="Siguiente">Siguiente</button>
        <button type="button" class="btn btn-secondary" (click)="onPageChange(totalPaginas())" aria-label="Última">Última</button>
      </div>
    </div>



    <div class="modal" id="verConsulta">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Detale de Consulta</h5>
            <closeIcon />

          </div>
          <div class="modal-body">
            <strong>Hoja de Emergencia:</strong> {{ consult?.hoja_emergencia }}
            <br/>
            <strong>Expediente:</strong> {{ consult?.expediente }}
            <br/>
            <strong>Paciente:</strong> {{ consult?.nombres | anyToText | capitalizeName }} {{ consult?.apellidos | anyToText | capitalizeName }}
            <br/>
            <strong>Fecha de Nacimiento:</strong> {{ consult?.nacimiento| anyToText | formatoFecha }}
            <br/>
            <strong>Edad:</strong> {{ consult?.nacimiento | edad }}
            <br/>
            <strong>Edad de Consulta:</strong> {{ consult?.edad }}
            <br/>
            <strong>Sexo:</strong> {{ consult?.sexo| anyToText | sexo }}
            <br/>
            <strong>DPI:</strong> {{ consult?.dpi | anyToText | formatoDPI }}
            <br/>
            <strong>Dirección:</strong> {{ consult?.direccion | anyToText | capitalizeName }}
            <br/>
            <strong>Acompañante:</strong> {{ consult?.acompa | anyToText | capitalizeName }} - {{ consult?.parente | enumParentesco }}
            <br/>
            <strong>Teléfonos:</strong> {{ consult?.telefono }}
            <br/>
            <strong>Fecha de Recepción:</strong> {{ consult?.fecha_recepcion | anyToText | formatoFecha }}
            <br/>
            <strong>Fecha de Egreso:</strong> {{ consult?.fecha_egreso | anyToText | formatoFecha }}
            <br/>
            <strong>Diagnóstico:</strong> {{ consult?.dx }}
            <br/>
            <strong>Tipo de Consulta:</strong>
            <ng-container *ngIf="consult?.tipo_consulta == 1">
              <coexIcon  />
              <br/>
              <span class="fs-mini">Consulta Externa</span>
            </ng-container>
            <ng-container *ngIf="consult?.tipo_consulta == 2">
              <hospitalizacionIcon  />
              <br/>
              <span class="fs-mini">Hospitalización</span>
            </ng-container>
            <ng-container *ngIf="consult?.tipo_consulta == 3" >
              <emergenciaIcon  />
              <br/>
              <span class="fs-mini">Emergencia</span>
            </ng-container>
            <br/>
            <strong>Médico:</strong> {{ consult?.medico | anyToText |capitalizeName }}
            <br/>
            <strong>Especialidad:</strong> {{ consult?.especialidad | anyToNumber | enumEspecialidad }}
            <br/>
            <strong>Servicio:</strong> {{ consult?.servicio | anyToNumber | enumServicios }}
            <br/>
            <strong>Status:</strong>
            <ng-container *ngIf="consult?.status == 1">
              <activoIcon  />
              <br/>
              <span class="fs-mini">Activo</span>
            </ng-container>
            <ng-container *ngIf="consult?.status == 2">
              <archiveIcon  />
              <br/>
              <span class="fs-mini">Archivado</span>
            </ng-container>
            <ng-container *ngIf="consult?.status == 3">
              <prestamoIcon  />
              <br/>
              <span class="fs-mini">Prestamo</span>
            </ng-container>
            <br/>
            <strong>Controles Prenatales:</strong> {{ consult?.prenatal }}
            <br/>
            <strong>Creado por:</strong> {{ consult?.created_by }}
            <br/>
            <strong>Archivado por:</strong> {{ consult?.archived_by }}
            <br/>
            <strong>Actualizado el:</strong> {{ consult?.updated_at }}

          </div>
        </div>
      </div>
    </div>

    <div class="loader-container">
      <div *ngIf="porcentajeDeProgreso >= 0" class="loader"></div>
    </div>
    <div *ngIf="porcentajeDeProgreso >= 0" class="progress">

      <div class="progress-bar progress-bar-striped progress-bar-animated bg-quatz text-light"
           role="progressbar"
           [style.width.%]="porcentajeDeProgreso"
           [attr.aria-valuenow]="porcentajeDeProgreso"
           aria-valuemin="0"
           aria-valuemax="100">
       <strong class="">C o m p l e t a d o</strong>
      </div>
    </div>
