
<app-registros></app-registros>
<div class="d-flex justify-content-center">
  <h2 class="text-center text-light">Registro de Emeregencias</h2>
</div>
<hr class="bg-light">

<div class="justify-content-center console-table">
  <div class="justify-content-between">
    <form class="d-flex justify-content-between align-items-center" autocomplete="off">
      <input type="text" class="form-control bg-opacity-75 w-20 text-center mx-1" name="hojaBuscar" id="hojaBuscar" placeholder="hoja" [(ngModel)]="hojaBuscar" />
      <input type="text" class="form-control bg-opacity-75 w-20 text-center mx-1" name="expedienteBuscar" placeholder="exp" [(ngModel)]="expedienteBuscar" />
      <input type="date" class="form-control bg-opacity-75 w-20 text-center mx-1" name="fechaBuscar" placeholder="fecha" [(ngModel)]="fechaBuscar" [max]="maxdate" />
      <input type="text" class="form-control w-20 text-capitalize mx-1" placeholder="nombreBuscar" name="nombreBuscar" [(ngModel)]="nombreBuscar">
      <input type="text" class="form-control w-20 text-capitalize mx-1" placeholder="apellidoBuscar" name="apellidoBuscar" [(ngModel)]="apellidoBuscar">
      <input type="text" class="form-control w-20 mx-1" placeholder="DPI" name="dpiBuscar" [(ngModel)]="dpiBuscar">
      <button type="submit" class="btn btn-light mx-1" (click)="filtro()" >buscar</button>
      <button type="button" class="btn btn-light mx-1" (click)="limpiarInput()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eraser-fill" viewBox="0 0 16 16">
        <path d="M8.086 2.207a2 2 0 0 1 2.828 0l3.879 3.879a2 2 0 0 1 0 2.828l-5.5 5.5A2
         2 0 0 1 7.879 15H5.12a2 2 0 0 1-1.414-.586l-2.5-2.5a2 2 0 0 1 0-2.828l6.879-6.879zm.66
          11.34L3.453 8.254 1.914 9.793a1 1 0 0 0 0 1.414l2.5 2.5a1 1 0 0 0 .707.293H7.88a1 1 0 0 0 .707-.293l.16-.16z"/>
      </svg></button>
      <button class="btn btn-info bg-black mx-1 w-2 " [routerLink]="['/emergencias']">Registra Consulta</button>
    </form>

  </div>


<div class="d-5">
  <table class="table console-table" >
    <thead>
      <tr>
        <th></th>
        <th class="text-center">Ver</th>
        <th class="text-center">No. Hoja</th>
        <th class="text-center">Fecha</th>
        <th class="text-center">Hora</th>
        <th class="text-center">Nombre y Apellido</th>
        <th class="text-center">Expediente</th>
        <th class="text-center">id</th>

      </tr>
    </thead>
    <tbody class="">
      <!-- Aquí puedes usar *ngFor para iterar sobre los datos de la vista_citas -->
      <tr *ngFor="let emer of resumen">
        <td class="btn btn-dark btn-sm" [routerLink]="['/emergencias/edit', emer.id]">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
          </svg></td>

        <td class="text-center font-weight-bold text-info font-monospace h5" [routerLink]="['/consulta/view/', emer.id]"> {{emer.hoja_emergencia}}
          <svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" viewBox="0 0 24 24" width="24" height="24"><path d="M10.25 2a8.25 8.25 0 0 1 6.34 13.53l5.69 5.69a.749.749 0 0 1-.326 1.275.749.749 0 0 1-.734-.215l-5.69-5.69A8.25 8.25 0 1 1 10.25 2ZM3.5 10.25a6.75 6.75 0 1 0 13.5 0 6.75 6.75 0 0 0-13.5 0Z"></path></svg>

        </td>
        <td class="text-center"> {{emer.fecha_consulta |anyToText | formatoFecha}} </td>
        <td class="text-center"> {{emer.hora}} </td>
        <td class="text-center"> {{emer.nombres}} {{emer.apellidos}} </td>
        <td class="text-center"> {{emer.expediente}} </td>
        <td class="text-center">{{emer.id}}</td>
      </tr>
    </tbody>
      </table>
  </div>


 <!-- Paginación -->
    <div class="d-flex justify-content-center pagination mt-3">
      <div class="btn-group" [class.disabled]="paginaActual === 1" *ngIf="totalPaginas()">
        <button type="button" class="btn btn-secondary" (click)="onPageChange(1)" aria-label="Primera">Primera</button>
        <button type="button" class="btn btn-secondary" (click)="onPageChange(paginaActual - 1)" aria-label="Anterior">Anterior</button>
        <button type="button" class="btn btn-secondary" (click)="onPageChange(paginaActual + 1)" aria-label="Siguiente">Siguiente</button>
        <button type="button" class="btn btn-secondary" (click)="onPageChange(totalPaginas())" aria-label="Última">Última</button>
      </div>
    </div>

