<div class="d-flex-desktop">
  <div class="search-container col-md-6">
    <div class="div-btn-icons">
      <backIcon [routerLink]="['/citas']" />
      <saveIcon (click)="crearCita()"
      *ngIf="c.especialidad != 9"/>
      <eliminarIcon (click)="borrar()" [routerLink]="['/citas']" />
    </div>
    <h3 class="text-center">Formulario de Citas</h3>
    <form class="custom-form" >
      <div class=" custom-form-group ">
        <table class="border text-center table-responsive">
          <thead>
            <tr>
              <th>Id</th>
              <th>Paciente</th>
              <th>Sexo</th>
              <th>Edad</th>
              <th>Telefono</th>
            </tr>
          </thead>
          <tbody>
            <tr class="p2">
              <td>{{c.id}}</td>
            <td>{{ paciente?.nombre | anyToText | capitalizeName}} {{paciente?.apellido| anyToText | capitalizeName}}</td>
            <td>
              <ng-container *ngIf="paciente?.sexo == 'M'" ><maleIcon /></ng-container>
              <ng-container *ngIf="paciente?.sexo == 'F'"><femIcon /></ng-container>
            </td>
            <td>{{ paciente?.nacimiento | anyToText | edad}}</td>
            <td>{{ paciente?.telefono }} - {{paciente?.telefono_responsable}}</td>
            </tr>
          </tbody>
         </table>
      </div>
      <div class="custom-form-gruop">
        <label class="" for="expediente">Expediente:</label>
        <input type="text" class="custom-input" id="expediente" name="expediente" (change)="paciente_()"  [(ngModel)]='c.expediente'  >
      </div>
      <div class="custom-form-group">
        <label>Especialidad:</label>
        <select class="custom-input" name="especialidad" [(ngModel)]="c.especialidad" name="especialidad" (ngModelChange)=" citasOcupadas($event, c.tipo, c.fecha, $event)">
          <option *ngFor="let option of e.citas" [value]="option.value">{{ option.label }}</option>
        </select>
      </div>
      <div class="custom-form-group">
        <label class="" for="tipo">Tipo de cita:</label>
        <select id="tipo" class="custom-input" [(ngModel)]="c.tipo" name="tipo"  (ngModelChange)="citasOcupadas(c.especialidad, $event, c.fecha, $event)">
          <option value="1">Consulta</option>
          <option value="2">Ingreso / operatorio</option>
          <option *ngIf="c.especialidad == 3" value="3">USG Obstetrico</option>
          <option *ngIf="c.especialidad == 3" value="4">USG Pelvico</option>
          <option *ngIf="c.especialidad == 3" value="5">Colposcopia.</option>
          <option *ngIf="c.especialidad == 3" value="6">USG Endovaginal</option>
          <option value="9">Especial</option>
        </select>
      </div>

      <div class="custom-form-group">
        <label class="" for="nota">Nota:</label>
        <textarea class="custom-input" id="nota" name="nota" rows="4" [(ngModel)]="c.nota" ></textarea>
      </div>

      <div class="custom-form-group">
        <label class="text-light" for="lab" >Laboratorio Clinico en Hospital</label>
        <button class="btn bg-info" (click)="getCitaLab(c.fecha ? c.fecha.toString() : '')">generar</button>
      </div>

      <div class="custom-form-group" *ngIf="c.lab == 1">
        <label class="text-light" for="lab">Fecha realizarse laboratorios</label>
        <input  type="date" class="custom-input" id="fecha_lab" name="fecha_lab" [(ngModel)]="c.fecha_lab" >
      </div>
      <div class="custom-form-group">
        <label class="text-light" for="fecha">Fecha:</label>
        <input type="date" class="custom-input" id="fecha" name="fecha"
          (change)="citasOcupadas(c.especialidad, c.tipo, c.fecha, $event)" [(ngModel)]="c.fecha" placeholder="hoy">
      </div>

      <div class="custom-form-group">
        <p class="text-light mb-0">Día de la semana:</p>
        <p class="custom-input p-2 text-center">{{ selectedDate | diaDeSemana }}</p>
      </div>

    </form>
  </div>

  <div class="search-container col-md-6">
      <table class="custom-table-striped">
        <thead>
          <tr>
            <th class="text-center f-negrita">Especialidad</th>
            <th class="text-center f-negritat">Fecha</th>
            <th class="text-center f-negrita">Día</th>
            <th class="text-center f-negrita">Citas para ese día</th>
            <th class="text-center f-negrita">Citas Disponibles</th>
          </tr>
        </thead>
        <tbody>
          <!-- Aquí puedes usar *ngFor para iterar sobre los datos de la vista_citas -->
          <tr *ngFor="let cita of resumen">
            <td class="text-center text-light ">{{ cita.especialidad | enumCitas}}</td>
            <td class="text-center text-light">{{ cita.dia| formatoFecha }}</td>
            <td class="text-center text-light">{{cita.dia | weekday  }}</td>
            <td class="text-center text-light font-value">{{cita.total_citas}}</td>
            <td *ngIf="cita.especialidad != 9" class="text-center font-value">{{10 - cita.total_citas}}</td>
            <td *ngIf="cita.especialidad == 9" class="text-center  font-value">{{4 - cita.total_citas}}</td>
          </tr>
        </tbody>
          </table>
  </div>
</div>








