<div class="search-container">
  <div class="div-btn-icons">
    <backIcon [routerLink]="['/consNac']" />
    <saveIcon (click)="guardar()" />
  </div>
  <div class="div-search d-flex justify-content-center">
    <div class="custom-form-group">
      <label for="doc">Documento:</label>
      <input type="text" name="doc" id="doc" class="custom-input text-center" [(ngModel)]="constancia.doc" autocomplete="off">
    </div>
    <div class="custom-form-group">
      <label for="correlativo">Correlativo:</label>
      <input type="text" name="correlativo" id="correlativo" class="custom-input text-center" placeholder="cor" [(ngModel)]="constancia.cor" autocomplete="off">
    </div>
    <div class="custom-form-group">
      <label for="año">Año:</label>
      <input type="text" name="año" id="año" class="custom-input text-center" [(ngModel)]="constancia.ao" placeholder="año" autocomplete="off">
    </div>

  </div>

</div>
<h3 class="text-center">Formulario Constancia de Nacimiento</h3>
<form class="custom-form">
  <div class="custom-form-group">
    <label>Nombre</label>
    <input type="text" id="nombre" class="custom-input" [(ngModel)]="constancia.madre" placeholder="Nombre" autofocus autocomplete="off">
  </div>
  <div class="custom-form-group">
    <label>CUI</label>
    <input  type="number" class="custom-input" name="dpi" id="dpi" [(ngModel)]="constancia.dpi" autocomplete="off">
  </div>
  <div class="custom-form-group">
    <label>Pasaporte</label>
    <input  type="text" class="custom-input" name="passport" id="passport" [(ngModel)]="constancia.passport" autocomplete="off">
  </div>
  <div class="custom-form-group" *ngIf="!constancia.dpi">
    <label>Certificado de Nacimiento</label>
    <div class="d-flex justify-content-between gap-1">
      <input  type="text" class="custom-input" name="folio" id="folio" [(ngModel)]="constancia.folio" placeholder="folio" autocomplete="off">
      <input  type="text" class="custom-input" name="partida" id="partida" [(ngModel)]="constancia.partida" placeholder="partida" autocomplete="off">
      <input  type="text" class="custom-input" name="libro" id="libro" [(ngModel)]="constancia.libro" placeholder="libro" autocomplete="off">
    </div>
  </div>
  <div class="custom-form-group" *ngIf="constancia.passport">
    <label>Pais</label>
    <input  type="text" class="custom-input" name="pais" id="pais" [(ngModel)]="constancia.pais" autocomplete="off">
  </div>
  <div class="custom-form-group">
    <label>Nacionalidad</label>
    <select class="custom-input " name="nacionalidad" id="nacionalidad" [(ngModel)]="constancia.nacionalidad" autofocus>
      <option  *ngFor="let option of d.nation" [value]="option.value">{{option.label}}</option>
    </select>
  </div>
  <div class="custom-form-group">
    <label>Vecindad</label>
    <select class="custom-input " name="vecindad" id="vecindad" [(ngModel)]="constancia.vecindad" autofocus>
      <option  *ngFor="let option of d.vecindad" [value]="option.value">{{option.label}}</option>
    </select>
  </div>
  <div class="custom-form-group">
    <label>Sexo del Recien Nacido</label>
    <select class="custom-input" name="sexo" id="sexo" [(ngModel)]="constancia.sexo_rn" autofocus>
      <option class="bg-info" value="M">Masculino</option>
      <option class="rosado" value="F">Femenino</option>
      <option class="bg-light" value="I">Indefinido</option>
    </select>
  </div>
  <div class="custom-form-group">
    <label>Peso del Recien Nacido</label>
    <div class="d-flex gap-1 justify-content-center">
      <div class="custom-form-group w-100">
        <label>Libras</label>
        <input class="custom-input text-center" type="number" id="lb" name="lb" min="0" placeholder="Libras" [(ngModel)]="constancia.lb" autocomplete="off">
      </div>
      <div class="custom-form-group w-100">
        <label>Onzas</label>
        <input class="custom-input text-center" type="number" id="onz" name="onz" min="0" placeholder="Onzas" [(ngModel)]="constancia.onz" autocomplete="off">
      </div>
      </div>
  </div>

  <div class="custom-form-group">
    <label>Datos del Parto</label>
    <div class="d-flex gap-1 justify-content-center">
      <div class="custom-form-group w-100">
        <label>Tipo de Parto</label>
        <select  type="text" class="custom-input" name="tipo_parto" id="tipo_parto" [(ngModel)]="constancia.tipo_parto">
          <option  *ngFor="let option of parto.tipoparto" [value]="option.value">{{option.label}}</option>
        </select>
      </div>
      <div class="custom-form-group w-100">
        <label>Clase de Parto</label>
        <select  type="text" class="custom-input" name="clase_parto" id="clase_parto" [(ngModel)]="constancia.clase_parto">
          <option  *ngFor="let option of parto.claseparto" [value]="option.value">{{option.label}}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="custom-form-group">
    <label>Hijos Nacidos</label>
    <div class="d-flex gap-1 justify-content-center">
      <div class="custom-form-group w-100">
        <label>Vivos</label>
        <input  type="number" class="custom-input text-center" name="vivos" id="vivos" [(ngModel)]="constancia.vivos" min="0" (ngModelChange)="actualizarHijos()" autofocus autocomplete="off">
      </div>
      <div class="custom-form-group w-100">
        <label>Muertos</label>
        <input  type="number" class="custom-input text-center" name="muertos" id="muertos" [(ngModel)]="constancia.muertos" min="0" (ngModelChange)="actualizarHijos()" autofocus autocomplete="off">
      </div>
      <div class="custom-form-group w-100">
        <label>Total</label>
        <input  type="number" class="custom-input text-center" min="0" name="hijos" id="hijos"  [(ngModel)]="hijosNacidos" autocomplete="off">
      </div>
    </div>
  </div>
  <div class="custom-form-group">
    <label>Medico que atendio</label>
    <div class="custom-form-group w-100">
      <label>Nombre del Medico</label>
      <select  type="text" class="custom-input" name="medico" id="medico" [(ngModel)]="constancia.medico" (ngModelChange)="medico(constancia.medico)">
        <option class="fs-mini"  *ngFor="let m of medicos" [ngValue]="m.name">{{ m.name }} {{m.colegiado}}</option>
      </select>
    </div>
    <div class="d-flex gap-1 justify-content-center">
      <div class="custom-form-group w-100">
        <label>Colegiado</label>
        <input  type="text" class="custom-input" name="colegiado" id="colegiado" [(ngModel)]="constancia.colegiado" (ngModelChange)="medico(constancia.colegiado)" autocomplete="off">
      </div>
      <div class="custom-form-group w-100">
        <label>DPI Medico</label>
        <input  type="text" class="custom-input" name="dpi_medico" id="dpi_medico" [(ngModel)]="constancia.dpi_medico"  autocomplete="off">
      </div>

    </div>

  </div>
</form>
