
<div class="justify-content-center console-table">
  <div class="justify-content-between">
    <form class="d-flex justify-content-between align-items-center" autocomplete="off">
      <input type="text" class="form-control bg-opacity-75 w-20 text-center" name="hojaBuscar" id="hojaBuscar" placeholder="hoja" [(ngModel)]="hojaBuscar" />
      <input type="text" class="form-control bg-opacity-75 w-20 text-center" name="expedienteBuscar" placeholder="exp" [(ngModel)]="expedienteBuscar" />
      <input type="date" class="form-control bg-opacity-75 w-20 text-center" name="fechaBuscar" placeholder="fecha" [(ngModel)]="fechaBuscar" [max]="maxdate" />
      <input type="text" class="form-control rounded w-20 text-capitalize mx-1" placeholder="nombreBuscar" name="nombreBuscar" [(ngModel)]="nombreBuscar">
      <input type="text" class="form-control rounded w-20 text-capitalize mx-1" placeholder="apellidoBuscar" name="apellidoBuscar" [(ngModel)]="apellidoBuscar">
      <input type="text" class="form-control rounded w-20 mx-1" placeholder="DPI" name="dpiBuscar" [(ngModel)]="dpiBuscar">
      <button type="submit" class="btn btn-outline" (click)="filtro()" >buscar</button>
      <button type="button" class="btn btn-outline" (click)="limpiarInput()">x</button>
    </form>

  </div>


<div class="d-5">
  <table class="table console-table" >
    <thead>
      <tr>
        <th></th>
        <th class="text-center">ID</th>
        <th class="text-center">Fecha</th>
        <th class="text-center">Hora</th>
        <th class="text-center">Nombre</th>
        <th class="text-center">Fecha Egreso</th>
        <th class="text-center">Exp</th>

      </tr>
    </thead>
    <tbody class="">
      <!-- Aquí puedes usar *ngFor para iterar sobre los datos de la vista_citas -->
      <tr *ngFor="let ingreso of resumen">
        <td class="text-center"  (click)="copiarId(ingreso.id)" data-bs-toggle="modal" data-bs-target="#opciones">
          <svg xmlns="http://www.w3.org/2000/svg"
          width="16" height="16" fill="currentColor"
            class="bi bi-grip-vertical" viewBox="0 0 16 16">
          <path d="M7 2a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM7 5a1 1 0 1 1-2 0 1 1 0 0 1 2
          0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM7 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-3
          3a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-3 3a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1
          1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
        </svg></td>
        <td class="text-center font-weight-bold text-primary h5" [routerLink]="['/ingreso/edit', ingreso.id]"> {{ingreso.id}} </td>
        <td class="text-center"> {{ingreso.fecha_consulta}} </td>
        <td class="text-center"> {{ingreso.hora}} </td>
        <td class="text-center"> {{ingreso.nombres}} {{ingreso.apellidos}} </td>
        <td class="text-center"> {{ingreso.fecha_egreso}} </td>
        <td class="text-center">{{ingreso.expediente}}</td>
      </tr>
    </tbody>
      </table>
  </div>


 <!-- Paginación -->
    <div class="d-flex justify-content-center pagination mt-3">
      <div class="btn-group" [class.disabled]="paginaActual === 1" *ngIf="totalPaginas()">
        <button type="button" class="btn btn-secondary" (click)="onPageChange(1)" aria-label="Primera">Primera</button>
        <button type="button" class="btn btn-secondary" (click)="onPageChange(paginaActual - 1)" aria-label="Anterior">Anterior</button>
        <button type="button" class="btn btn-secondary" (click)="onPageChange(paginaActual + 1)" aria-label="Siguiente">Siguiente</button>
        <button type="button" class="btn btn-secondary" (click)="onPageChange(totalPaginas())" aria-label="Última">Última</button>
      </div>
    </div>

    <div class="modal" id="opciones">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

          <button class="btn btn-danger" data-bs-dismiss="modal" (click)="eliminar(idCopiado)">Eliminar consulta</button>
          <button class="btn btn-info" data-bs-dismiss="modal" [routerLink]="['/edit/coex', idCopiado]" >Editar Consulta</button>

          <button class="btn btn-black" data-bs-dismiss="modal">Cerrar</button>


        </div>
      </div>
    </div>
