<div class="search-container">
<div class="div-btn-icons">
  <saveIcon (click)="crear()" autofocus />
  <backIcon (click)="regresar()" />
</div>
<div class="custom-form-group">
  <p class="text-center p-0 my-0 text-warning">Nombre de la Madre: </p>
  <p class="text-center p-0 my-0">{{madre.nombre}} {{madre.apellido}}</p>
</div>

<div class="col-md-3 w-auto">
  <p class="text-center text-warning p-0 my-0"> Expediente de la Madre: </p>
  <p class="text-center p-0 my-0">{{madre.expediente}}</p>
</div>
  <hr>
  <h3 class="text-center">Formulario Registro Recien Nacido</h3>
  <form class="custom-form">
    <div class="custom-form-group">
      <label class="">Expediente</label>
      <input class="custom-input" type="text" name="expediente" placeholder="expediente" [(ngModel)]="rn.expediente" autocomplete="off" disabled="">
    </div>
      <div class="custom-form-group">
        <label class="">Sexo del Recien Nacido</label>
        <select class="custom-input" name="sexo" (click)="nombreDeRN()" [(ngModel)]="rn.sexo">
          <option *ngFor="let opcion of opcionesSexo" [value]="opcion.valor">{{ opcion.label }}</option>
        </select>
      </div>
      <div class="custom-form-group">
        <label class="">Semana Gestacional</label>
       <input class="custom-input" type="number" name="gestacional" placeholder="gestacional" max="42" min="24">
      </div>
      <div class="custom-form-group">
        <label class="">Peso en Libras</label>
       <input class="custom-input" type="number" name="lb" placeholder="Libras" max="11" min="1">
      </div>
      <div class="custom-form-group">
        <label class="">Peso en Onzas</label>
       <input class="custom-input" type="number" name="onz" placeholder="Onzas" max="15" min="0">
      </div>


      <div class="custom-form-group">
        <label class="">es Gemelo?</label>
        <select class="custom-input" name="gemelo" id="gemelo" [(ngModel)]="rn.gemelo">
          <option class="bg-dark" value="">NO</option>
          <option class="bg-dark" value="si">SI</option>
        </select>
      </div>

      <div class="custom-form-group">
        <label class="">Fecha de Nacimiento</label>
        <input class="custom-input" type="date" name="nacimiento" placeholder="fecha de nacimiento" [(ngModel)]="rn.nacimiento" max="maxdate" autocomplete="off" >
      </div>


      <div class="custom-form-group">
        <label>Nombre</label>
        <input class="custom-input" type="text" name="nombre" placeholder="nombre de rn" [(ngModel)]="rn.nombre" autocomplete="off" disabled="">
      </div>

      <div class="custom-form-group">
        <label>Apellido</label>
        <input class="custom-input" type="text" name="apellido" placeholder="apellidos de rn" [(ngModel)]="rn.apellido" autocomplete="off" disabled="">
      </div>


    <div class="custom-form-group">
      <div class="custom-form-group">
        <label>Madre</label>
        <input class="custom-input" type="text" name="madre" placeholder="madre" [(ngModel)]="rn.madre" autocomplete="off" disabled="">
      </div>

      <div class="custom-form-group">
        <label>Padre</label>
        <input class="custom-input" type="text" name="padre" placeholder="padre" [(ngModel)]="rn.padre" autocomplete="off" >
      </div>
    </div>

    <div class="custom-form-group">
      <div class="custom-form-group">
        <label>Telefono Familiar</label>
        <input class="custom-input" type="number" name="telefono_responsable" placeholder="telefono de responsable" [(ngModel)]="rn.telefono_responsable" autocomplete="off">
      </div>

      <div class="custom-form-group">
        <label>Telefono</label>
        <input class="custom-input" type="text" name="telefono" placeholder="telefono" [(ngModel)]="rn.telefono" autocomplete="off" >
      </div>
    </div>

    <hr>


  </form>




</div>
