  <div class="search-container">
    <div class="search-div">
      <form class="search-form" autocomplete="off">
        <!-- Campos de búsqueda -->
        <input
          type="text"
          class="search-input form-control"
          name="expediente"
          placeholder="Expediente"
          [(ngModel)]="expedienteBuscar"
        />
        <input
          type="text"
          class="search-input form-control"
          placeholder="Nombre"
          name="nombreBuscar"
          [(ngModel)]="nombreBuscar"
        />
        <input
          type="text"
          class="search-input form-control"
          placeholder="Apellido"
          name="apellidoBuscar"
          [(ngModel)]="apellidoBuscar"
        />
        <input
        class="search-input form-control"
          type="text"
          placeholder="DPI"
          name="dpiBuscar"
          [(ngModel)]="dpiBuscar"
        />

        <div class="div-btn-icons">
          <searchIcon (click)="filtro()"/>
          <deleteInput (click)="limpiarInput()"/>
          <createIcon data-bs-toggle="modal" data-bs-target="#formularioModalP" />
        </div>

      </form>
    </div>
  </div>


    <div class="custom-table-wrapper  mt-2">
      <h3 class="m-0 p-0">Pacientes</h3>
      <table class="custom-table table-hover text-center">
        <thead class="text-normal">
          <tr>
            <th  (click)="sortTable('id')">ID</th>
            <th  (click)="sortTable('expediente')">Expediente</th>
            <th  (click)="sortTable('sexo')">Sexo</th>
            <th  (click)="sortTable('nombre')">Paciente</th>
            <th  (click)="sortTable('dpi')">DPI</th>
            <th  (click)="sortTable('nacimiento')">Edad</th>
            <th  (click)="sortTable('nacimiento')">Fecha Nacimiento</th>
            <th  (click)="sortTable('estado')">Estado</th>
            <th > opciones</th>
          </tr>
        </thead>
        <tbody class="svg-container " >
          <tr *ngFor="let paciente of resumen">
            <td >
              <p class="text-90">{{ paciente.id }}</p>
            </td>
            <td class="font-title text-center text-warning" >
              <span>{{ paciente.expediente }} </span>
            </td>
            <td class="text-center b-shadow">
              <ng-container *ngIf="paciente.sexo == 'F'; else man">
               <femIcon/>
              </ng-container>
              <ng-template #man>
                <ng-container *ngIf="paciente.sexo == 'M'; else NoneBl">
                  <maleIcon/>
                </ng-container>
              </ng-template>
              <ng-template #NoneBl>
                <span class="text-warning">SIn Registrar !!!</span>
                <atentionIcon />
              </ng-template>
            </td>
            <td class="text-start text-justify"   appHighlightWords >
              <gemeloIcon *ngIf="paciente.gemelo == 'si'" />
              <span [ngClass]="{'mujer': paciente.sexo == 'F', 'hombre': paciente.sexo != 'F'}">{{ paciente.nombre | capitalizeName }}</span> <br>
              {{ paciente.apellido | capitalizeName }}

            </td>

            <td class="text-center">{{ paciente.dpi | anyToText | formatoDPI }}</td>

            <td class="text-center">{{ paciente.nacimiento | edad }}</td>
            <td class="text-center">{{ paciente.nacimiento | anyToText | formatoFecha}}</td>
            <td class="text-center">
              <ng-container *ngIf="paciente.estado === 'v'; else dead">
                <beatIcon/>
              </ng-container>
              <ng-template #dead>
                <ghostIcon/>
                <br/>
                <span class="fs-9">{{paciente.fechaDefuncion}}</span>

              </ng-template>
            </td>
            <td class="small">
              <div class="div-btn-opt">
                <dataViewIcon (click)="abrirModal(paciente)" data-bs-toggle="modal" data-bs-target="#ver" />
                <babyFootIcon *ngIf="paciente.sexo === 'F' && calcularEdad(paciente.nacimiento) > 12 && calcularEdad(paciente.nacimiento) < 50" [routerLink]="['/rn/', paciente.expediente]" />
                <editIcon [routerLink]="['/paciente/edit', paciente.id]"  />
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>



  <!-- Paginación -->
    <div class="d-flex justify-content-center pagination mt-3">
      <div class="btn-group" [class.disabled]="paginaActual === 1" *ngIf="totalPaginas()">
        <button type="button" class="btn btn-secondary" (click)="onPageChange(1)" aria-label="Primera">Primera</button>
        <button type="button" class="btn btn-secondary" (click)="onPageChange(paginaActual - 1)" aria-label="Anterior">Anterior</button>
        <button type="button" class="btn btn-secondary" (click)="onPageChange(paginaActual + 1)" aria-label="Siguiente">Siguiente</button>
        <button type="button" class="btn btn-secondary" (click)="onPageChange(totalPaginas())" aria-label="Última">Última</button>
      </div>
    </div>





  <div class="modal" id="formularioModalP">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Formulario de Creación de Pacientes</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body">
      <formulario-paciente></formulario-paciente>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-primary">Save changes</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
        </div>
      </div>
    </div>
  </div>



  <div class="modal" id="ver">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            Datos del Paciente
          </h5>
          <closeIcon />
        </div>
      <div class="modal-body">
        <strong>Expediente:</strong> {{ patient?.expediente }}
        <br>
        <strong>Nombre:</strong> {{ patient?.nombre | anyToText | capitalizeName }} {{ patient?.apellido | anyToText | capitalizeName }}
        <br>
        <strong>Fecha de Nacimiento:</strong> {{ patient?.nacimiento | anyToText | formatoFecha }}
        <br>
        <div *ngIf="patient?.estado === 'm'">
          <strong>Fecha de Defuncion:</strong> <deadIcon/> {{ patient?.fechaDefuncion | anyToText | formatoFecha }}
        </div>
        <br>
        <strong>Edad:</strong> {{ patient?.nacimiento | edad }}
        <br>
        <strong>Sexo:</strong>
        <ng-container *ngIf="patient?.sexo == 'F'; else man">
          <femIcon/>
         </ng-container>
         <ng-template #man>
           <ng-container *ngIf="patient?.sexo == 'M'; else NoneBl">
             <maleIcon/>
           </ng-container>
         </ng-template>
         <ng-template #NoneBl>
           <span class="text-warning">SIn Registrar !!!</span>
         </ng-template>
        <br>
        <strong>DPI:</strong> {{ patient?.dpi | anyToText | formatoDPI }}
        <br>
        <strong>Nacionalidad:</strong> {{ patient?.nacionalidad | anyToNumber | enumNacion }}
        <br>
        <strong>Lugar de Nacimiento:</strong> {{ patient?.lugar_nacimiento | anyToNumber | enumVecindad }}
        <br>
        <strong>Estado civil:</strong> {{ patient?.estado_civil | anyToNumber | enumCivil }}
        <br>
        <strong>Ocupación:</strong> {{ patient?.ocupacion | anyToText | capitalizeName}}
        <br>
        <strong>Nivel Academico:</strong> {{ patient?.educacion | anyToNumber | enumEducacion }}
        <br>
        <strong>Direccion:</strong>{{ patient?.direccion | anyToText | capitalizeName }}, {{patient?.municipio | anyToNumber | enumMunicipio | capitalizeName}}, <br> {{patient?.depto | anyToNumber | enumDepto | capitalizeName}}
        <br>
        <strong>Telefono:</strong> {{ patient?.telefono }}
        <br>
        <strong>Telefono del Responsable:</strong> {{ patient?.telefono_responsable }}
        <br>
        <strong>Parentesco:</strong> {{ patient?.parentesco | anyToNumber | enumParentesco }}
        <br>
        <strong>Conyugue:</strong> {{ patient?.conyugue }}
        <br>
        <strong>Madre:</strong> {{ patient?.madre }}
        <br>
        <strong>Padre:</strong> {{ patient?.padre }}
        <br>
        <strong>DPI de Responsable:</strong> {{ patient?.dpi_responsable | anyToText | formatoDPI }}
        <br>
        <strong>Responsable:</strong> {{ patient?.responsable | anyToText | capitalizeName }}
        <br>
        <strong>Creado por:</strong>
        {{ patient?.created_by | anyToText | capitalizeName }}
        </div>
      </div>
    </div>
  </div>


  <div *ngIf="porcentajeDeProgreso >= 0" class="d-flex justify-content-center">
    <div aria-label="Orange and tan hamster running in a metal wheel" role="img" class="wheel-and-hamster">
      <div class="wheel"></div>
      <div class="hamster">
        <div class="hamster__body">
          <div class="hamster__head">
            <div class="hamster__ear"></div>
            <div class="hamster__eye"></div>
            <div class="hamster__nose"></div>
          </div>
          <div class="hamster__limb hamster__limb--fr"></div>
          <div class="hamster__limb hamster__limb--fl"></div>
          <div class="hamster__limb hamster__limb--br"></div>
          <div class="hamster__limb hamster__limb--bl"></div>
          <div class="hamster__tail"></div>
        </div>
      </div>
      <div class="spoke"></div>
    </div>
  </div>

  <div *ngIf="porcentajeDeProgreso >= 0" class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated bg-quatz text-light"
         role="progressbar"
         [style.width.%]="porcentajeDeProgreso"
         [attr.aria-valuenow]="porcentajeDeProgreso"
         aria-valuemin="0"
         aria-valuemax="100">
     <strong class="">C o m p l e t a d o</strong>
    </div>
  </div>


