<div class="d-flex bg-primary w-100 py-3 px-2">

  <div class="d-flex ml-auto"> <!-- Agrega la clase ml-auto aquí -->

  </div>
</div>


<div class="container-fluid ">
  <div class="row">
    <div class="col-md-6">
      <!-- Contenido del formulario -->
      <form class="p-1 bg-light bg-opacity-15 p-3 card">
        <div class="card-header text-center text-light h3">Registro de Hoja de Emergencia</div>

        <div class="card-body">
        <div class="form-group">
          <label for="hoja_emergencia" class="text-light">Hoja de Emeregncia:</label>
          <input type="number" class="form-control text-uppercase" id="hoja_emergencia" name="hoja_emergencia" [(ngModel)]="emergencia.hoja_emergencia">
        </div>

        <div class="form-group d-flex mt-3 align-items-center">
          <label class="text-light" for="fecha">Fecha:</label>
          <input type="date" class="form-control w-50 mx-2" name="fecha_consulta" placeholder="dd-mm-yyyy" [(ngModel)]="emergencia.fecha_consulta" [max]="maxdate">
          <label class="text-light mx-2" for="hora">Hora:</label>
          <input type="time" class="form-control w-25 text-uppercase" id="hora" name="hora"
             placeholder="hh:mm" [(ngModel)]="emergencia.hora">
        </div>

        <div class="form-group d-flex">

        </div>


        <div class="form-group mt-2">
          <label class="text-light" for="apellidos">Apellidos:</label>
          <input type="text" class="form-control text-uppercase" id="apellidos" name="apellidos" placeholder="apellidos" [(ngModel)]="emergencia.apellidos">
        </div>

        <div class="form-group mt-2">
          <label class="text-light" for="nombres">Nombres:</label>
          <input type="text" class="form-control text-uppercase" id="nombres" name="nombres" placeholder="nombres" [(ngModel)]="emergencia.nombres">
        </div>

        <div class="form-group mt-2">
          <label class="text-light" for="nacimiento">Fecha de nacimiento:</label>
          <div class="d-flex">
            <input type="date" class="form-control w-50 text-uppercase" id="nacimiento" name="nacimiento" placeholder="nacimiento" [(ngModel)]="emergencia.nacimiento" [max]="maxdate" >
            <button class="btn btn-info bg-black bg-opacity-25 mx-2" (click)="calcularedad()">Calcular edad</button>
            <span></span>
          </div>
        </div>

        <div class="form-group d-flex mt-3 justify-content-center align-items-center">
          <label class="text-light" for="edad">Edad:</label>
          <input type="text" class="form-control w-15 mx-1 text-uppercase" id="años" name="edadAños" placeholder="años" [(ngModel)]="edadA" min="0" max="150">
          <input type="text" class="form-control w-15 mx-1 text-uppercase" id="meses" name="edadMeses" placeholder="meses" [(ngModel)]="edadMeses" min="0" max="11">
          <input type="text" class="form-control w-15 mx-1 text-uppercase" id="dias" name="edadDias" placeholder="dias" [(ngModel)]="edadDias" min="0" max="30">

          <button class="btn btn-info bg-black bg-opacity-25 w-40 text-light" (click)="calcularNacimiento()">Calcular Nacimiento</button>
        </div>

        <div class="form-group mt-3">
          <label class="text-light" for="sexo">Sexo:</label>
          <select id="sexo" class="form-control bg-light text-uppercase " [(ngModel)]="emergencia.sexo" name="sexo" autofocus>
            <option value=""></option>
            <option value="M">Masculino</option>
            <option value="F">Femenino</option>
          </select>
        </div>

        <div class="form-group mt-3">
          <label class="text-light" for="telefono">Teléfono:</label>
          <input type="text" id="telefono" name="telefono" class="form-control bg-light text-uppercase" [ngModel]="emergencia.telefono"  placeholder="telefono" autofocus espaciosNumeros>
          <span></span>
        </div>

        <div class="form-group mt-3">
          <label class="text-light" for="DPI/CUI de paciente">DPI/CUI:</label>
          <input type="text" class="form-control text-uppercase" id="dpi" name="dpi" placeholder="DPI/CUI" [(ngModel)]="emergencia.dpi" appDpi >
          <span></span>
        </div>

        <div class="form-group mt-3">
          <label class="text-light" for="direccion">Dirección:</label>
          <input type="text" class="form-control text-uppercase" id="direccion" name="direccion" placeholder="direccion" [(ngModel)]="emergencia.direccion" >
          <span></span>
        </div>

        <div class="form-group mt-3">
          <label class="text-light" for="acompañante">Acompañante:</label>
          <input type="text" class="form-control text-uppercase" id="acompañante" name="acompañante" placeholder="acompañante"  [(ngModel)]="emergencia.acompa" >
          <span></span>
        </div>

        <div class="form-group mt-3">
          <label class="text-light" for="aprentesco">Parentesco:</label>
          <select id="parentesco" class="form-control bg-light text-uppercase" [(ngModel)]="emergencia.parente" name="parente" autofocus>
            <option  *ngFor="let option of e.parents" [value]="option.value">{{option.label}}</option>
          </select>
        </div>

        <div class="form-group mt-3">
          <label class="text-light" for="nota">Nota:</label>
          <input type="text" class="form-control text-uppercase" id="nota" name="nota" placeholder="nota" [(ngModel)]="emergencia.nota" >
          <span></span>
        </div>

        <div class="form-group mt-3">
          <label class="text-light" for="nota">Expediente:</label>
          <input type="text" class="form-control text-uppercase" id="expediente" name="expediente" placeholder="expediente" [(ngModel)]="emergencia.expediente" >
          <span></span>
        </div>

      </div>
      <div class="d-flex justify-content-center mx-4 ml-3 align-items-center py-3 px-2">
        <div>
          <button type="submit" class="btn btn-success bg-black" (click)="edit ? editar() :registrarEmergencia()">Guardar</button>
        </div>
        <div class="mx-3">
          <button class="btn btn-danger bg-black">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
              <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58
              0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59
              0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0
              0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1
              .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
              </svg>
          </button>
        </div>
      </div>
      </form>
    </div>
    <div class="col-md-6">
      <!-- Tabla de emergencias -->
      <tabEmerExp
      [nombreBuscar]="emergencia.nombres"
      [apellidoBuscar]="emergencia.apellidos"
      [dpiBuscar]="emergencia.dpi"

      (idPaciente)="emergencia.expediente= $event"

       ></tabEmerExp>
    </div>
  </div>

  <!-- Botones de guardar y eliminar -->

</div>



<div class="modal">
  <input type="text" class="form-control w-20 mx-1" id="edad" name="edad" placeholder="dias" [(ngModel)]="emergencia.edad" disabled="">
  <input type="sumit" class="form-control w-20 rounded text-capitalize mx-1 " placeholder="nombre" name="nombreBuscar"  [(ngModel)]="emergencia.nombres" disabled="">
  <input type="text" class="form-control w-20 rounded text-capitalize mx-1" placeholder="apellido" name="apellidoBuscar"  [(ngModel)]="emergencia.apellidos" disabled="">
  <input type="text" class="form-control w-20 rounded mx-1" placeholder="DPI" name="dpiBuscar"  [(ngModel)]="emergencia.dpi"disabled="">


</div>




