bg-paper {
  background-color: #ffff99;
}

/* Cambiar el color del switch */
.form-check-input:checked {
  background-color: #007bff; /* Cambiar a tu color deseado, en este caso, azul (#007bff) */
  border-color: #007bff;
}

/* Cambiar el color del switch cuando está en hover */
.form-check-input:hover {
  background-color: #0056b3; /* Cambiar a un tono más claro o diferente al hacer hover */
  border-color: #0056b3;
}
