<div class="search-container">
  <div class="div-btn-icons">
    <backIcon [routerLink]="['/cie10']" />
    <saveIcon (click)="edit ? editar() : crear()" />
    <eliminarIcon (click)="borrar()" [routerLink]="['/cie10']" />
    <div class="search-form">
    </div>
  </div>
  <h3 class="text-center">Formulario Cie-10</h3>
  <form class="custom-form" autocomplete="off">
    <div class="custom-form-group">
      <label class="" for="expediente">Codigo Cie-10</label>
      <input type="text" class="custom-input" id="cod" name="cod"  [(ngModel)]='cie.cod' >
    </div>
    <div class="custom-form-group">
      <label class="" for="expediente">Grupo:</label>
      <input type="text" class="custom-input" id="grupo" name="grupo"  [(ngModel)]='cie.grupo' >
    </div>
    <div class="custom-form-group">
      <label class="" for="expediente">Abreviatura:</label>
      <input type="text" class="custom-input" id="abreviatura" name="abreviatura"  [(ngModel)]='cie.abreviatura' >
    </div>
    <div class="custom-form-group">
      <label class="" for="expediente">Diagnostico:</label>
      <textarea type="text" class="custom-input" id="dx" name="dx"  [(ngModel)]='cie.dx' ></textarea>
    </div>

    <div class="custom-form-group">
      <label class="" for="especialidad">Especialidad:</label>
      <select id="especialidad" class="custom-input" [(ngModel)]="cie.especialidad" name="especialidad" >
        <option *ngFor="let option of e.servicio" [value]="option.value">{{ option.label }}</option>
      </select>
    </div>
  </form>
</div>







