<ul class="nav " role="tablist">
  <li class="nav-item" role="presentation">
    <button class="btn nav-link active" data-bs-toggle="tab" href="#pacientes" aria-selected="true" role="tab" [routerLink]="['/pacientes']">
      Pacientes
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="btn nav-link" data-bs-toggle="tab" href="#consultas" aria-selected="false" role="tab" tabindex="-1" [routerLink]="['/consultas']">
      Consultas
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class=" btn nav-link" data-bs-toggle="tab" href="#emergencias" aria-selected="false" role="tab" tabindex="-1" [routerLink]="['/tablaEmergencia']">
      Emergencias
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="btn nav-link" data-bs-toggle="tab" href="#coex" aria-selected="false" role="tab" tabindex="-1" [routerLink]="['/coex']">
      Coex
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="btn nav-link" data-bs-toggle="tab" href="#hospitalizacion" aria-selected="false" role="tab" tabindex="-1" [routerLink]="['/ingresos']">
      hospitalización
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="btn nav-link" data-bs-toggle="tab" href="#recepciones" aria-selected="false" role="tab" tabindex="-1" [routerLink]="['/recepciones']">
      Recepciones
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="btn nav-link" data-bs-toggle="tab" href="#ConsNac" aria-selected="false" role="tab" tabindex="-1" [routerLink]="['/consNac']" >
      Constancias Nacimientos
    </button>
  </li>


</ul>
