<nav class="custom-navbar">
  <ul class="nav" role="tablist">
    <li class="nav-item">
      <button class="nav-link" [routerLink]="['/pacientes']">
        <pacienteIcon />
        <span>Pacientes</span>
      </button>
    </li>
    <li class="nav-item">
      <button class="nav-link" [routerLink]="['/consultas']">
        <consultasIcon />
        <span>Consultas</span>
      </button>
    </li>
    <li class="nav-item">
      <button class="nav-link" [routerLink]="['/tablaEmergencia']">
        <emergenciaIcon />
        <span>Emergencias</span>
      </button>
    </li>
    <li class="nav-item">
      <button class="nav-link" [routerLink]="['/coex']">
        <coexIcon />
        <span>Coex</span>
      </button>
    </li>
    <li class="nav-item">
      <button class="nav-link" [routerLink]="['/ingresos']">
        <hospitalizacionIcon />
        <span>Hospitalización</span>
      </button>
    </li>
    <li class="nav-item">
      <button class="nav-link" [routerLink]="['/recepciones']">
        <archiveIcon />
        <span>Recepciones</span>
      </button>
    </li>
    <li class="nav-item">
      <button class="nav-link" [routerLink]="['/consNac']">
        <documentIcon />
        <span>Constancias Nacimientos</span>
      </button>
    </li>
  </ul>
</nav>
