

<div class="container-fluid mt-5 w-auto" >
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card bg-dark">
        <div class="row justify-content-center mt-1">
          <button type="button" class="btnS bg-black w-auto border-quatz rounded p-1" (click)="regresar()">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5ZM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5Z"/>
            </svg>
            Regresar
          </button>
          <hr class="my-1 p-0 w-auto">
        </div>
        <div class="card-header h4 text-center">
          Detalles de Consulta
          <br>Id:  {{consult?.id}}
        </div>
        <div class="card-body mx-5 font-monospace">
          <strong class="h5 me-3">Hoja de Emergencia:</strong> {{consult?.hoja_emergencia}}<br>
          <strong class="h5 me-3">Expediente:</strong> {{consult?.expediente}}<br>
          <hr>

          <strong class="h5 me-3">Fecha de Recepción:</strong> {{consult?.fecha_recepcion | anyToText | formatoFecha}}<br>
          <strong class="h5 me-3">Fecha de Egreso:</strong> {{consult?.fecha_egreso | anyToText | formatoFecha}}<br>
          <strong class="h5 me-3">Fecha de Consulta:</strong> {{consult?.fecha_consulta | anyToText | formatoFecha}}<br>
          <strong class="h5 me-3">Hora:</strong> {{consult?.hora}}<br>
          <strong class="h5 me-3">Status:</strong> {{consult?.status | anyToNumber | enumStatus}}<br>
          <strong class="h5 me-3">Folios:</strong> {{consult?.folios}}<br>
          <hr>
          <strong class="h5 me-3">Diagnostico:</strong> {{consult?.dx}}<br>
          <strong class="h5 me-3">Controles Prematales:</strong> {{consult?.prenatal}}<br>
          <strong class="h5 me-3">Lactancia Materna:</strong> {{consult?.lactancia}}<br>
          <strong class="h5 me-3">Medico que da Egreso:</strong> {{consult?.medico}}<br>
          <hr>
          <strong class="h5 me-3">Nombres:</strong> {{consult?.nombres | anyToText | capitalizeName}}<br>
          <strong class="h5 me-3">Apellidos:</strong> {{consult?.apellidos | anyToText | capitalizeName}}<br>
          <strong class="h5 me-3">Nacimiento:</strong> {{consult?.nacimiento | anyToText | formatoFecha}}<br>
          <strong class="h5 me-3">Edad en la consulta:</strong> {{consult?.edad}}<br>
          <strong class="h5 me-3">Sexo:</strong> {{consult?.sexo | anyToText | sexo}}<br>
          <strong class="h5 me-3">DPI:</strong> {{consult?.dpi | anyToText | formatoDPI}}<br>
          <hr>
          <strong class="h5 me-3">Dirección:</strong> {{consult?.direccion | anyToText | capitalizeName}}<br>
          <strong class="h5 me-3">Acompañante:</strong> {{consult?.acompa | anyToText | capitalizeName}}<br>
          <strong class="h5 me-3">Parentesco:</strong> {{consult?.parente}}<br>
          <strong class="h5 me-3">Teléfono:</strong> {{consult?.telefono}}<br>
          <hr>
          <strong class="h5 me-3">Especialidad:</strong> {{consult?.especialidad | anyToNumber | enumEspecialidad}}<br>
          <strong class="h5 me-3">Servicio:</strong> {{consult?.servicio | anyToNumber | enumServicios}}<br>
          <strong class="h5 me-3">Tipo de Consulta:</strong> {{consult?.tipo_consulta | anyToNumber | enumTipo}}<br>
          <strong class="h5 me-3">Medico:</strong> {{consult?.medico | anyToText | capitalizeName}}<br>
          <strong class="h5 me-3">Creado Por:</strong> {{consult?.created_by}}<br>
          <strong class="h5 me-3">Archivado Por:</strong> {{consult?.archived_by}}<br>
          <strong class="h5 me-3">Creado el:</strong> {{consult?.created_at}}<br>
          <strong class="h5 me-3">Actualizado el:</strong> {{consult?.updated_at}}<br>



        </div>
      </div>
    </div>
  </div>
</div>
