<div class="search-container">
  <div class="div-btn-icons">
    <eliminarIcon (click)="confirmarBorrar()" />
    <cambioIcon  *ngIf="traslado== true" (click)="traslado_exp()" />
    <saveIcon *ngIf="traslado== false" (click)="edit ? editar() : crearPaciente()" />
    <backIcon (click)="modal ? closeModal() : regresar()" />
    <div class="search-form">
    </div>
  </div>
  <h3 class="text-center">Formulario Paciente</h3>
  <form class="custom-form" autocomplete="off">
    <!-- Estado (Vivo/Fallecido) -->
    <div class="custom-form-group">

      <label class="switch-wrapper">
        <input type="checkbox" id="estadoCheckbox"  name="estado" [checked]="p.estado === 'v'" (change)="cambiarEstado()">
        <div class="switch-toggle"></div>
        <p>{{ p.estado === 'm' ? 'Fallecido' : 'Vivo' }}</p>
      </label>


      <div *ngIf="p.estado == 'm'" class="custom-form-date-group">
        <label>Fecha de Defunción</label>
        <input type="date" id="defuncion" class="custom-input" [(ngModel)]="p.fechaDefuncion" name="defuncion" [max]="maxdate">
        <label>Hora de Defunción</label>
        <input type="time" id="hora" class="custom-input" [(ngModel)]="p.hora_defuncion" name="hora">
      </div>
    </div>

    <!-- Expediente -->
    <div class="custom-form-group">
      <label>Expediente</label>
      <input type="number" id="expediente" class="custom-input" [(ngModel)]="p.expediente" name="expediente" readonly>
    </div>

    <!-- Expediente de Referencia (solo en modo edición) -->
    <div class="custom-form-group" *ngIf="edit == true">
      <label>Expediente de Referencia</label>
      <input type="number" id="exp_ref" class="custom-input" [(ngModel)]="p.exp_ref" name="exp_ref">
      <button class="custom-btn bg-warning w-50 " (click)="confirmarCambio()">Cambiar Expediente</button>
    </div>

    <hr class="custom-divider">

    <!-- Nombre y Apellido -->
    <div class="custom-form-group">
      <label>Nombre *</label>
      <input type="text" class="custom-input" [(ngModel)]="p.nombre" name="nombre" placeholder="Nombre" autofocus>
    </div>
    <div class="custom-form-group">
      <label>Apellido *</label>
      <input type="text" class="custom-input" [(ngModel)]="p.apellido" name="apellido" placeholder="Apellido" autofocus>
    </div>

    <!-- DPI y Pasaporte -->
    <div class="custom-form-group">
      <label>DPI</label>
      <input type="number" id="dpi" class="custom-input" name="dpi" [(ngModel)]="p.dpi" placeholder="DPI" autofocus>
    </div>
    <div class="custom-form-group">
      <label>Pasaporte</label>
      <input type="text" id="pasaporte" class="custom-input" name="pasaporte" [(ngModel)]="p.pasaporte" placeholder="Pasaporte" autofocus>
    </div>

    <!-- Sexo y Fecha de Nacimiento -->
    <div class="custom-form-group">
      <label>Sexo *</label>
      <select id="sexo" class="custom-input" [(ngModel)]="p.sexo" name="sexo" autofocus>
        <option value=""></option>
        <option value="M">Masculino</option>
        <option value="F">Femenino</option>
      </select>
    </div>
    <div class="custom-form-group">
      <label>Fecha de Nacimiento *</label>
      <input type="date" id="nacimiento" class="custom-input" [(ngModel)]="p.nacimiento" name="nacimiento" [max]="maxdate">
    </div>

    <hr class="custom-divider">

    <!-- Nacionalidad y Departamento de Nacimiento -->
    <div class="custom-form-group">
      <label>Nacionalidad</label>
      <select id="nacionalidad" class="custom-input" [(ngModel)]="p.nacionalidad" name="nacionalidad" autofocus>
        <option *ngFor="let option of e.nation" [value]="option.value">{{option.label}}</option>
      </select>
    </div>
    <div class="custom-form-group">
      <label>Departamento de Nacimiento</label>
      <select id="deptoNac" class="custom-input" [(ngModel)]="p.depto_nac" name="deptoNac" (change)="filtrarMunis()">
        <option *ngFor="let option of d.departamentos" [value]="option.value">{{option.label}}</option>
      </select>
    </div>

    <!-- Lugar de Nacimiento y Pueblo -->
    <div class="custom-form-group">
      <label>Lugar de Nacimiento</label>
      <select id="lugarNacimiento" class="custom-input" [(ngModel)]="p.lugar_nacimiento" name="lugarNacimiento">
        <option *ngFor="let option of munisFiltrados" [value]="option.value">{{option.label}}</option>
      </select>
    </div>
    <div class="custom-form-group">
      <label>Pueblo</label>
      <select id="pueblo" class="custom-input" [(ngModel)]="p.pueblo" name="pueblo">
        <option *ngFor="let option of e.people" [value]="option.value">{{option.label}}</option>
      </select>
    </div>

    <!-- Estado Civil y Educación -->
    <div class="custom-form-group">
      <label>Estado Civil</label>
      <select id="estadoCivil" class="custom-input" [(ngModel)]="p.estado_civil" name="estadoCivil">
        <option *ngFor="let option of e.ecivil" [value]="option.value">{{option.label}}</option>
      </select>
    </div>
    <div class="custom-form-group">
      <label>Educación</label>
      <select id="educacion" class="custom-input" [(ngModel)]="p.educacion" name="educacion">
        <option *ngFor="let option of e.academic" [value]="option.value">{{option.label}}</option>
      </select>
    </div>

    <!-- Idioma y Ocupación -->
    <div class="custom-form-group">
      <label>Idioma</label>
      <select id="idioma" class="custom-input" [(ngModel)]="p.idioma" name="idioma">
        <option *ngFor="let option of e.lenguage" [value]="option.value">{{option.label}}</option>
      </select>
    </div>
    <div class="custom-form-group">
      <label>Ocupación</label>
      <input type="text" id="ocupacion" class="custom-input" name="ocupacion" [(ngModel)]="p.ocupacion" placeholder="Ocupación" autofocus>
    </div>

    <hr class="custom-divider">

    <!-- Dirección y Teléfono -->
    <div class="custom-form-group">
      <label>Departamento</label>
      <select id="depto" class="custom-input" [(ngModel)]="p.depto" name="depto" (change)="filtrarMunicipios()">
        <option *ngFor="let option of d.departamentos" [value]="option.value">{{option.label}}</option>
      </select>
    </div>
    <div class="custom-form-group">
      <label>Vecindad</label>
      <select id="vecindad" class="custom-input" [(ngModel)]="p.municipio" name="municipio">
        <option *ngFor="let option of municipiosFiltrados" [value]="option.value">{{option.label}}</option>
      </select>
    </div>
    <div class="custom-form-group">
      <label>Dirección de Domicilio</label>
      <input type="text" id="direccion" class="custom-input" name="direccion" [(ngModel)]="p.direccion" placeholder="Dirección" autofocus>
    </div>

    <div class="custom-form-group">
      <label>Teléfono</label>
      <input type="text" id="telefono" class="custom-input" name="telefono" [ngModel]="p.telefono" (ngModelChange)="formatPhoneNumber($event)" placeholder="Teléfono" autofocus>
    </div>

    <!-- Email y Responsable -->
    <div class="custom-form-group">
      <label>Email</label>
      <input type="email" id="email" class="custom-input" name="email" [(ngModel)]="p.email" placeholder="Email" autofocus>
    </div>
    <div class="custom-form-group">
      <label>Responsable</label>
      <input type="text" id="responsable" class="custom-input" name="responsable" [(ngModel)]="p.responsable" placeholder="Responsable" autofocus>
    </div>

    <!-- Padre y Madre -->
    <div class="custom-form-group">
      <label>Padre</label>
      <input type="text" id="padre" class="custom-input" name="padre" [(ngModel)]="p.padre" placeholder="Padre" autofocus>
    </div>
    <div class="custom-form-group">
      <label>Madre</label>
      <input type="text" id="madre" class="custom-input" name="madre" [(ngModel)]="p.madre" placeholder="Madre" autofocus>
    </div>

    <!-- Conyugue y Parentesco -->
    <div class="custom-form-group">
      <label>Conyugue</label>
      <input type="text" id="conyugue" class="custom-input" name="conyugue" [(ngModel)]="p.conyugue" placeholder="Conyugue" autofocus>
    </div>
    <div class="custom-form-group">
      <label>Parentesco</label>
      <select id="parentesco" class="custom-input" name="parentesco" [(ngModel)]="p.parentesco" name="parentesco_p">
        <option *ngFor="let option of e.parents" [value]="option.value" name="parentesco_v">{{option.label}}</option>
      </select>
    </div>

    <div class="custom-form-group">
      <label>Responsable</label>
      <input type="text" id="responsable" class="custom-input" name="responsable" [(ngModel)]="p.responsable" placeholder="Responsable" autofocus>
    </div>

    <!-- DPI Responsable y Teléfono Responsable -->
    <div class="custom-form-group">
      <label>DPI Responsable</label>
      <input type="number" id="dpiResponsable" name="dpi_responsable" class="custom-input" [(ngModel)]="p.dpi_responsable" placeholder="DPI Responsable" autofocus>
    </div>
    <div class="custom-form-group">
      <label>Teléfono Responsable</label>
      <input type="number" id="telResponsable" name="telefono_responsable" class="custom-input" [(ngModel)]="p.telefono_responsable" placeholder="Teléfono Responsable" autofocus>
    </div>

    <!-- Gemelo -->
    <div class="custom-form-group">
      <label>Gemelo?</label>
      <select id="gemelo" class="custom-input" name="gemelo" [(ngModel)]="p.gemelo" name="gemelo">
        <option value="no">No</option>
        <option value="si">Si</option>
      </select>
    </div>
  </form>
</div>



