<div class="search-container">
  <div class="div-btn-icons">
    <eliminarIcon (click)="borrar()" [routerLink]="['/listProce']" />
    <saveIcon (click)="edit ? editar() : crear()" autofocus />
    <catalogoIcom data-bs-toggle="modal" data-bs-target="#nuevo" />
    <backIcon [routerLink]="['/listProce']" />

    <div class="search-form">
    </div>

  </div>
  <h3 class="text-center">Formulario Procedimiento</h3>
    <form class="custom-form">
      <div class="custom-form-group">
        <label class="" for="fecha">Fecha:</label>
        <input type="date" class="custom-input" id="fecha" name="fecha"  [(ngModel)]='proce.fecha' autofocus>
      </div>
      <div class="custom-form-group">
        <label class="" for="especialidad">Especialidad:</label>
        <select id="especialidad" class="custom-input" [(ngModel)]="proce.especialidad" name="especialidad" autofocus>
          <option *ngFor="let option of e.servicio" [value]="option.value">{{ option.label }}</option>
        </select>
      </div>
      <div class="custom-form-group">
          <label class="" for="especialidad">Servicio:</label>
          <select id="servicio" class="custom-input" [(ngModel)]="proce.servicio" name="servicio" autofocus>
            <option *ngFor="let option of e.serv" [value]="option.value">{{ option.label }}</option>
          </select>
        </div>

        <div class="custom-form-group">
          <label class="" for="expediente">Abreviatura:</label>
          <input type="text" class="custom-input" id="abreviatura" name="abreviatura" (change)="procedimiento()" [(ngModel)]='proce.abreviatura' autofocus autocomplete="off">
        </div>

        <div class="custom-form-group">
          <label class="" for="expediente">Procedimiento:</label>
          <input type="text" class="custom-input" id="procedimiento" name="procedimiento"  [(ngModel)]='proce.procedimiento' disabled="" >
        </div>

        <div class="custom-form-group">
          <label class="" for="sexo">Sexo:</label>
          <select id="sexo" class="custom-input" [(ngModel)]="proce.sexo" name="sexo" autofocus >
            <option  value="M">Masculino</option>
            <option value="F">Femenino</option>
          </select>
        </div>

        <div class="custom-form-group">
          <label class="" for="cantidad">Cantidad:</label>
          <input type="number" class="custom-input text-center" id="cantidad" name="cantidad"  [(ngModel)]='proce.cantidad' min="1" autofocus>
        </div>
    </form>
</div>

<div class="modal" id="nuevo">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Nuevo Procedimiento</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">
    <app-nuevoProce></app-nuevoProce>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
      </div>
    </div>
  </div>
</div>





